force-app/main/default/flows/Account_Flow_Create_Exception_Request_Quick_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Create File from Base64</description>
        <name>Create_File_from_Base64</name>
        <label>Create File from Base64</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CreateFileBase64</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Submit_for_Exception_Request</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Toast</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>base64Data</name>
            <value>
                <elementReference>LWCFasttrack.fileBase64</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileName</name>
            <value>
                <elementReference>LWCFasttrack.fileName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Exception_Request_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateFileBase64</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Exception_Request</name>
        <label>Submit for Exception Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Success_Toast</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Create_Exception_Request_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Fasttrack_Approval_Exception_Request</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <dynamicChoiceSets>
        <name>RequestReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Reason__c</picklistField>
        <picklistObject>Exception_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Type__c</picklistField>
        <picklistObject>Exception_Request__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>PathOnClient</name>
        <dataType>String</dataType>
        <expression>&apos;/&apos; + {!FileTitle}</expression>
    </formulas>
    <formulas>
        <name>RequestEndDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 15</expression>
    </formulas>
    <interviewLabel>Account Flow : Create Exception Request Quick Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Flow : Create Exception Request Quick Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Exception_Request_Record</name>
        <label>Create Exception Request Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_File_from_Base64</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Toast</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Manager__c</field>
            <value>
                <elementReference>$User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_End_Date__c</field>
            <value>
                <elementReference>RequestEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Reason__c</field>
            <value>
                <elementReference>LWCFasttrack.requestReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>LWCFasttrack.requestType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester_Comments__c</field>
            <value>
                <elementReference>LWCFasttrack.description</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Create_Exception_Request</name>
        <label>Create Exception Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Exception_Request_Record</targetReference>
        </connector>
        <fields>
            <name>LWCFasttrack</name>
            <extensionName>c:fasttrackExceptionRequest</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Toast</name>
        <label>Error Toast</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorToast</name>
            <extensionName>c:toastInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Toast</name>
        <label>Success Toast</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessToast</name>
            <extensionName>c:toastInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Exception Request created successfully.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Exception_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ExceptionRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exception_Request__c</objectType>
    </variables>
    <variables>
        <name>FileTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VersionData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
