force-app/main/default/flows/AMC_Service_Appointment_Trigger_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AMC_OD_Reschedule_email</name>
        <label>AMC OD Reschedule email</label>
        <locationX>1018</locationX>
        <locationY>2004</locationY>
        <actionName>ServiceAppointment.AMC_OD_appointment_Reschedule_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Push_notification_for_LiveAldar</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ServiceAppointment.AMC_OD_appointment_Reschedule_Email</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>AMC_OD_Send_email</name>
        <label>AMC OD Send email</label>
        <locationX>314</locationX>
        <locationY>2220</locationY>
        <actionName>ServiceAppointment.AMC_OD_Send_email_on_SA_assigned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Push_notification_for_LiveAldar</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ServiceAppointment.AMC_OD_Send_email_on_SA_assigned</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>AMC_PPM_appointment_Reschedule_Email</name>
        <label>AMC PPM appointment Reschedule Email</label>
        <locationX>754</locationX>
        <locationY>2004</locationY>
        <actionName>ServiceAppointment.AMC_PPM_appointment_Reschedule_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Push_notification_for_LiveAldar</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ServiceAppointment.AMC_PPM_appointment_Reschedule_Email</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>AMC_Send_Email_Alert_to_Supervisor</name>
        <label>AMC Send Email Alert to Supervisor</label>
        <locationX>666</locationX>
        <locationY>1680</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>var_Supervisor_EmailAddressList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>customercare@aldar.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$Record.AppointmentNumber} Status {!$Record.Status}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SupervisorTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>AMC_Service_Appointment_Assigned_Email_Alert</name>
        <label>AMC Service Appointment Assigned Email Alert</label>
        <locationX>50</locationX>
        <locationY>2220</locationY>
        <actionName>ServiceAppointment.AMC_Service_Appointment_Assigned_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Push_notification_for_LiveAldar</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ServiceAppointment.AMC_Service_Appointment_Assigned_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Closing_Notification_to_DLP</name>
        <label>Closing Notification to DLP</label>
        <locationX>2272</locationX>
        <locationY>924</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_PPM_or_Ondemand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.FSLBellNotificationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue> AMC Appointment Closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>For Case :{!$Record.Case__r.CaseNumber} Appointment Closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Closing_Notification_With_DLP_Issue_Found</name>
        <label>Closing Notification  With DLP Issue Found</label>
        <locationX>2008</locationX>
        <locationY>924</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_PPM_or_Ondemand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.FSLBellNotificationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue> AMC Appointment Closed - DLP Issue Found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>AMC case  :{!$Record.Case__r.CaseNumber} closed and found a DLP Issue : {!$Record.ServiceNote} , Please Create a DLP Case.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>CustomerNotAvailableNotification</name>
        <label>CustomerNotAvailableNotification</label>
        <locationX>1744</locationX>
        <locationY>924</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_PPM_or_Ondemand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotifyIds.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ReceipentIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Case Closed on Customer Not Available </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Case closed due to customer not available on the case number:{!$Record.Case__r.CaseNumber}. Please check with customer and schedule another appointment.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>twohrs_before_Reminder_Notification</name>
        <label>2 hrs before Reminder Notification</label>
        <locationX>3064</locationX>
        <locationY>492</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.FSLBellNotificationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ResourceIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Appointment Reminder Notification.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.AppointmentNumber} is scheduled in next 2 hrs.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddGroupIds</name>
        <label>AddGroupIds</label>
        <locationX>1744</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>ReceipentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_GroupId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetNotifyIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddIds</name>
        <label>AddIds</label>
        <locationX>2140</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_DLP_Isssue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AMC_AR_ID</name>
        <label>AMC AR ID</label>
        <locationX>666</locationX>
        <locationY>1572</locationY>
        <assignmentItems>
            <assignToReference>var_SupervisorAndResourceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AMC_Send_Email_Alert_to_Supervisor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AMC_Supervisor_Email_Address_List</name>
        <label>Supervisor Email Address List</label>
        <locationX>666</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>var_Supervisor_EmailAddressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Supervisor_Email_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupervisorAndResourceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Supervisor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Supervisor_id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Supervisor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AMC_AR_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recipients</name>
        <label>Recipients</label>
        <locationX>3064</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>ResourceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Supervisor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>twohrs_before_Reminder_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AMC_Status_Decision</name>
        <label>AMC Status Decision</label>
        <locationX>1799</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AMC_Assigned_Status</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSSK__FSK_Assigned_Service_Resource__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_Resource_Record</targetReference>
            </connector>
            <label>AMC Assigned/Reschedule Status</label>
        </rules>
        <rules>
            <name>AMC_Closed_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Customer_Not_available</targetReference>
            </connector>
            <label>AMC Closed Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Not_available</name>
        <label>Check Customer Not available?</label>
        <locationX>1942</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Get_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Customer_Not_Avaialble</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment_Closure_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Not Available - No Access</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GroupId</targetReference>
            </connector>
            <label>If Customer Not Avaialble</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_DLP_Isssue</name>
        <label>Check For DLP Isssue</label>
        <locationX>2140</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Closing_Notification_to_DLP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DLP_Issue_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DLP_Issue_Found_in_AMC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closing_Notification_With_DLP_Issue_Found</targetReference>
            </connector>
            <label>DLP Issue Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Assigned_Resource_is_Successful</name>
        <label>Check Get Assigned Resource is Successful</label>
        <locationX>1062</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resource_Available</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assigned_Resource_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSSK__FSK_Assigned_Service_Resource__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCA_Response_Milestone</targetReference>
            </connector>
            <label>Resource Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PPM_or_Ondemand</name>
        <label>Check PPM or Ondemand</label>
        <locationX>1942</locationX>
        <locationY>1200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_PPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PPM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Push_notification_for_LiveAldar</targetReference>
            </connector>
            <label>If PPM</label>
        </rules>
        <rules>
            <name>If_AMC_OD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Demand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Od_Milestone</targetReference>
            </connector>
            <label>If AMC OD</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_On_Demand</name>
        <label>If On Demand</label>
        <locationX>3196</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chk_On_Demand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Demand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recipients</targetReference>
            </connector>
            <label>Chk On Demand</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_PPM_Email</name>
        <label>If PPM</label>
        <locationX>314</locationX>
        <locationY>2112</locationY>
        <defaultConnector>
            <targetReference>Push_notification_for_LiveAldar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>chk_PPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PPM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMC_Service_Appointment_Assigned_Email_Alert</targetReference>
            </connector>
            <label>chk PPM</label>
        </rules>
        <rules>
            <name>Chk_On_Demand_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Demand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMC_OD_Send_email</targetReference>
            </connector>
            <label>Chk On Demand</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_PPM_Rescheedule</name>
        <label>If PPM</label>
        <locationX>1018</locationX>
        <locationY>1896</locationY>
        <defaultConnector>
            <targetReference>Push_notification_for_LiveAldar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>chk_PPM_Reschdule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PPM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMC_PPM_appointment_Reschedule_Email</targetReference>
            </connector>
            <label>chk PPM</label>
        </rules>
        <rules>
            <name>Chk_On_Demand_reschedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Demand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMC_OD_Reschedule_email</targetReference>
            </connector>
            <label>Chk On Demand</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Decision</name>
        <label>Record Type Decision</label>
        <locationX>2299</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AMC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PPM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Demand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMC_Status_Decision</targetReference>
            </connector>
            <label>AMC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>666</locationX>
        <locationY>1788</locationY>
        <defaultConnector>
            <targetReference>If_PPM_Rescheedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMC_WO_Update</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
    </decisions>
    <description>Cloned this Flow from &quot; Service Appointment Trigger After Insert | Update -Cloned for Milestone
LiveAldar push notification changes for AMC- Previous working version is V21</description>
    <environments>Default</environments>
    <formulas>
        <name>EmergencyDueDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+2</expression>
    </formulas>
    <formulas>
        <name>msgBodyFormula</name>
        <dataType>String</dataType>
        <expression>CASE(
    TEXT({!$Record.Status}), 
    &quot;Work In Progress&quot;, &quot;Your service appointment is now in progress. We&apos;ll keep you updated on the status.&quot;, 
    &quot;Assessment Completed&quot;, &quot;Your service appointment is now in progress. We&apos;ll keep you updated on the status.&quot;, 
    &quot;Scheduled&quot;, &quot;Your new case has been created and your appointment is scheduled. Check your app for details!&quot;, 
    &quot;Re-scheduled&quot;, &quot;Your appointment has been successfully rescheduled. Check your updated appointment details in the app.&quot;, 
    &quot;En Route&quot;, &quot;Your DLP Executive is on the way! You can track their arrival in the app.&quot;, 
    &quot;Closed&quot;, &quot;Your work order is complete! Your service report has been sent to your app for review.&quot;, 
    &quot;Canceled&quot;, &quot;Your appointment has been cancelled. If this was a mistake, please rebook at your earliest convenience.&quot;, 
    &quot;Cannot Complete&quot;, &quot;The issue you raised is not within our service scope. Please contact customer support for further assistance.&quot;, 
    &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>scheduleEnd</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+1/24</expression>
    </formulas>
    <formulas>
        <name>var_statusToUpdate</name>
        <dataType>String</dataType>
        <expression>Case({!$Record.Status},
&apos;Scheduled&apos;,&apos;Assigned&apos;,
&apos;Re-scheduled&apos;,&apos;Re-scheduled&apos;,
&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>AMC Service Appointment Trigger After Insert | Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AMC Service Appointment Trigger After Insert | Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_Case_Record_With_Supervisor</name>
        <label>Share Case Record With Supervisor</label>
        <locationX>666</locationX>
        <locationY>1248</locationY>
        <connector>
            <targetReference>Share_WO_With_Supervisor</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Supervisor__c</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Share_SA_with_Supervisor</name>
        <label>Share SA with Supervisor</label>
        <locationX>666</locationX>
        <locationY>1140</locationY>
        <connector>
            <targetReference>Share_Case_Record_With_Supervisor</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Supervisor__c</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointmentShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Share_WO_With_Supervisor</name>
        <label>Share WO With Supervisor</label>
        <locationX>666</locationX>
        <locationY>1356</locationY>
        <connector>
            <targetReference>AMC_Supervisor_Email_Address_List</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.Supervisor__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CCA_Response_Milestone</name>
        <label>Get CCA Response Milestone</label>
        <locationX>666</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_CCA_milestone_to_complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCA Response</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_Resource_Record</name>
        <label>Get Assigned Resource Record</label>
        <locationX>1062</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Assigned_Resource_is_Successful</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group</name>
        <label>Get Group</label>
        <locationX>2140</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLP_Managers</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GroupId</name>
        <label>Get GroupId</label>
        <locationX>1744</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddGroupIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCA_group_for_AMC_Case_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Od_Milestone</name>
        <label>Get Od Milestone</label>
        <locationX>1898</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OD_milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolution Time</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotifyIds</name>
        <label>GetNotifyIds</label>
        <locationX>1744</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomerNotAvailableNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CaseCreatedNotifyCCA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AMC_Case_Update</name>
        <label>AMC Case Update</label>
        <locationX>666</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Update_Assigned_Resource_on_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Assigned_Resource_Record.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>var_statusToUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>AMC_Update_WOLI</name>
        <label>AMC Update WOLI</label>
        <locationX>314</locationX>
        <locationY>2004</locationY>
        <connector>
            <targetReference>If_PPM_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>AMC_WO_Update</name>
        <label>AMC WO Update</label>
        <locationX>314</locationX>
        <locationY>1896</locationY>
        <connector>
            <targetReference>AMC_Update_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assigned_Resource_on_SA</name>
        <label>Update Assigned Resource on SA</label>
        <locationX>666</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>Share_SA_with_Supervisor</targetReference>
        </connector>
        <inputAssignments>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
            <value>
                <elementReference>Get_Assigned_Resource_Record.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CCA_milestone_to_complete</name>
        <label>Update CCA milestone to complete</label>
        <locationX>666</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>AMC_Case_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CCA_Response_Milestone.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OD_milestone</name>
        <label>Update OD milestone</label>
        <locationX>1898</locationX>
        <locationY>1416</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Od_Milestone.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <start>
        <locationX>2621</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMC</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Before_2_hrs</name>
            <connector>
                <targetReference>If_On_Demand</targetReference>
            </connector>
            <label>Before 2 hrs</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>SchedStartTime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Push_notification_for_LiveAldar</name>
        <label>Push notification for LiveAldar</label>
        <locationX>1799</locationX>
        <locationY>2664</locationY>
        <flowName>DLP_LiveAldar_Notification_AutoLaunch_Flow</flowName>
        <inputAssignments>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>EmergencyTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear  {!$Record.FSSK__FSK_Assigned_Service_Resource__r.Name},  &lt;span style=&quot;color: rgb(240, 14, 14);&quot;&gt;{!$Record.Emergency_Categeory__c} Appointment has been assigned to you. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;Here are the Details.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(231, 18, 18);&quot;&gt;Unit : &lt;/span&gt;&lt;span style=&quot;color: rgb(231, 18, 18); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Unit_from_case__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(231, 18, 18);&quot;&gt;Subject: {!$Record.Subject}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.FSSK__FSK_Assigned_Service_Resource__r.Name}, Service Appointment {!$Record.AppointmentNumber} status changed to {!$Record.Status} related to Case {!$Record.Case__r.CaseNumber}.</text>
    </textTemplates>
    <textTemplates>
        <name>SupervisorTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!supervisorname}, Details of {!$Record.AppointmentNumber}/{!$Record.Case__r.CaseNumber} have changed. Check the details on &lt;a href=&quot;https://aldarproperties--pruat.sandbox.lightning.force.com/builder_platform_interaction/%7B!$Label.DLPPortalUrl%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;portal&lt;/a&gt;. 
Case Status: {!$Record.Case__r.Status} Appointment Status: {!$Record.Status}</text>
    </textTemplates>
    <variables>
        <name>arabicNotifBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>arabicNotifTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>engNotifBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>engNotifTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Handover_Detail_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HandoverDetails__c</objectType>
    </variables>
    <variables>
        <name>HS_WO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lst_AMCDlpids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.FSLBellNotificationID</elementReference>
        </value>
    </variables>
    <variables>
        <name>NotifyUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrgWideEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.OrgWideEmailAddress</elementReference>
        </value>
    </variables>
    <variables>
        <name>ReceipentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResourceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>supervisorname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Supervisor</stringValue>
        </value>
    </variables>
    <variables>
        <name>Update_WO_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_EmailAddressList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NoOfChildSA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Supervisor_EmailAddressList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Supervisor_id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Supervisor_id2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SupervisorAndResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SupervisorAndResourceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
