force-app/main/default/flows/AMC_Cases_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Customer_Not_Available_Notification</name>
        <label>Customer Not Available Notification</label>
        <locationX>1634</locationX>
        <locationY>1721</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.FSLBellNotificationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>list_CCA_Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Case#{!$Record.CaseNumber} - Closed Due to Customer Not Available</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!NotificationBody}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>DLP_Notification_on_AMC</name>
        <label>DLP Notification on AMC</label>
        <locationX>50</locationX>
        <locationY>1397</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.FSLBellNotificationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>lst_supervisor_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>DLP Issue Found During AMC for {!$Record.CaseNumber} {!SAFirstRecord.ServiceNote}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Please Create a DLP Case.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddIds</name>
        <label>AddIds</label>
        <locationX>50</locationX>
        <locationY>1613</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Group.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_SA_AMC_Record</name>
        <label>Assignment SA AMC Record</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>FirstSAAMCRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_SA_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_SA_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SA_Record</name>
        <label>Assignment SA Record</label>
        <locationX>1326</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SAFirstRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_SA_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_AMC_Record_Type_Decesion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CCA_Assignment</name>
        <label>CCA Assignment</label>
        <locationX>1634</locationX>
        <locationY>1613</locationY>
        <assignmentItems>
            <assignToReference>list_CCA_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CCAOwner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Not_Available_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SupervisorID</name>
        <label>SupervisorID</label>
        <locationX>50</locationX>
        <locationY>1289</locationY>
        <assignmentItems>
            <assignToReference>lst_supervisor_id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SAFirstRecord.FSSK__FSK_Assigned_Service_Resource__r.Supervisor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DLP_Notification_on_AMC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_AMC_Record_Type_Decesion</name>
        <label>Check AMC Record Type Decesion</label>
        <locationX>1326</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loop_on_SA_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_is_of_AMC_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_SA_Records.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstSAAMCRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assignment_SA_AMC_Record</targetReference>
            </connector>
            <label>Record is of AMC Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chk_Closure_Reason</name>
        <label>Chk Closure Reason</label>
        <locationX>1766</locationX>
        <locationY>1505</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Cust_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AMC_Closure_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Not Available - No Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CCAOwner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCA_Assignment</targetReference>
            </connector>
            <label>If  Cust Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chk_Dlp_Issue_Found</name>
        <label>Chk Dlp Issue Found</label>
        <locationX>1106</locationX>
        <locationY>1181</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Dlp_Issue_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DLP_Issue_Found_in_AMC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DLP_Issue_Found_in_AMC__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SupervisorID</targetReference>
            </connector>
            <label>If Dlp Issue Found</label>
        </rules>
        <rules>
            <name>If_Status_New</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstSAAMCRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_2</targetReference>
            </connector>
            <label>If Status=New</label>
        </rules>
        <rules>
            <name>If_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Visit_details</targetReference>
            </connector>
            <label>If Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Decision 2</label>
        <locationX>1106</locationX>
        <locationY>1289</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PPM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AMC_Service_Territory</targetReference>
            </connector>
            <label>PPM</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Work_type_Vill_or_Apartment</name>
        <label>If Work type Vill or Apartment</label>
        <locationX>578</locationX>
        <locationY>1721</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Villa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit__r.UnitType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Apartment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Type_Record_Villa</targetReference>
            </connector>
            <label>if Villa</label>
        </rules>
        <rules>
            <name>If_Apartment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit__r.UnitType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apartment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Type_Record_for_Apartment</targetReference>
            </connector>
            <label>If Apartment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Enable_Decision</name>
        <label>Project Enable Decision</label>
        <locationX>842</locationX>
        <locationY>1505</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Territory_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AMC_Service_Territory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_AMC_Work_Order</targetReference>
            </connector>
            <label>Service Territory Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Record_Decesion</name>
        <label>SA Record Decesion</label>
        <locationX>1602</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_on_SA_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_First_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SAFirstRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SA_Record</targetReference>
            </connector>
            <label>Assign First Record</label>
        </rules>
        <rules>
            <name>Check_AMC_Record_Type_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstSAAMCRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_SA_Records.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SA_AMC_Record</targetReference>
            </connector>
            <label>Check AMC Record Type Record</label>
        </rules>
    </decisions>
    <description>case owner update on reschedule added ( before ver 18)</description>
    <environments>Default</environments>
    <formulas>
        <name>CallingListTaskDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <formulas>
        <name>CallingListTaskReminderDateTime</name>
        <dataType>Date</dataType>
        <expression>NOW()+1</expression>
    </formulas>
    <formulas>
        <name>f_var_worktype</name>
        <dataType>String</dataType>
        <expression>IF(TEXT( {!$Record.Unit__r.UnitType__c}) = &apos;Apartment&apos;, TEXT({!$Record.SubCategory__c}) &amp; &apos; - Apartment&apos;,  TEXT({!$Record.SubCategory__c}) &amp; &apos; - Villa&apos;)</expression>
    </formulas>
    <formulas>
        <name>ServiceTerritoryName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Unit__r.Project__r.Name}+{!$Record.Recordtype_Name__c}</expression>
    </formulas>
    <interviewLabel>AMC Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AMC Cases After Insert | Update</label>
    <loops>
        <name>Loop_on_SA_Records</name>
        <label>Loop on SA Records</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_SA_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SA_Record_Decesion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Chk_Dlp_Issue_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create AMC Work Order</description>
        <name>Create_AMC_Work_Order</name>
        <label>Create AMC Work Order</label>
        <locationX>578</locationX>
        <locationY>1613</locationY>
        <assignRecordIdToReference>var_WOId</assignRecordIdToReference>
        <connector>
            <targetReference>If_Work_type_Vill_or_Apartment</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLI_for_Apartments</name>
        <label>Create WOLI for Apartments</label>
        <locationX>578</locationX>
        <locationY>1937</locationY>
        <connector>
            <targetReference>Get_AMC_SA_to_update_service_territory</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>var_WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_Work_Type_Record_for_Apartment.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLI_For_Villa</name>
        <label>Create WOLI For Villa</label>
        <locationX>314</locationX>
        <locationY>1937</locationY>
        <connector>
            <targetReference>Get_AMC_SA_to_update_service_territory</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>var_WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_Work_Type_Record_Villa.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_AMC_SA_to_update_service_territory</name>
        <label>Get AMC SA to update service territory</label>
        <locationX>578</locationX>
        <locationY>2129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_AMC_Service_Appointment_with_Service_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AMC_Service_Territory</name>
        <label>Get AMC Service Territory</label>
        <locationX>842</locationX>
        <locationY>1397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Enable_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProjectName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group</name>
        <label>Get Group</label>
        <locationX>50</locationX>
        <locationY>1505</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLPS_For_AMC_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Record</name>
        <label>Get SA Record</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_SA_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Record_for_Apartment</name>
        <label>Get Work Type Record for Apartment</label>
        <locationX>578</locationX>
        <locationY>1829</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_WOLI_for_Apartments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_var_worktype</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Record_Villa</name>
        <label>Get Work Type Record Villa</label>
        <locationX>314</locationX>
        <locationY>1829</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_WOLI_For_Villa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_var_worktype</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AMC_Service_Appointment_with_Service_Territory</name>
        <label>Update AMC Service Appointment with Service Territory</label>
        <locationX>578</locationX>
        <locationY>2237</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AMC_SA_to_update_service_territory.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_AMC_Service_Territory.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Milestone</name>
        <label>Update Case Milestone</label>
        <locationX>1766</locationX>
        <locationY>1397</locationY>
        <connector>
            <targetReference>Chk_Closure_Reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.CaseMilestones</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SA_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMC</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PPM</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Visit_details</name>
        <label>Update Visit details</label>
        <locationX>1766</locationX>
        <locationY>1289</locationY>
        <connector>
            <targetReference>Update_Case_Milestone</targetReference>
        </connector>
        <flowName>UPDATE_Visit_Details</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Body_of_On_Demand_Case</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>AMC On Demand Case Number: {!$Record.CaseNumber} has been created. Please schedule the appointment.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case# {!$Record.CaseNumber} closed due to Customer Not Available. Please check with customer and schedule another appointment.</text>
    </textTemplates>
    <variables>
        <name>AddpriceBookentryIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_AMC_Type_SA_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>FirstSAAMCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>list_CCA_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lst_DlpIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lst_supervisor_id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NamesOfPE</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recipids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SAFirstRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_updateCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_WOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
