force-app/main/default/flows/Appointment_Record_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Resolution_Mile_Stone_found</name>
        <label>Check Resolution Mile Stone found</label>
        <locationX>821</locationX>
        <locationY>685</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>solution_Mile_Stone_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Resolution_Time_Case_Milestone_DLP.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DLP_Mile_Stone</targetReference>
            </connector>
            <label>solution Mile Stone found</label>
        </rules>
    </decisions>
    <decisions>
        <description>checkCaseIsPresent</description>
        <name>checkCaseIsPresent</name>
        <label>checkCaseIsPresent</label>
        <locationX>612</locationX>
        <locationY>373</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CasePresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAssociatedAppoinmentsByCaseNumber</targetReference>
            </connector>
            <label>CasePresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCaseAlreadyAppoinment</name>
        <label>IsCaseAlreadyAppoinment</label>
        <locationX>459</locationX>
        <locationY>526</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case_Appoinment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetAssociatedAppoinmentsByCaseNumber.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAssociatedAppoinmentsByCaseNumber.DLP_Milestone_Start__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>case_update</targetReference>
            </connector>
            <label>case Appoinment</label>
        </rules>
    </decisions>
    <description>Appointment Record Trigger Flow v17</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Appointment Record Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment Record Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Resolution_Mile_Stone</name>
        <label>Get Resolution Mile Stone</label>
        <locationX>500</locationX>
        <locationY>680</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Resolution_Time_Case_Milestone_DLP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolution Time</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Resolution_Time_Case_Milestone_DLP</name>
        <label>Get Resolution Time Case Milestone DLP</label>
        <locationX>641</locationX>
        <locationY>682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Resolution_Mile_Stone_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Resolution_Mile_Stone.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAssociatedAppoinmentsByCaseNumber</name>
        <label>GetAssociatedAppoinmentsByCaseNumber</label>
        <locationX>434</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCaseAlreadyAppoinment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>case_update</name>
        <label>case update</label>
        <locationX>264</locationX>
        <locationY>591</locationY>
        <connector>
            <targetReference>Get_Resolution_Mile_Stone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DLP_Milestone_Start__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DLP_Mile_Stone</name>
        <label>Update DLP Mile Stone</label>
        <locationX>1120</locationX>
        <locationY>681</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Resolution_Time_Case_Milestone_DLP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.AppointmentDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <start>
        <locationX>491</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>checkCaseIsPresent</targetReference>
        </connector>
        <object>Appointment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
