force-app/main/default/flows/BankDetailEmails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApprovedEmailAlert</name>
        <label>Approved Email Alert</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <actionName>Contact.BankDetailsUpdateApproved</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryOwnerAdminContact.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.BankDetailsUpdateApproved</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>RejectedEmailAlert</name>
        <label>Rejected Email Alert</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <actionName>Contact.BankDetailsUpdateRejected</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryOwnerAdminContact.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.BankDetailsUpdateRejected</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Primary_Admin_Contact</name>
        <label>Primary Admin Contact</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>PrimaryOwnerAdminContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Admin_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BankDetailsStatusApprovedRejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Primary_Owner_Contact</name>
        <label>Primary Owner Contact</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>PrimaryOwnerAdminContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Owner_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BankDetailsStatusApprovedRejected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BankDetailsStatusApprovedRejected</name>
        <label>Bank Details Status Approved/Rejected</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProposedBankDetailStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryOwnerAdminContact.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApprovedEmailAlert</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProposedBankDetailStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryOwnerAdminContact.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RejectedEmailAlert</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Owner_Primary_Admin</name>
        <label>Primary Owner/ Primary Admin</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PRIMARY_OWNER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BankOTPOwnership</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PRIMARYOWNER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Primary_Owner_Contact</targetReference>
            </connector>
            <label>PRIMARY OWNER</label>
        </rules>
        <rules>
            <name>PRIMARY_ADMIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BankOTPOwnership</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PRIMARYADMIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Primary_Admin_Contact</targetReference>
            </connector>
            <label>PRIMARY ADMIN</label>
        </rules>
    </decisions>
    <description>Bank Detail Status is Approved and Rejected, will get email</description>
    <environments>Default</environments>
    <formulas>
        <description>PRIMARYOWNER / PRIMARYADMIN</description>
        <name>BankOTPOwnership</name>
        <dataType>String</dataType>
        <expression>UPPER(SUBSTITUTE({!$Label.BPM_BankOTPOwnership}, &quot; &quot;, &quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Bank Detail Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bank Detail Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Primary_Admin_Contact</name>
        <label>Get Primary Admin Contact</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Admin_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BrokerType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agency Admin</stringValue>
            </value>
        </filters>
        <filters>
            <field>PrimaryAgencyAdmin__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Owner_Contact</name>
        <label>Get Primary Owner Contact</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Owner_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BrokerType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner/Owner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Primary_Owner_Primary_Admin</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>ProposedBankDetailStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProposedBankDetailStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProposedBankDetailStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>PrimaryOwnerAdminContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
