force-app/main/default/flows/Broker_Agent_Passport_Visa_Expiry_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Passport_in_14_days_email</name>
        <label>Passport in 14 days email</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <actionName>Contact.Agent_Passport_Expiry_Notify_14days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Agent_Passport_Expiry_Notify_14days</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Passport_in_30_days_email</name>
        <label>Passport in 30 days email</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>Contact.Agent_Passport_Expiry_Notify_30days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Agent_Passport_Expiry_Notify_30days</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Passport_in_7_days_email</name>
        <label>Passport in 7 days email</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <actionName>Contact.Agent_Passport_Expiry_Notify_7days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Agent_Passport_Expiry_Notify_7days</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Visa_in_14_days_email</name>
        <label>Visa in 14 days email</label>
        <locationX>1106</locationX>
        <locationY>360</locationY>
        <actionName>Contact.Agent_Visa_Expiry_Notify_14days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Agent_Visa_Expiry_Notify_14days</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Visa_in_30_days_email</name>
        <label>Visa in 30 days email</label>
        <locationX>842</locationX>
        <locationY>360</locationY>
        <actionName>Contact.Agent_Visa_Expiry_Notify_30days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Agent_Visa_Expiry_Notify_30days</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Visa_in_7_days_email</name>
        <label>Visa in 7 days email</label>
        <locationX>1370</locationX>
        <locationY>360</locationY>
        <actionName>Contact.Agent_Visa_Expiry_Notify_7days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Agent_Visa_Expiry_Notify_7days</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Days_Check</name>
        <label>Days Check</label>
        <locationX>842</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Passport_in_30days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker Agent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PassportExpiryDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayPlus30</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passport_in_30_days_email</targetReference>
            </connector>
            <label>Passport in 30 days</label>
        </rules>
        <rules>
            <name>Passport_in_14_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker Agent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PassportExpiryDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayPlus14</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passport_in_14_days_email</targetReference>
            </connector>
            <label>Passport in 14 days</label>
        </rules>
        <rules>
            <name>Passport_in_7_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker Agent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PassportExpiryDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayPlus7</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passport_in_7_days_email</targetReference>
            </connector>
            <label>Passport in 7 days</label>
        </rules>
        <rules>
            <name>Visa_in_30_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker Agent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VisaExpiryDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayPlus30</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visa_in_30_days_email</targetReference>
            </connector>
            <label>Visa in 30 days</label>
        </rules>
        <rules>
            <name>Visa_in_14_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker Agent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VisaExpiryDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayPlus14</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visa_in_14_days_email</targetReference>
            </connector>
            <label>Visa in 14 days</label>
        </rules>
        <rules>
            <name>Visa_in_7_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker Agent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VisaExpiryDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayPlus7</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visa_in_7_days_email</targetReference>
            </connector>
            <label>Visa in 7 days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TodayPlus14</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <formulas>
        <name>TodayPlus30</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <name>TodayPlus7</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <interviewLabel>Broker Agent Passport Visa Expiry Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Broker Agent Passport Visa Expiry Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Days_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AgentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-10-01</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
