force-app/main/default/flows/Broker_Suspension.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Suspension_Removal_Approval</name>
        <label>Suspension Removal Approval</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>CreatedSuspensionRemovalRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>ApproverIdSet</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Suspension_Removal_Process</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_all_Approvers</name>
        <label>Add all Approvers</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ApproverIdSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Current_Broker_Agency_Record.Owner.Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_Suspension_status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Active_Suspension_Warning</name>
        <label>Check Active Suspension/Warning</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Broker_Agency_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Active_Suspension_Warning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Supension_Warning_Removal_Request</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BrokerSuspensionRemoval</targetReference>
            </connector>
            <label>Has Active Suspension/Warning</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_Suspension_status</name>
        <label>check for Suspension status</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Suspended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Broker_Agency_Record.AgencyStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Broker_Suspension_Removal</targetReference>
            </connector>
            <label>If Suspended</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Broker Suspension {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Broker Suspension</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Suspension_Removal_Record</name>
        <label>Create Suspension Removal Record</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>CreatedSuspensionRemovalRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Suspension_Removal_Approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BrokerAgency__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuspensionApprovalStatus__c</field>
            <value>
                <stringValue>Submitted for Suspension Removal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuspensionRemovalReason__c</field>
            <value>
                <elementReference>Suspension_Removal_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuspensionWarning__c</field>
            <value>
                <stringValue>Suspension Removal</stringValue>
            </value>
        </inputAssignments>
        <object>Suspensions_Warning__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Supension_Warning_Removal_Request</name>
        <label>Get Active Supension / Warning Removal Request</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Active_Suspension_Warning</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BrokerAgency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SuspensionApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted for Suspension Removal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Suspensions_Warning__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Suspsension_Warning</name>
        <label>Get Active Suspsension Warning</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Suspension_Removal_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BrokerAgency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActiveSuspensionWarning__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Suspensions_Warning__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Broker_Agency_Record</name>
        <label>Get Current Broker Agency Record</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_all_Approvers</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_for_Removal</name>
        <label>Update Account for Removal</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Active_Suspsension_Warning</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Broker_Agency_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SuspensionApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted for Suspension Removal</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SuspensionRemovalReason__c</field>
            <value>
                <elementReference>Suspension_Removal_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Broker_Suspension_Removal</name>
        <label>Broker Suspension Removal</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Account_for_Removal</targetReference>
        </connector>
        <fields>
            <name>Suspension_Removal_Reason</name>
            <fieldText>Suspension Removal Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BrokerSuspensionRemoval</name>
        <label>Broker Suspension Removal</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>HasPendingSuspensionRemovalRequest</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 17, 17);&quot;&gt;Just to let you know, you have already requested suspension/warning removal.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Supension_Warning_Removal_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApproverIdSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedSuspensionRemovalRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
