force-app/main/default/flows/Calculate_List_Price_on_Asset_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>CalculationofParkingTypeandTierPrices</name>
        <label>CalculationofParkingTypeandTierPrices</label>
        <locationX>300</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>SumofParkingTypeandTierPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParkingTypeandTypePriceandBaseCostSum</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trigger_only_for_child_assets_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Child_Assets</name>
        <label>Count Child Assets</label>
        <locationX>138</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>ChildAssetCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Child_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Child_Assets_Greater_Than_1</name>
        <label>Child Assets Greater Than 1</label>
        <locationX>158</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Update_Child_Asset_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChildcountisNotnul</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Related_Child_Assets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_Child_records</targetReference>
            </connector>
            <label>ChildcountisNotnul</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trigger_only_for_child_assets_Check</name>
        <label>Trigger only for child assets Check</label>
        <locationX>300</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Update_asset_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Id_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Related_Child_Assets</targetReference>
            </connector>
            <label>Parent Id Is Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ParkingTypeandTypePriceandBaseCostSum</name>
        <dataType>Currency</dataType>
        <expression>(BLANKVALUE({!Get_ParkingType_Price.Cost__c},0)+BLANKVALUE(({!Get_ParkingType_Price.Cost__c}*({!Get_ParkingType_Price.Margin__c}/100)),0))+
(BLANKVALUE({!Get_ParkingTier_Prices.Cost__c},0)+BLANKVALUE(({!Get_ParkingTier_Prices.Cost__c}*({!Get_ParkingTier_Prices.Margin__c}/100)),0))+
(BLANKVALUE({!Get_Parking_Group_Prices.Cost__c},0)+BLANKVALUE(({!Get_Parking_Group_Prices.Cost__c}*({!Get_Parking_Group_Prices.Margin__c}/100)),0))+
(BLANKVALUE({!Get_Parking_Segment_Prices.Cost__c},0)+BLANKVALUE(({!Get_Parking_Segment_Prices.Cost__c}*({!Get_Parking_Segment_Prices.Margin__c}/100)),0))+
(BLANKVALUE({!Get_Parking_Category_Prices.Cost__c},0)+BLANKVALUE(({!Get_Parking_Category_Prices.Cost__c}*({!Get_Parking_Category_Prices.Margin__c}/100)),0))+
(BLANKVALUE({!$Record.Base_Cost__c},0)+BLANKVALUE((+{!$Record.Base_Cost__c})*
({!$Record.Margin__c}/100),0))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Calculate List Price on Asset Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate List Price on Asset Object</label>
    <loops>
        <name>Loop_thru_Child_records</name>
        <label>Loop_thru_Child_records</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <collectionReference>Fetch_Related_Child_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Child_Assets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Child_Asset_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Related_Child_Assets</name>
        <label>Fetch Related Child Assets</label>
        <locationX>158</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Assets_Greater_Than_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Asset__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parking_Category_Prices</name>
        <label>Get Parking Category Prices</label>
        <locationX>300</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CalculationofParkingTypeandTierPrices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parking_Category__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuraton__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parking_Group_Prices</name>
        <label>Get Parking Group Prices</label>
        <locationX>300</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parking_Segment_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parking_Group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuraton__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parking_Segment_Prices</name>
        <label>Get Parking Segment Prices</label>
        <locationX>300</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parking_Category_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parking_Segment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuraton__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ParkingTier_Prices</name>
        <label>Get ParkingTier Prices</label>
        <locationX>300</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parking_Group_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parking_Tier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuraton__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ParkingType_Price</name>
        <label>Get ParkingType Price</label>
        <locationX>300</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ParkingTier_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parking_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuraton__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_asset_Record</name>
        <label>Update asset Record</label>
        <locationX>300</locationX>
        <locationY>1871</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>List_Price__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ParkingTypeandTypePriceandBaseCostSum</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>List_Price__c</field>
            <value>
                <elementReference>ParkingTypeandTypePriceandBaseCostSum</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_Asset_Count</name>
        <label>Update Child Asset Count</label>
        <locationX>158</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Update_asset_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Asset__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Child_Asset_Count__c</field>
            <value>
                <elementReference>ChildAssetCount</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <start>
        <locationX>174</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ParkingType_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Premium_Parking</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ChildAssetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SumofParkingTypeandTierPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
