force-app/main/default/flows/Communication_Preference_FastTrack_Success_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Broker_Digital_Sales_Email_Alert</name>
        <label>Broker Digital Sales Email Alert</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>Communication_Preference__c.Broker_Digital_Sales_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Communication_Preference__c.Broker_Digital_Sales_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Digital_Sale_Email</name>
        <label>Digital Sale Email</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <actionName>Communication_Preference__c.Digital_Sales_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Communication_Preference__c.Digital_Sales_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Fast_Track_Process_Compliance_Team_PersonAccount_Action_1</name>
        <label>Fast Track Process - Compliance Team PersonAccount Action 1</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>Contact.Fast_Track_Process_Compliance_Team_PersonAccount</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>update_FastTrackCompletion_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Account__r.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Fast_Track_Process_Compliance_Team_PersonAccount</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>FastTrack_SignUp</name>
        <label>FastTrack SignUp</label>
        <locationX>1018</locationX>
        <locationY>1079</locationY>
        <actionName>Contact.FastTrack_Sign_Up_From_PersonAccount</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_FastTrack_Sent_Datetime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Account__r.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.FastTrack_Sign_Up_From_PersonAccount</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Digital_Sales_Push_Notification</name>
        <label>Send Digital Sales Push Notification</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <actionName>CustomerPushNotificationWebservice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Broker_Digital</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>notificationARBody</name>
            <value>
                <elementReference>DigitalSaleArabicBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARTitle</name>
            <value>
                <stringValue>المبيعات الرقمية</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationBody</name>
            <value>
                <elementReference>DigitalSalesEnglishBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationClickAction</name>
            <value>
                <stringValue>fcm.ACTION.NOTIF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationFunctionalRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationFunctionalType</name>
            <value>
                <stringValue>Digital Sales</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationFunctionalUnitName</name>
            <value>
                <elementReference>$Record.Unit__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationMessageType</name>
            <value>
                <stringValue>transactional</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationSubAppType</name>
            <value>
                <stringValue>PRO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTitle</name>
            <value>
                <stringValue>Digital Sales</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationType</name>
            <value>
                <stringValue>TASK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationUserEmail</name>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationUserId</name>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationUserName</name>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomerPushNotificationWebservice</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Push_Notification</name>
        <label>Send Push Notification</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <actionName>CustomerNotificationWebService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Digital_Sales_Push_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountEmail</name>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>importantNotification</name>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARBody</name>
            <value>
                <elementReference>DigitalSaleArabicBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARTitle</name>
            <value>
                <stringValue>المبيعات الرقمية</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationBody</name>
            <value>
                <elementReference>DigitalSalesEnglishBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTitle</name>
            <value>
                <stringValue>Digital Sales</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Digital Sales</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CustomerNotificationWebService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Broker_Digital</name>
        <label>Broker Digital</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Digital_Sale_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Broker_Digital_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Broker_Agency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Broker_Digital_Sales_Email_Alert</targetReference>
            </connector>
            <label>Broker Digital Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_FastTrack_Completed</name>
        <label>if FastTrack Completed</label>
        <locationX>1018</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_FastTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fasttrack Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fast_Track_Process_Compliance_Team_PersonAccount_Action_1</targetReference>
            </connector>
            <label>if FastTrack</label>
        </rules>
        <rules>
            <name>if_LInk_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Link Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FastTrack_SignUp</targetReference>
            </connector>
            <label>if LInk Sent</label>
        </rules>
        <rules>
            <name>Resend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Resend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resend__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FastTrack_SignUp</targetReference>
            </connector>
            <label>Resend</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Digital_Sales</name>
        <label>Is Digital Sales</label>
        <locationX>600</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>if_FastTrack_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Digital_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Push_Notification</targetReference>
            </connector>
            <label>Digital Sales</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountName</name>
        <dataType>String</dataType>
        <expression>IF(
  $Record.Account__r.IsPersonAccount,
  $Record.Account__r.FirstName &amp; &quot; &quot; &amp; $Record.Account__r.LastName,
  $Record.Account__r.Name
)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Communication Preference FastTrack Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Communication Preference FastTrack Success Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Log_Record</name>
        <label>Create Error Log Record</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ClassName__c</field>
            <value>
                <stringValue>Communication_Preference_FastTrack_Success_Alert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExceptionMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExecutingProcessName__c</field>
            <value>
                <stringValue>Update Fasttrack date</stringValue>
            </value>
        </inputAssignments>
        <object>Logger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>update_Account_Record</name>
        <label>update Account Record</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FasttrackCompletionDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FastTrack_Sent_Datetime</name>
        <label>Update FastTrack Sent Datetime</label>
        <locationX>1018</locationX>
        <locationY>1187</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Resend__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sent_Email_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_FastTrackCompletion_Date</name>
        <label>update FastTrackCompletion Date</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>update_Account_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FastTrack_Completion_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Digital_Sales</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FastTrack</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking</stringValue>
            </value>
        </filters>
        <object>Communication_Preference__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DigitalSaleArabicBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;تم تمكين المبيعات الرقمية لهذه الوحدة {!$Record.Unit__r.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DigitalSalesEnglishBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Digital sales is enabled for this unit {!$Record.Unit__r.Name}</text>
    </textTemplates>
</Flow>
