force-app/main/default/flows/Community_Appointment_Reminder_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Email_Content</name>
        <label>Get Email Content</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>com_appointmentReminderNotification</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Email_For_Classes</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>parentAppointmentList</name>
            <value>
                <elementReference>IndividualAppoitntment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>com_appointmentReminderNotification</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_For_Classes</name>
        <label>Send Email For Classes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Iterate_Over_Appointments</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>checkAccountEmailAddress</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>noreply@aldar.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailContent</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Appointment_Id</name>
        <label>Collect Appointment Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AppointmentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Appointments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Individual_Appointment</name>
        <label>Collect Individual Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IndividualAppoitntment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Appointments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailAddress</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Content</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Start_Date_Check</name>
        <label>Start Date Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppointmentDateCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Appointment_Id</targetReference>
            </connector>
            <label>Valid Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AppointmentDateCheck</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE({!$Record.SchedStartTime}) == (TODAY() + 2)</expression>
    </formulas>
    <formulas>
        <name>checkAccountEmailAddress</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!$Record.Account.PersonEmail})), {!$Record.Account.PersonEmail}, {!$Record.Account.Email__c})</expression>
    </formulas>
    <interviewLabel>Community Appointment Reminder Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Community Appointment Reminder Notifications</label>
    <loops>
        <name>Iterate_Over_Appointments</name>
        <label>Iterate Over Appointments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>AppointmentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Individual_Appointment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start_Date_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Community_Appointments</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-11-19</startDate>
            <startTime>11:53:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailContent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Get_Email_Content}</text>
    </textTemplates>
    <variables>
        <name>AppointmentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Booking Reminder</stringValue>
        </value>
    </variables>
    <variables>
        <name>IndividualAppoitntment</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
