force-app/main/default/flows/Contact_Employment_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ContactDetailsChangedEmail</name>
        <label>Contact Details Changed Email</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <actionName>Contact.ContactDetailsChangedEmail</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.ContactDetailsChangedEmail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>EmailToTheOwnerManager</name>
        <label>Email To The Owner Manager</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <actionName>Account.AccountContactDetailsChangedEmail</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.AccountContactDetailsChangedEmail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>AccountRecordType</name>
        <label>Account Record Type</label>
        <locationX>237</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>ContactDetailsUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContactOwnerManagerEmail</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>AccountRecordType_0</name>
        <label>Account Record Type</label>
        <locationX>677</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>ContactDetailsUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PersonAccount_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContactOwnerManagerEmail_0</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>AccountRecordType_0_0</name>
        <label>Account Record Type</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>EmailToTheOwnerManager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PersonAccount_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactDetailsChangedEmail</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactDetailsUpdated</name>
        <label>Contact Details Updated?</label>
        <locationX>611</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonEmail</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMobilePhone</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobileNumber__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsTheOwnerHasAManager</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsTheOwnerHasAManager</name>
        <label>Is The Owner Has A Manager?</label>
        <locationX>380</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendEmail</name>
            <conditionLogic>(1 AND 2 AND 6) OR (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerManagerEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerManagerEmail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerManagerEmail__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerManagerEmail__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountRecordType_0_0</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>OwnerManagerHasaEmail</name>
        <label>Owner Manager Has a Email</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>ContactDetailsUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Manager.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerManagerEmail__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner.Manager.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountRecordType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>((1 OR 2) AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Manager.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerManagerEmail__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountRecordType_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Employment Status
Employed:Source of Funds will be defaulted to Employment Income
Self Employed:Source of Funds will be defaulted to Profits/Salary
Retired: Source of Funds will be defaulted to Savings/Retirement Income</description>
    <environments>Default</environments>
    <interviewLabel>Contact Employment Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateContactOwnerManagerEmail</name>
        <label>Update Account Owner Manager Email</label>
        <locationX>105</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>ContactDetailsUpdated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerManagerEmail__c</field>
            <value>
                <elementReference>$Record.Owner.Manager.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContactOwnerManagerEmail_0</name>
        <label>Update Account Owner Manager Email</label>
        <locationX>545</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>ContactDetailsUpdated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerManagerEmail__c</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OwnerManagerHasaEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ECSS_Aldar_Estate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
