force-app/main/default/flows/Create_Share_records_for_OA_Community.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>If_Asset_records_is_not_null</name>
        <label>If Asset records is not null</label>
        <locationX>754</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Group_Member_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Asset_Owner</targetReference>
            </connector>
            <label>if true</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Asset_records_is_not_null_for_Public_Group</name>
        <label>if Asset records is not null for Public Group</label>
        <locationX>182</locationX>
        <locationY>2879</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_if_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Asset_Share_Records_for_public_group</targetReference>
            </connector>
            <label>Copy 1 of if true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Owner</name>
        <label>Is Account Owner</label>
        <locationX>754</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>If_Asset_records_is_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Account_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HexaBPM__Customer__r.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Group_Member_loop.UserOrGroupId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Create_Account_Share_Records</targetReference>
            </connector>
            <label>Not Account Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Asset_Owner</name>
        <label>Is Asset Owner</label>
        <locationX>600</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Group_Member_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Asset_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Group_Member_loop.UserOrGroupId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Account_Share_Records</targetReference>
            </connector>
            <label>Not Asset Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Public_Group_Present</name>
        <label>Is Public Group Present</label>
        <locationX>380</locationX>
        <locationY>2447</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Public_Group.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Unit_Share_Records_for_public_group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SalesOrder_Owner</name>
        <label>Is SalesOrder Owner</label>
        <locationX>754</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Is_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_SalesOrder_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrder__r.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Group_Member_loop.UserOrGroupId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Unit_Share_Records</targetReference>
            </connector>
            <label>Not SalesOrder Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Unit_Owner</name>
        <label>Is Unit Owner</label>
        <locationX>754</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Is_SalesOrder_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Unit_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit__r.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Group_Member_loop.UserOrGroupId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Unit_Share_Records</targetReference>
            </connector>
            <label>Not Unit Owner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Share records for OA Community {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Share records for OA Community</label>
    <loops>
        <name>Group_Member_loop</name>
        <label>Group Member loop</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Group_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Unit_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Public_Group_Present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_Record</name>
        <label>Get Asset Record</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unit__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Member</name>
        <label>Get Group Member</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Member_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Queue_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_metadata_records</name>
        <label>Get metadata records</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unit__r.Project__r.OA_Community_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AE_Comunity_Details__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Group</name>
        <label>Get Public Group</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_metadata_records.Community_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Details</name>
        <label>Get Queue Details</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Public_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_metadata_records.Queue_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_metadata_records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HexaBPM__External_Status_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>HexaBPM__Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Handover</stringValue>
            </value>
        </filters>
        <object>HexaBPM__Service_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_1_of_Create_Account_Share_Records</name>
        <label>Copy 1 of Create Asset  Share Records</label>
        <locationX>468</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Group_Member_loop</targetReference>
        </connector>
        <flowName>Sobject_Share_Flow</flowName>
        <inputAssignments>
            <name>accessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Asset_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>shareObjectName</name>
            <value>
                <stringValue>AssetShare</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>Group_Member_loop.UserOrGroupId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Copy_2_of_Create_Unit_Share_Records</name>
        <label>Copy 2 of Create SalesOrder Share Records</label>
        <locationX>622</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Is_Account_Owner</targetReference>
        </connector>
        <flowName>Sobject_Share_Flow</flowName>
        <inputAssignments>
            <name>accessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.SalesOrder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>shareObjectName</name>
            <value>
                <stringValue>SalesOrder__Share</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>Group_Member_loop.UserOrGroupId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Copy_3_of_Create_Account_Share_Records</name>
        <label>Copy 3 of Create Account Share Records</label>
        <locationX>622</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>If_Asset_records_is_not_null</targetReference>
        </connector>
        <flowName>Sobject_Share_Flow</flowName>
        <inputAssignments>
            <name>accessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.HexaBPM__Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>shareObjectName</name>
            <value>
                <stringValue>AccountShare</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>Group_Member_loop.UserOrGroupId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Account_Share_Records_for_public_group</name>
        <label>Create Account Share Records for public group</label>
        <locationX>182</locationX>
        <locationY>2771</locationY>
        <connector>
            <targetReference>if_Asset_records_is_not_null_for_Public_Group</targetReference>
        </connector>
        <flowName>Sobject_Share_Flow</flowName>
        <inputAssignments>
            <name>accessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.HexaBPM__Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>shareObjectName</name>
            <value>
                <stringValue>AccountShare</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>Get_Public_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Asset_Share_Records_for_public_group</name>
        <label>Create Asset  Share Records for public group</label>
        <locationX>50</locationX>
        <locationY>2987</locationY>
        <flowName>Sobject_Share_Flow</flowName>
        <inputAssignments>
            <name>accessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Asset_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>shareObjectName</name>
            <value>
                <stringValue>AssetShare</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>Get_Public_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_SalesOrder_Share_Records_for_public_group</name>
        <label>Create SalesOrder Share Records for public group</label>
        <locationX>182</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Create_Account_Share_Records_for_public_group</targetReference>
        </connector>
        <flowName>Sobject_Share_Flow</flowName>
        <inputAssignments>
            <name>accessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.SalesOrder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>shareObjectName</name>
            <value>
                <stringValue>SalesOrder__Share</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>Get_Public_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Unit_Share_Records</name>
        <label>Create Unit Share Records</label>
        <locationX>622</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Is_SalesOrder_Owner</targetReference>
        </connector>
        <flowName>Sobject_Share_Flow</flowName>
        <inputAssignments>
            <name>accessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>shareObjectName</name>
            <value>
                <stringValue>Unit__Share</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>Group_Member_loop.UserOrGroupId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Unit_Share_Records_for_public_group</name>
        <label>Create Unit Share Records for public group</label>
        <locationX>182</locationX>
        <locationY>2555</locationY>
        <connector>
            <targetReference>Create_SalesOrder_Share_Records_for_public_group</targetReference>
        </connector>
        <flowName>Sobject_Share_Flow</flowName>
        <inputAssignments>
            <name>accessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>shareObjectName</name>
            <value>
                <stringValue>Unit__Share</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>Get_Public_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
