force-app/main/default/flows/CustomerAppNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Email_Alert_Yes_Flow</name>
        <label>Email Alert</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>HexaBPM__Service_Request__c.Notification_To_buyer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HexaBPM__Service_Request__c.Notification_To_buyer</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_App_Notification</name>
        <label>Send App Notification</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>CustomerNotificationWebService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_App_Push_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountEmail</name>
            <value>
                <elementReference>$Record.BuyerName__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.BuyerName__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>importantNotification</name>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARBody</name>
            <value>
                <elementReference>ArabicNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARTitle</name>
            <value>
                <stringValue>يحتاج فريقنا إلى معلوماتك الكاملة!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationBody</name>
            <value>
                <elementReference>NotificationBodyText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTitle</name>
            <value>
                <stringValue>Our team needs your full Information requested for your property purchase</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subType</name>
            <value>
                <elementReference>$Record.Unit__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>typeValue</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomerNotificationWebService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_App_Push_Notification</name>
        <label>Send App Push Notification</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>CustomerPushNotificationWebservice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Whatsapp_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>notificationARBody</name>
            <value>
                <elementReference>ArabicNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARTitle</name>
            <value>
                <stringValue>يحتاج فريقنا إلى معلوماتك الكاملة!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationBody</name>
            <value>
                <elementReference>NotificationBodyText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationClickAction</name>
            <value>
                <stringValue>fcm.ACTION.NOTIF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationFunctionalRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationFunctionalSubType</name>
            <value>
                <elementReference>$Record.Unit__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationFunctionalType</name>
            <value>
                <elementReference>typeValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationFunctionalUnitName</name>
            <value>
                <elementReference>$Record.Unit__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationMessageType</name>
            <value>
                <stringValue>transactional</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationSubAppType</name>
            <value>
                <stringValue>PRO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTitle</name>
            <value>
                <stringValue>Our team needs your full Information requested for your property purchase</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationType</name>
            <value>
                <stringValue>NOTIFICATION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationUserEmail</name>
            <value>
                <elementReference>$Record.BuyerName__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationUserId</name>
            <value>
                <elementReference>$Record.BuyerName__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationUserName</name>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomerPushNotificationWebservice</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Whatsapp_Notification</name>
        <label>Send Whatsapp Notification</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>WhatsappLinkInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Email_Alert_Yes_Flow</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AttributeName1</name>
            <value>
                <stringValue>CustName</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AttributeName2</name>
            <value>
                <stringValue>UnitNo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AttributeValue1</name>
            <value>
                <elementReference>$Record.BuyerName__r.AccountName__pc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AttributeValue2</name>
            <value>
                <elementReference>$Record.Unit__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AttributeValue4</name>
            <value>
                <elementReference>$Record.Unit__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AttributeValue5</name>
            <value>
                <stringValue>NOC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>$Record.BuyerName__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HSMTemplateId</name>
            <value>
                <stringValue>91edc069-ff33-481a-8101-991a5a40995a</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MessageType</name>
            <value>
                <stringValue>LiveAldar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MobileNumber</name>
            <value>
                <elementReference>BuyerMobileNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProjectName</name>
            <value>
                <elementReference>$Record.Unit__r.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WhatsappLinkInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>if_Buyer_is_Person_Account</name>
        <label>if Buyer is Person Account</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BuyerName__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_App_Notification</targetReference>
            </connector>
            <label>If True</label>
        </rules>
    </decisions>
    <description>Flow used to send a notification to the seller when the buyer completed the NOC process.</description>
    <environments>Default</environments>
    <formulas>
        <name>AccountName</name>
        <dataType>String</dataType>
        <expression>IF(
  $Record.HexaBPM__Customer__r.IsPersonAccount,
  $Record.HexaBPM__Customer__r.FirstName &amp; &quot; &quot; &amp; $Record.HexaBPM__Customer__r.LastName,
  $Record.HexaBPM__Customer__r.Name
)</expression>
    </formulas>
    <formulas>
        <name>BuyerMobileNumber</name>
        <dataType>String</dataType>
        <expression>TEXT($Record.BuyerName__r.MobileCountryCode__c) + $Record.BuyerName__r.PersonMobilePhone</expression>
    </formulas>
    <formulas>
        <name>typeValue</name>
        <dataType>String</dataType>
        <expression>&quot;noc-&quot;+{!hasOABoolean}</expression>
    </formulas>
    <interviewLabel>CustomerAppNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BuyerInformationNotification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>if_Buyer_is_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origin__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </filters>
        <filters>
            <field>BuyerName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>SRType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Property Transfer NOC</stringValue>
            </value>
        </filters>
        <object>HexaBPM__Service_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ArabicNotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.HexaBPM__Customer__r.NameInArabic__c}&lt;/span&gt;يطلب منك ملء معلوماتك كجزء من عملية شهادة عدم الممانعة&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Notificationbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.HexaBPM__Customer__r.FirstName} {!$Record.HexaBPM__Customer__r.LastName} &lt;/span&gt;is asking you to fill in your info as part of the NOC process&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>hasOABoolean</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Has_OA_NOC__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>NotificationBodyText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!$Record.HexaBPM__Customer__r.FirstName} {!$Record.HexaBPM__Customer__r.LastName} is asking you to fill in your info as part of the NOC process</stringValue>
        </value>
    </variables>
</Flow>
