force-app/main/default/flows/Display_Product_Inventory_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Child_Asset_Records</name>
        <label>Add Child Asset Records</label>
        <locationX>336</locationX>
        <locationY>3986</locationY>
        <assignmentItems>
            <assignToReference>ChildAssetCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_Child_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Child_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Final_Parking_group_list</name>
        <label>Add to Final Parking group list</label>
        <locationX>1411</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>FinalParkingGroup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Assets_for_Parking_Groups</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Parking_Group_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Final_Parking_Type_list</name>
        <label>Add to Final Parking Type list</label>
        <locationX>1411</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>FinalParkingTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Assets_for_Parking_Types</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Id</name>
        <label>Assign Current Parking Type</label>
        <locationX>1455</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>PreviousParkingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Assets_for_Parking_Types.Parking_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Assets_for_Parking_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Parking_Group_value</name>
        <label>Assign Current Parking Group value</label>
        <locationX>1455</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>PreviousParkingGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Assets_for_Parking_Groups.Parking_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Assets_for_Parking_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CalculationofParkingTypeandTierPrices</name>
        <label>CalculationofParkingTypeandTierPrices</label>
        <locationX>1476</locationX>
        <locationY>4262</locationY>
        <assignmentItems>
            <assignToReference>SumofParkingTypeandTierPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParkingTypeandTypePriceandBaseCostSum</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Inventory_Entry_Count_is_Zero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Child_Asset_Records</name>
        <label>Copy 1 of Add Child Asset Records</label>
        <locationX>1456</locationX>
        <locationY>3986</locationY>
        <assignmentItems>
            <assignToReference>ChildAssetCollection1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Thru_Child_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Thru_Child_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_Final_Parking_Tier_List</name>
        <label>Copy 1 of Add to Final Parking Tier List</label>
        <locationX>1411</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>FinalParkingTiers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Assets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Current_Parking_Tier_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Current_Parking_Tier_Value</name>
        <label>Copy 1 of Assign Current Parking Tier Value</label>
        <locationX>1455</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>PreviousParkingTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Assets.Parking_Tier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_CalculationofParkingTypeandTierPrices</name>
        <label>Copy 1 of CalculationofParkingTypeandTierPrices</label>
        <locationX>356</locationX>
        <locationY>4262</locationY>
        <assignmentItems>
            <assignToReference>SumofParkingTypeandTierPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParkingTypeandTypePriceandBaseCostSum1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_Inventory_Entry_Count_is_Zero</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Collection_Sort_Parking_Group</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Collection Sort Parking Group</label>
        <locationX>1147</locationX>
        <locationY>1766</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>getAssetRecords</collectionReference>
        <connector>
            <targetReference>Loop_Over_Assets_for_Parking_Groups</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>true</doesPutEmptyStringAndNullFirst>
            <sortField>Parking_Group__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>CollectionSortParkingTier</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Collection Sort Parking Tier</label>
        <locationX>1147</locationX>
        <locationY>350</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>getAssetRecords</collectionReference>
        <connector>
            <targetReference>Loop_Over_Assets</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>true</doesPutEmptyStringAndNullFirst>
            <sortField>Parking_Tier__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Copy_1_of_Collection_Sort_Parking_Type</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Copy 1 of Collection Sort Parking Type</label>
        <locationX>1147</locationX>
        <locationY>1058</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>getAssetRecords</collectionReference>
        <connector>
            <targetReference>Loop_Over_Assets_for_Parking_Types</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>true</doesPutEmptyStringAndNullFirst>
            <sortField>Parking_Type__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_Child_Records_count</name>
        <label>Check Child Records count</label>
        <locationX>356</locationX>
        <locationY>3770</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_CalculationofParkingTypeandTierPrices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Child_records_count_is_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Asset_Records_if_Any</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Child_Records</targetReference>
            </connector>
            <label>If Child records count is &gt;=1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Inventory_Entry_Count_is_Zero</name>
        <label>Check Inventory Entry Count is Zero</label>
        <locationX>1476</locationX>
        <locationY>4370</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Inventory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inventory_Count_is_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQLERecordsBeforeCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parking_Type_and_Tier</targetReference>
            </connector>
            <label>Inventory Count is Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Parking_Groups</name>
        <label>Check Previous Parking Groups</label>
        <locationX>1455</locationX>
        <locationY>1982</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousParkingGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Over_Assets_for_Parking_Groups.Parking_Group__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Parking_Group_value</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
        <rules>
            <name>Copy_1_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousParkingGroup</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Over_Assets_for_Parking_Groups.Parking_Group__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Final_Parking_group_list</targetReference>
            </connector>
            <label>Copy 1 of No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Parking_Types</name>
        <label>Check Previous Parking Types</label>
        <locationX>1455</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousParkingType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Over_Assets_for_Parking_Types.Parking_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousParkingType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Over_Assets_for_Parking_Types.Parking_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Final_Parking_Type_list</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Child_Records_count</name>
        <label>Copy 1 of Check Child Records count</label>
        <locationX>1476</locationX>
        <locationY>3770</locationY>
        <defaultConnector>
            <targetReference>CalculationofParkingTypeandTierPrices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_Child_records_count_is_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Asset_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Loop_Thru_Child_Records</targetReference>
            </connector>
            <label>Copy 1 of If Child records count is &gt;=1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Inventory_Entry_Count_is_Zero</name>
        <label>Copy 1 of Check Inventory Entry Count is Zero</label>
        <locationX>356</locationX>
        <locationY>4370</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Inventory_Count_is_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_GetQLERecordsBeforeCreate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Parking_Type_and_Tier</targetReference>
            </connector>
            <label>Copy 1 of Inventory Count is Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Previous_Parking_Tier_List</name>
        <label>Copy 1 of Check Previous Parking Tier List</label>
        <locationX>1455</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_YesTier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousParkingTier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Over_Assets.Parking_Tier__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Current_Parking_Tier_Value</targetReference>
            </connector>
            <label>Copy 1 of YesTier</label>
        </rules>
        <rules>
            <name>Copy_1_of_NoTier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousParkingType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Over_Assets.Parking_Tier__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_to_Final_Parking_Tier_List</targetReference>
            </connector>
            <label>Copy 1 of NoTier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_IfInventoryisInserted</name>
        <label>Copy 1 of IfInventoryisInserted</label>
        <locationX>158</locationX>
        <locationY>5294</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_IfCountisGreater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_GetQLEAfterCreate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Copy_1_of_GetQLERecordsBeforeCreate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_1_of_Display</targetReference>
            </connector>
            <label>Copy 1 of IfCountisGreater</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_MaxParkingCheck</name>
        <label>Copy 1 of MaxParkingCheck</label>
        <locationX>587</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_MaxPArkingisGreater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaxParkingCheckFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_GetQLERecordsBeforeCreate</targetReference>
            </connector>
            <label>Copy 1 of MaxPArkingisGreater</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_If_ChildAssetCollection_is_NOT_NULL</name>
        <label>Copy 2 of If ChildAssetCollection is NOT NULL</label>
        <locationX>1278</locationX>
        <locationY>4694</locationY>
        <defaultConnector>
            <targetReference>GetQLEAfterCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_ChildAssetCollection_is_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChildAssetCollection1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Loop_thru_Child_Asset_Collection</targetReference>
            </connector>
            <label>Copy 1 of If ChildAssetCollection is NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_ChildAssetCollection_is_NOT_NULL</name>
        <label>If ChildAssetCollection is NOT NULL</label>
        <locationX>158</locationX>
        <locationY>4694</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_GetQLEAfterCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_ChildAssetCollection_is_NOT_NULL1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChildAssetCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_Child_Asset_Collection_1</targetReference>
            </connector>
            <label>If ChildAssetCollection is NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfInventoryisInserted</name>
        <label>IfInventoryisInserted</label>
        <locationX>1278</locationX>
        <locationY>5294</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfCountisGreater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQLEAfterCreate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GetQLERecordsBeforeCreate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Display_Inventory</targetReference>
            </connector>
            <label>IfCountisGreater</label>
        </rules>
    </decisions>
    <decisions>
        <name>MaxParkingCheck</name>
        <label>MaxParkingCheck</label>
        <locationX>1707</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Inventory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MaxPArkingisGreater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaxParkingCheckFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQLERecordsBeforeCreate</targetReference>
            </connector>
            <label>MaxPArkingisGreater</label>
        </rules>
    </decisions>
    <decisions>
        <name>When_Parking_Group_is_Null</name>
        <label>When Parking Group is Null</label>
        <locationX>1147</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>GetFilteredAssetRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parking_Group_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parking_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_GetFilteredAssetRecords</targetReference>
            </connector>
            <label>When Parking Group is Null</label>
        </rules>
    </decisions>
    <description>Parent Asset Changes in the Flow</description>
    <dynamicChoiceSets>
        <name>FinalParkingGroupforChoice</name>
        <collectionReference>FinalParkingGroup</collectionReference>
        <dataType>String</dataType>
        <displayField>Parking_Group__c</displayField>
        <object>Asset</object>
        <valueField>Parking_Group__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FinalParkingTiersForChoice</name>
        <collectionReference>FinalParkingTiers</collectionReference>
        <dataType>String</dataType>
        <displayField>Parking_Tier__c</displayField>
        <object>Asset</object>
        <valueField>Parking_Tier__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FinalParkingTypesforChoice</name>
        <collectionReference>FinalParkingTypes</collectionReference>
        <dataType>String</dataType>
        <displayField>Parking_Type__c</displayField>
        <object>Asset</object>
        <valueField>Parking_Type__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ParkingCategory</name>
        <dataType>String</dataType>
        <displayField>Parking_Category__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Building__c</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>quoteId.Parking_Category__c</assignToReference>
            <field>Parking_Category__c</field>
        </outputAssignments>
        <valueField>Parking_Category__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ParkingGroups</name>
        <dataType>String</dataType>
        <displayField>Parking_Group__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Building_Section__r.Id</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>quoteId.Parking_Group__c</assignToReference>
            <field>Parking_Group__c</field>
        </outputAssignments>
        <sortField>Project__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Parking_Group__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ParkingSegments</name>
        <dataType>String</dataType>
        <displayField>Parking_Segment__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Building__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>quoteId.Parking_Segment__c</assignToReference>
            <field>Parking_Segment__c</field>
        </outputAssignments>
        <valueField>Parking_Segment__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ParkingTier</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ParkingTier1</name>
        <dataType>String</dataType>
        <displayField>Parking_Tier__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Building_Section__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <limit>10</limit>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>quoteId.Parking_Tier__c</assignToReference>
            <field>Parking_Tier__c</field>
        </outputAssignments>
        <valueField>Parking_Tier__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ParkingType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ParkingType1</name>
        <dataType>String</dataType>
        <displayField>Parking_Type__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Building_Section__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>quoteId.Parking_Type__c</assignToReference>
            <field>Parking_Type__c</field>
        </outputAssignments>
        <valueField>Parking_Type__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ActualVATValueinCurrency</name>
        <dataType>Number</dataType>
        <expression>{!VATvalueApplicationonNetPrice}-{!NetPriceofInventory}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MaxParkingCheckFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!quoteId.Max_Parking__c}&gt;({!quoteId.Assetcount__c}+{!quoteId.Sum_of_Inventory_Count__c}),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>NetPriceofInventory</name>
        <dataType>Currency</dataType>
        <expression>({!SumofParkingTypeandTierPrice}-({!SumofParkingTypeandTierPrice}*{!quoteId.Account_Class_Discount__c}/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ParkingRefID_Formula</name>
        <dataType>String</dataType>
        <expression>TEXT({!Copy_1_of_AssetRecords.firstSelectedRow.Parking_Ref_ID__c})</expression>
    </formulas>
    <formulas>
        <name>ParkingRefIDFormula1</name>
        <dataType>String</dataType>
        <expression>TEXT({!AssetRecords.firstSelectedRow.Parking_Ref_ID__c})</expression>
    </formulas>
    <formulas>
        <name>ParkingTypeandTypePriceandBaseCostSum</name>
        <dataType>Currency</dataType>
        <expression>(BLANKVALUE({!Get_ParkingType_Price.Cost__c},0)+BLANKVALUE(({!Get_ParkingType_Price.Cost__c}*({!Get_ParkingType_Price.Margin__c}/100)),0))+
(BLANKVALUE({!Get_ParkingTier_Prices.Cost__c},0)+BLANKVALUE(({!Get_ParkingTier_Prices.Cost__c}*({!Get_ParkingTier_Prices.Margin__c}/100)),0))+
(BLANKVALUE({!Get_Parking_Group_Prices.Cost__c},0)+BLANKVALUE(({!Get_Parking_Group_Prices.Cost__c}*({!Get_Parking_Group_Prices.Margin__c}/100)),0))+
(BLANKVALUE({!Get_Parking_Segment_Prices.Cost__c},0)+BLANKVALUE(({!Get_Parking_Segment_Prices.Cost__c}*({!Get_Parking_Segment_Prices.Margin__c}/100)),0))+
(BLANKVALUE({!Get_Parking_Category_Prices.Cost__c},0)+BLANKVALUE(({!Get_Parking_Category_Prices.Cost__c}*({!Get_Parking_Category_Prices.Margin__c}/100)),0))+
(BLANKVALUE({!AssetRecords.firstSelectedRow.Base_Cost__c},0)+BLANKVALUE((+{!AssetRecords.firstSelectedRow.Base_Cost__c})*
({!AssetRecords.firstSelectedRow.Margin__c}/100),0))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ParkingTypeandTypePriceandBaseCostSum1</name>
        <dataType>Currency</dataType>
        <expression>(BLANKVALUE({!Copy_1_of_Get_ParkingType_Price.Cost__c},0)+BLANKVALUE(({!Copy_1_of_Get_ParkingType_Price.Cost__c}*({!Copy_1_of_Get_ParkingType_Price.Margin__c}/100)),0))+
(BLANKVALUE({!Copy_1_of_Get_ParkingTier_Prices.Cost__c},0)+BLANKVALUE(({!Copy_1_of_Get_ParkingTier_Prices.Cost__c}*({!Copy_1_of_Get_ParkingTier_Prices.Margin__c}/100)),0))+
(BLANKVALUE({!Copy_1_of_Get_Parking_Group_Prices.Cost__c},0)+BLANKVALUE(({!Copy_1_of_Get_Parking_Group_Prices.Cost__c}*({!Copy_1_of_Get_Parking_Group_Prices.Margin__c}/100)),0))+
(BLANKVALUE({!Copy_1_of_Get_Parking_Segment_Prices.Cost__c},0)+BLANKVALUE(({!Copy_1_of_Get_Parking_Segment_Prices.Cost__c}*({!Copy_1_of_Get_Parking_Segment_Prices.Margin__c}/100)),0))+
(BLANKVALUE({!Copy_1_of_Get_Parking_Category_Prices.Cost__c},0)+BLANKVALUE(({!Copy_1_of_Get_Parking_Category_Prices.Cost__c}*({!Copy_1_of_Get_Parking_Category_Prices.Margin__c}/100)),0))+
(BLANKVALUE({!Copy_1_of_AssetRecords.firstSelectedRow.Base_Cost__c},0)+BLANKVALUE(({!Copy_1_of_AssetRecords.firstSelectedRow.Base_Cost__c})*
({!Copy_1_of_AssetRecords.firstSelectedRow.Margin__c}/100),0))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>VATvalueApplicationonNetPrice</name>
        <dataType>Currency</dataType>
        <expression>IF({!AssetRecords.firstSelectedRow.Product2.VAT__c}&gt;0,{!NetPriceofInventory}+({!NetPriceofInventory}*{!AssetRecords.firstSelectedRow.Product2.VAT__c}/100),{!NetPriceofInventory})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Display Product Inventory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Product Inventory Records</label>
    <loops>
        <name>Copy_1_of_Loop_thru_Child_Asset_Collection</name>
        <label>Copy 1 of Loop thru Child Asset Collection</label>
        <locationX>1170</locationX>
        <locationY>4802</locationY>
        <collectionReference>ChildAssetCollection1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Create_QLE_Child_Asset_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetQLEAfterCreate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Loop_Thru_Child_Records</name>
        <label>Copy 1 of Loop Thru Child Records</label>
        <locationX>1368</locationX>
        <locationY>3878</locationY>
        <collectionReference>Get_Child_Asset_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Add_Child_Asset_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CalculationofParkingTypeandTierPrices</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Assets</name>
        <label>Loop Over Assets</label>
        <locationX>1147</locationX>
        <locationY>458</locationY>
        <collectionReference>getAssetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Check_Previous_Parking_Tier_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Collection_Sort_Parking_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Assets_for_Parking_Groups</name>
        <label>Loop Over Assets for Parking Groups</label>
        <locationX>1147</locationX>
        <locationY>1874</locationY>
        <collectionReference>getAssetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Previous_Parking_Groups</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Parking_Type_and_Tiers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Assets_for_Parking_Types</name>
        <label>Loop Over Assets for Parking Types</label>
        <locationX>1147</locationX>
        <locationY>1166</locationY>
        <collectionReference>getAssetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Previous_Parking_Types</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collection_Sort_Parking_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Child_Asset_Collection_1</name>
        <label>Loop thru Child Asset Collection</label>
        <locationX>50</locationX>
        <locationY>4802</locationY>
        <collectionReference>ChildAssetCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_QLE_Child_Asset_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_GetQLEAfterCreate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Child_Records</name>
        <label>Loop Thru Child Records</label>
        <locationX>248</locationX>
        <locationY>3878</locationY>
        <collectionReference>Get_Child_Asset_Records_if_Any</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Child_Asset_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_CalculationofParkingTypeandTierPrices</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_QLE_Child_Asset_Records</name>
        <label>Copy 1 of Create QLE Child Asset Records</label>
        <locationX>1258</locationX>
        <locationY>4910</locationY>
        <connector>
            <targetReference>Copy_1_of_Loop_thru_Child_Asset_Collection</targetReference>
        </connector>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Copy_1_of_Loop_thru_Child_Asset_Collection.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <elementReference>Copy_1_of_Loop_thru_Child_Asset_Collection.Base_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parking_Ref_ID__c</field>
            <value>
                <elementReference>Copy_1_of_Loop_thru_Child_Asset_Collection.Parking_Ref_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ListPrice__c</field>
            <value>
                <elementReference>Copy_1_of_Loop_thru_Child_Asset_Collection.List_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__NetPrice__c</field>
            <value>
                <elementReference>Copy_1_of_Loop_thru_Child_Asset_Collection.List_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookEntryId__c</field>
            <value>
                <stringValue>01uFV0000003N4vYAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>Copy_1_of_Loop_thru_Child_Asset_Collection.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>quoteId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_Value__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT__c</field>
            <value>
                <elementReference>Copy_1_of_Loop_thru_Child_Asset_Collection.Product2.VAT__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Quote_Line_Records</name>
        <label>Copy 1 of Create Quote Line Records</label>
        <locationX>158</locationX>
        <locationY>4586</locationY>
        <connector>
            <targetReference>If_ChildAssetCollection_is_NOT_NULL</targetReference>
        </connector>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Copy_1_of_AssetRecords.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_Asset_Count__c</field>
            <value>
                <elementReference>Copy_1_of_AssetRecords.firstSelectedRow.Child_Asset_Count__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <elementReference>Copy_1_of_AssetRecords.firstSelectedRow.Base_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parking_Ref_ID__c</field>
            <value>
                <elementReference>ParkingRefID_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Category__c</field>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ListPrice__c</field>
            <value>
                <elementReference>SumofParkingTypeandTierPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__NetPrice__c</field>
            <value>
                <elementReference>VATvalueApplicationonNetPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookEntryId__c</field>
            <value>
                <elementReference>Get_Price_Book_Entry_of_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>Copy_1_of_AssetRecords.firstSelectedRow.Product2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>quoteId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_Value__c</field>
            <value>
                <elementReference>ActualVATValueinCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT__c</field>
            <value>
                <elementReference>Copy_1_of_AssetRecords.firstSelectedRow.Product2.VAT__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_QLE_Child_Asset_Records</name>
        <label>Create QLE Child Asset Records</label>
        <locationX>138</locationX>
        <locationY>4910</locationY>
        <connector>
            <targetReference>Loop_thru_Child_Asset_Collection_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Loop_thru_Child_Asset_Collection_1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <elementReference>Loop_thru_Child_Asset_Collection_1.Base_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parking_Ref_ID__c</field>
            <value>
                <elementReference>Loop_thru_Child_Asset_Collection_1.Parking_Ref_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ListPrice__c</field>
            <value>
                <elementReference>Loop_thru_Child_Asset_Collection_1.List_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__NetPrice__c</field>
            <value>
                <elementReference>Loop_thru_Child_Asset_Collection_1.List_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookEntryId__c</field>
            <value>
                <stringValue>01uFV0000003N4vYAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>Loop_thru_Child_Asset_Collection_1.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>quoteId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_Value__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT__c</field>
            <value>
                <elementReference>Loop_thru_Child_Asset_Collection_1.Product2.VAT__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_Records</name>
        <label>Create Quote Line Records</label>
        <locationX>1278</locationX>
        <locationY>4586</locationY>
        <connector>
            <targetReference>Copy_2_of_If_ChildAssetCollection_is_NOT_NULL</targetReference>
        </connector>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>AssetRecords.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_Asset_Count__c</field>
            <value>
                <elementReference>AssetRecords.firstSelectedRow.Child_Asset_Count__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <elementReference>AssetRecords.firstSelectedRow.Base_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parking_Ref_ID__c</field>
            <value>
                <elementReference>ParkingRefIDFormula1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Category__c</field>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ListPrice__c</field>
            <value>
                <elementReference>SumofParkingTypeandTierPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__NetPrice__c</field>
            <value>
                <elementReference>VATvalueApplicationonNetPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookEntryId__c</field>
            <value>
                <elementReference>Get_Price_Book_Entry_of_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>AssetRecords.firstSelectedRow.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>quoteId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_Value__c</field>
            <value>
                <elementReference>ActualVATValueinCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT__c</field>
            <value>
                <elementReference>AssetRecords.firstSelectedRow.Product2.VAT__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Parking_Category_Prices</name>
        <label>Copy 1 of Get Parking Category Prices</label>
        <locationX>356</locationX>
        <locationY>3554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Asset_Records_if_Any</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_AssetRecords.firstSelectedRow.Parking_Category__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuraton__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Parking_Group_Prices</name>
        <label>Copy 1 of Get Parking Group Prices</label>
        <locationX>356</locationX>
        <locationY>3338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Parking_Segment_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_AssetRecords.firstSelectedRow.Parking_Group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuraton__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Parking_Segment_Prices</name>
        <label>Copy 1 of Get Parking Segment Prices</label>
        <locationX>356</locationX>
        <locationY>3446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Parking_Category_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_AssetRecords.firstSelectedRow.Parking_Segment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuraton__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_ParkingTier_Prices</name>
        <label>Copy 1 of Get ParkingTier Prices</label>
        <locationX>356</locationX>
        <locationY>3230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Parking_Group_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParkingTierselection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuraton__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_ParkingType_Price</name>
        <label>Copy 1 of Get ParkingType Price</label>
        <locationX>356</locationX>
        <locationY>3122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_ParkingTier_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parking_Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuraton__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_GetFilteredAssetRecords</name>
        <label>Copy 1 of GetFilteredAssetRecords</label>
        <locationX>587</locationX>
        <locationY>2690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Display</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Building_Section__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parking_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parking_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parking_Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParkingTierselection</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Premium_Parking</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_GetQLEAfterCreate</name>
        <label>Copy 1 of GetQLEAfterCreate</label>
        <locationX>158</locationX>
        <locationY>5186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_IfInventoryisInserted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_GetQLERecordsBeforeCreate</name>
        <label>Copy 1 of GetQLERecordsBeforeCreate</label>
        <locationX>356</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_ParkingType_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Asset_Records</name>
        <label>Get Child Asset Records</label>
        <locationX>1476</locationX>
        <locationY>3662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_Child_Records_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetRecords.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Asset_Records_if_Any</name>
        <label>Get Child Asset Records if Any</label>
        <locationX>356</locationX>
        <locationY>3662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Child_Records_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_AssetRecords.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parking_Category_Prices</name>
        <label>Get Parking Category Prices</label>
        <locationX>1476</locationX>
        <locationY>3554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Asset_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetRecords.firstSelectedRow.Parking_Category__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuraton__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parking_Group_Prices</name>
        <label>Get Parking Group Prices</label>
        <locationX>1476</locationX>
        <locationY>3338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parking_Segment_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parking_Group</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuraton__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parking_Segment_Prices</name>
        <label>Get Parking Segment Prices</label>
        <locationX>1476</locationX>
        <locationY>3446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parking_Category_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetRecords.firstSelectedRow.Parking_Segment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuraton__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ParkingTier_Prices</name>
        <label>Get ParkingTier Prices</label>
        <locationX>1476</locationX>
        <locationY>3230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parking_Group_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParkingTierselection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuraton__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ParkingType_Price</name>
        <label>Get ParkingType Price</label>
        <locationX>1476</locationX>
        <locationY>3122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ParkingTier_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parking_Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuraton__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry_of_Product</name>
        <label>Get Price Book Entry of Product</label>
        <locationX>1147</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectionSortParkingTier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PRP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAssetRecords</name>
        <label>getAssetRecords</label>
        <locationX>1147</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Book_Entry_of_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Project__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Building_Section__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Premium_Parking</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFilteredAssetRecords</name>
        <label>GetFilteredAssetRecords</label>
        <locationX>1707</locationX>
        <locationY>2690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Inventory</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Building_Section__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parking_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parking_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parking_Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParkingTierselection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parking_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parking_Group</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Premium_Parking</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQLEAfterCreate</name>
        <label>GetQLEAfterCreate</label>
        <locationX>1278</locationX>
        <locationY>5186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfInventoryisInserted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQLERecordsBeforeCreate</name>
        <label>GetQLERecordsBeforeCreate</label>
        <locationX>1476</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ParkingType_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Parking_Type_and_Tier</name>
        <label>Copy 1 of Update Parking Type and Tier</label>
        <locationX>158</locationX>
        <locationY>4478</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Quote_Line_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Parking_Category__c</field>
            <value>
                <elementReference>Copy_1_of_AssetRecords.firstSelectedRow.Parking_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parking_Group__c</field>
            <value>
                <elementReference>Copy_1_of_AssetRecords.firstSelectedRow.Parking_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parking_Ref_ID__c</field>
            <value>
                <elementReference>ParkingRefID_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parking_Segment__c</field>
            <value>
                <elementReference>Copy_1_of_AssetRecords.firstSelectedRow.Parking_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parking_Tier__c</field>
            <value>
                <elementReference>Copy_1_of_AssetRecords.firstSelectedRow.Parking_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parking_Type__c</field>
            <value>
                <elementReference>Copy_1_of_AssetRecords.firstSelectedRow.Parking_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parking_Type_and_Tier</name>
        <label>Update Parking Type and Tier</label>
        <locationX>1278</locationX>
        <locationY>4478</locationY>
        <connector>
            <targetReference>Create_Quote_Line_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Parking_Category__c</field>
            <value>
                <elementReference>AssetRecords.firstSelectedRow.Parking_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parking_Group__c</field>
            <value>
                <elementReference>AssetRecords.firstSelectedRow.Parking_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parking_Ref_ID__c</field>
            <value>
                <elementReference>ParkingRefIDFormula1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parking_Segment__c</field>
            <value>
                <elementReference>AssetRecords.firstSelectedRow.Parking_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parking_Tier__c</field>
            <value>
                <elementReference>AssetRecords.firstSelectedRow.Parking_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parking_Type__c</field>
            <value>
                <elementReference>AssetRecords.firstSelectedRow.Parking_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Display</name>
        <label>Copy 1 of Display</label>
        <locationX>587</locationX>
        <locationY>2798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_MaxParkingCheck</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_AssetRecords</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Asset</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Copy_1_of_GetFilteredAssetRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Parking_Ref_ID__c&quot;,&quot;guid&quot;:&quot;column-15e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Parking Ref ID&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Project_Name__c&quot;,&quot;guid&quot;:&quot;column-c01f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Project Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Project Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Building_Name__c&quot;,&quot;guid&quot;:&quot;column-0516&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Building Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Building Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Parking_Type__c&quot;,&quot;guid&quot;:&quot;column-4d4a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Parking Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Parking_Tier__c&quot;,&quot;guid&quot;:&quot;column-5024&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Parking Tier&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Parking_Group__c&quot;,&quot;guid&quot;:&quot;column-65b3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Parking Group&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Parking_Segment__c&quot;,&quot;guid&quot;:&quot;column-ffa3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Parking Segment&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Parking_Category__c&quot;,&quot;guid&quot;:&quot;column-1c94&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Parking Category&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Parking_Bay__c&quot;,&quot;guid&quot;:&quot;column-b463&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Parking Bay&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Asset_Category__c&quot;,&quot;guid&quot;:&quot;column-282a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:9,&quot;label&quot;:&quot;Asset Category&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Child_Asset_Count__c&quot;,&quot;guid&quot;:&quot;column-528b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Child Asset Count&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:10,&quot;label&quot;:&quot;Child Asset Count&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Verdana; color: rgb(34, 238, 89);&quot;&gt;Inventory has been added to the quote line. Please click X button to close the pop-up and then click &apos;Quick Save&apos;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Copy_1_of_IfCountisGreater</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_DisplayErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(215, 45, 19);&quot;&gt;You have exceeded the Maximum premium parking limit that can be allocated per customer for this Project and Building.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Copy_1_of_MaxPArkingisGreater</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>YouCanInsertonlyoneInventory</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: &amp;quot;Aptos Narrow&amp;quot;, Calibri, &amp;quot;sans-serif&amp;quot;, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; color: rgb(250, 24, 50);&quot;&gt;You can add only one inventory per Quote.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Copy_1_of_Inventory_Count_is_Zero</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Add Inventory</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Inventory</name>
        <label>Display</label>
        <locationX>1707</locationX>
        <locationY>2798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MaxParkingCheck</targetReference>
        </connector>
        <fields>
            <name>AssetRecords</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Asset</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetFilteredAssetRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Parking_Ref_ID__c&quot;,&quot;guid&quot;:&quot;column-15e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Parking Ref ID&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Project_Name__c&quot;,&quot;guid&quot;:&quot;column-c01f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Project Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Project Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Building_Name__c&quot;,&quot;guid&quot;:&quot;column-0516&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Building Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Building Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Parking_Type__c&quot;,&quot;guid&quot;:&quot;column-4d4a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Parking Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Parking_Tier__c&quot;,&quot;guid&quot;:&quot;column-5024&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Parking Tier&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Parking_Group__c&quot;,&quot;guid&quot;:&quot;column-65b3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Parking Group&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Parking_Segment__c&quot;,&quot;guid&quot;:&quot;column-ffa3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Parking Segment&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Parking_Category__c&quot;,&quot;guid&quot;:&quot;column-1c94&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Parking Category&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Parking_Bay__c&quot;,&quot;guid&quot;:&quot;column-b463&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Parking Bay&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Asset_Category__c&quot;,&quot;guid&quot;:&quot;column-282a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:9,&quot;label&quot;:&quot;Asset Category&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Child_Asset_Count__c&quot;,&quot;guid&quot;:&quot;column-1f34&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Child Asset Count&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:10,&quot;label&quot;:&quot;Child Asset Count&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Verdana; color: rgb(34, 238, 89);&quot;&gt;Inventory has been added to the quote line. Please click X button to close the pop-up and then click &apos;Quick Save&apos;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IfCountisGreater</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(215, 45, 19);&quot;&gt;You have exceeded the Maximum premium parking limit that can be allocated per customer for this Project and Building.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>MaxPArkingisGreater</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InventoryInsertonlyOnce</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: &amp;quot;Aptos Narrow&amp;quot;, Calibri, &amp;quot;sans-serif&amp;quot;, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; color: rgb(250, 24, 50);&quot;&gt;You can add only one inventory per Quote.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Inventory_Count_is_Zero</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Add Inventory</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Parking_Type_and_Tiers</name>
        <label>Select Parking Type and Tiers</label>
        <locationX>1147</locationX>
        <locationY>2474</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>When_Parking_Group_is_Null</targetReference>
        </connector>
        <fields>
            <name>Parking_Type</name>
            <choiceReferences>FinalParkingTypesforChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parking Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ParkingTierselection</name>
            <choiceReferences>FinalParkingTiersForChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parking Tier</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Parking_Group</name>
            <choiceReferences>FinalParkingGroupforChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parking Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ParkingSegments1</name>
            <choiceReferences>ParkingSegments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parking Segment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.CurrentDate</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ParkingCategory1</name>
            <choiceReferences>ParkingCategory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parking Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.CurrentDate</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1021</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAssetRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChildAssetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ChildAssetCollection1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Parking_Groups</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>FinalParkingGroup</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>FinalParkingTiers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>FinalParkingTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>PreviousParkingGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreviousParkingTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreviousParkingType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>SumofParkingTypeandTierPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
