force-app/main/default/flows/DLP_Executive_Escalate_Tech_No_Show.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Available</name>
        <choiceText>Available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Available</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotAvailable</name>
        <choiceText>Not Available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Available</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherEscalation</name>
        <choiceText>Other Escalation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Escalation</stringValue>
        </value>
    </choices>
    <choices>
        <name>TechniciannoshowEscalation</name>
        <choiceText>Technician No Show Escalation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technician No Show Escalation</stringValue>
        </value>
    </choices>
    <decisions>
        <name>chk_For_DLP</name>
        <label>chk For DLP</label>
        <locationX>1535</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>DLP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_DLP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceAppointmentRecord.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Resolution_Appointment</targetReference>
            </connector>
            <label>if DLP</label>
        </rules>
    </decisions>
    <decisions>
        <name>chk_Status</name>
        <label>chk Status</label>
        <locationX>1172</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Work_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceAppointmentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>chk_Technician_alreay_Informed</targetReference>
            </connector>
            <label>Work In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>chk_Technician_alreay_Informed</name>
        <label>chkTechnician alreay Informed</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Informed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>resolution_SA.Technician_Availability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technician Not Available-Informed by Supervisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>resolution_SA.Technician_Availability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technician Not Available-Informed by Technician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cant_Escalate_Warning</targetReference>
            </connector>
            <label>If Informed</label>
        </rules>
        <rules>
            <name>If_None</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>resolution_SA.Technician_Availability__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>resolution_SA.Technician_Availability__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DLP_Confirmation</targetReference>
            </connector>
            <label>If None</label>
        </rules>
        <rules>
            <name>IF_Already_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>resolution_SA.Technician_Availability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technician No Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>resolution_SA.Technician_Availability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DLP Other Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Escalate_Warning</targetReference>
            </connector>
            <label>IF Already Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_Available</name>
        <label>IF Available</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>chk_if_Availble</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Available</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DLP_Escalation_Comment</targetReference>
            </connector>
            <label>chk if Availble</label>
        </rules>
        <rules>
            <name>If_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotAvailable</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_DLP_Escalation_Comment</targetReference>
            </connector>
            <label>If Not Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DLP Executive Escalate Tech No Show {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DLP Executive Escalate Tech No Show</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>get_Resolution_Appointment</name>
        <label>get Resolution Appointment</label>
        <locationX>1172</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceAppointmentRecord.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolution</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>resolution_SA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSSK__FSK_Assigned_Service_Resource__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>Technician_Availability__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>1535</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>chk_For_DLP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>var_ServiceAppointmentRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>FSSK__FSK_Assigned_Service_Resource__c</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Service_Resource</name>
        <label>get Service Resource</label>
        <locationX>1172</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>chk_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resolution_SA.FSSK__FSK_Assigned_Service_Resource__c</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>rec_SR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Resolution_SA</name>
        <label>Update Resolution SA</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resolution_SA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceNote</field>
            <value>
                <elementReference>Please_Enter_No_Show_Escalation_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technician_Availability__c</field>
            <value>
                <stringValue>Technician No Show</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Resolution_SA_Other_Escalation</name>
        <label>Update Resolution SA</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>final_screen_other</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resolution_SA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceNote</field>
            <value>
                <elementReference>Please_Enter_Escalation_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technician_Availability__c</field>
            <value>
                <stringValue>DLP Other Escalation</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Already_Escalate_Warning</name>
        <label>Already Escalate Warning</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>reEscalationWarning</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Escalation On Technician has been sent to Supervisors.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cant_Escalate_Warning</name>
        <label>Cant Escalate Warning</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CantEscalateWarning</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;As Technician already Informed Cant Escalate on Technician at this Stage.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_DLP_Escalation_Comment</name>
        <label>DLP Escalation Comment</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Resolution_SA</targetReference>
        </connector>
        <fields>
            <name>noShowEscalation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Technician No Show Escalation.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Assigned Technician : {!rec_SR.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Please_Enter_No_Show_Escalation_Comments</name>
            <fieldText>Please Enter No Show Escalation Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DLP</name>
        <label>DLP</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Warning_1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This is applicable for DLP Cases Only.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DLP_Confirmation</name>
        <label>DLP Confirmation</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IF_Available</targetReference>
        </connector>
        <fields>
            <name>Technician_Availability_Confirmation</name>
            <choiceReferences>Available</choiceReferences>
            <choiceReferences>NotAvailable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Technician Availability Confirmation</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DLP_Escalation_Comment</name>
        <label>DLP Escalation Comment</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Resolution_SA_Other_Escalation</targetReference>
        </connector>
        <fields>
            <name>AssignTech</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;DLP Other Escalations:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Assigned Technician : {!rec_SR.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Please_Enter_Escalation_Comments</name>
            <fieldText>Please Enter Escalation Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Notify_Screen</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Escalation on Technician will be send to Contractor Supervisor and Aldar Supervisor.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>final_screen_other</name>
        <label>final screen other</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>fianal</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Escalation on Technician will be send to Contractor Supervisor and Aldar Supervisor.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Warning_Screen</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;It is not allowed to Escalate at this stage.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1409</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(186, 46, 46);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(176, 16, 16);&quot;&gt;{!rec_SR.Name} didnt attend the appointment without informing. Please take action.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lst_supervisor_Email_id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lst_Supervisor_id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rec_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rec_SR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>resolution_SA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SAstatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_isPatnerSA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NonAvailability_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RTName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceAppointmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Var_WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
