force-app/main/default/flows/DLP_Case_Share_Access.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Case_Share_for_Assigned_Resource</name>
        <label>Case Share for Assigned Resource</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_CaseShare.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShare.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Resolution_SA_Records.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Case_Share</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Share_for_Assigned_Resource1</name>
        <label>Case Share for Assigned Resource</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_CaseShare.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShare.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Resolution_SA_Records.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Share_for_Assigned_Resource_with_Supervisor</name>
        <label>Case Share for Assigned Resource with Supervisor</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>var_CaseShare.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShare.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Resolution_SA_Records.FSSK__FSK_Assigned_Service_Resource__r.Supervisor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_Assignment_for_supervisor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_Assignment</name>
        <label>List Assignment</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>var_CaseShareList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_CaseShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Share_for_Assigned_Resource_with_Supervisor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_Assignment_for_supervisor</name>
        <label>List Assignment for supervisor</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>var_CaseShareList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_CaseShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Case_Share_List_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Resolution_SA_Decision</name>
        <label>Resolution SA Decision</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Resolution_SA_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Resolution_SA_Records.FSSK__FSK_Assigned_Service_Resource__r.Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Share_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Share_for_Assigned_Resource</targetReference>
            </connector>
            <label>SA Supervisor Not exist</label>
        </rules>
        <rules>
            <name>Supervisor_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Resolution_SA_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Resolution_SA_Records.FSSK__FSK_Assigned_Service_Resource__r.Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Share_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Share_for_Assigned_Resource1</targetReference>
            </connector>
            <label>Supervisor Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DLP Case Share Access {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DLP Case Share Access</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Case_Share_List_Records</name>
        <label>Insert Case Share List Records</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <inputReference>var_CaseShareList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Share_Record</name>
        <label>Get Case Share Record</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resolution_SA_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Resolution_SA_Records.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseAccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Resolution_SA_Records</name>
        <label>Get Resolution SA Records</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Share_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolution</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Insert_Case_Share</name>
        <label>Insert Case Share</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>var_CaseShare</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Resolution_SA_Records</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Re-scheduled</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>var_CaseShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>var_CaseShareList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
</Flow>
