force-app/main/default/flows/Document_After_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Listing_Agreement_Ready_For_Signature_Push_Notification</name>
        <label>Listing Agreement Ready For Signature Push Notification</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>CustomerPushNotificationWebservice</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>notificationARBody</name>
            <value>
                <elementReference>AgreenmentForSignNotificationARBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARTitle</name>
            <value>
                <elementReference>AgreenmentForSignNotificationARTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationBody</name>
            <value>
                <elementReference>AgreenmentForSignNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationClickAction</name>
            <value>
                <stringValue>fcm.ACTION.NOTIF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationFunctionalRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationFunctionalSubType</name>
            <value>
                <stringValue>resale</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationFunctionalType</name>
            <value>
                <stringValue>listing_agreement_ready</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationFunctionalUnitName</name>
            <value>
                <elementReference>$Record.Case__r.Unit__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationMessageType</name>
            <value>
                <stringValue>transactional</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationSubAppType</name>
            <value>
                <stringValue>PRO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTitle</name>
            <value>
                <elementReference>AgreenmentForSignNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationType</name>
            <value>
                <stringValue>NOTIFICATION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationUserEmail</name>
            <value>
                <elementReference>$Record.Case__r.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationUserId</name>
            <value>
                <elementReference>$Record.Case__r.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationUserName</name>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomerPushNotificationWebservice</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>ListingAgreementReadyForSignature</name>
        <label>Listing Agreement Ready For Signature</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>CustomerNotificationWebService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Listing_Agreement_Ready_For_Signature_Push_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountEmail</name>
            <value>
                <elementReference>$Record.Case__r.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Case__r.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARBody</name>
            <value>
                <elementReference>AgreenmentForSignNotificationARBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARTitle</name>
            <value>
                <elementReference>AgreenmentForSignNotificationARTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationBody</name>
            <value>
                <elementReference>AgreenmentForSignNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTitle</name>
            <value>
                <elementReference>AgreenmentForSignNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subType</name>
            <value>
                <stringValue>resale</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>listing_agreement_ready</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CustomerNotificationWebService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>ProcessParentObject</name>
        <label>Process Parent Object</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>ResaleCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProcessResaleCase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProcessResaleCase__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DocumentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Listing Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement Signature In Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.ProjectName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ListingAgreementReadyForSignature</targetReference>
            </connector>
            <label>Resale Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountName</name>
        <dataType>String</dataType>
        <expression>IF(
  $Record.Case__r.Account.IsPersonAccount,
  $Record.Case__r.Account.FirstName &amp; &quot; &quot; &amp; $Record.Case__r.Account.LastName,
  $Record.Case__r.Account.Name
)</expression>
    </formulas>
    <formulas>
        <name>AgreenmentForSignNotificationARBody</name>
        <dataType>String</dataType>
        <expression>&apos;Your property at &apos; + {!$Record.Case__r.ProjectName__c} + &apos; has been approved for sale. Sign your agreement now.&apos;</expression>
    </formulas>
    <formulas>
        <name>AgreenmentForSignNotificationARTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Great news!&apos;</expression>
    </formulas>
    <formulas>
        <name>AgreenmentForSignNotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Your property at &apos; + {!$Record.Case__r.ProjectName__c} + &apos; has been approved for sale. Sign your agreement now.&apos;</expression>
    </formulas>
    <formulas>
        <name>AgreenmentForSignNotificationTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Great news!&apos;</expression>
    </formulas>
    <interviewLabel>Document After Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document After Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProcessParentObject</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Document__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
