force-app/main/default/flows/Document_Customer_Notification_Reminder_Flow_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_For_CIS</name>
        <label>Send Notification For CIS</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>CustomerNotificationWebService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountEmail</name>
            <value>
                <elementReference>$Record.Case__r.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Case__r.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARBody</name>
            <value>
                <elementReference>CISARBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARTitle</name>
            <value>
                <elementReference>CISARTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationBody</name>
            <value>
                <elementReference>CISBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTitle</name>
            <value>
                <elementReference>CISTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Profile</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CustomerNotificationWebService</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_For_RA</name>
        <label>Send Notification For RA</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>CustomerNotificationWebService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountEmail</name>
            <value>
                <elementReference>$Record.SalesOrder__r.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.SalesOrder__r.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>importantNotification</name>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARBody</name>
            <value>
                <elementReference>ReservationARBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARTitle</name>
            <value>
                <elementReference>ReservationARTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationBody</name>
            <value>
                <elementReference>ReservationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTitle</name>
            <value>
                <elementReference>ReservationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.SalesOrder__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Property Journey</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CustomerNotificationWebService</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_For_SPA</name>
        <label>Send Notification For SPA</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>CustomerNotificationWebService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountEmail</name>
            <value>
                <elementReference>$Record.SalesOrder__r.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.SalesOrder__r.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>importantNotification</name>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARBody</name>
            <value>
                <elementReference>SPAARBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARTitle</name>
            <value>
                <elementReference>SPAARTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationBody</name>
            <value>
                <elementReference>SPABody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTitle</name>
            <value>
                <elementReference>SPATitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.SalesOrder__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Property Journey</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CustomerNotificationWebService</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_Status_Change</name>
        <label>Check for Status Change</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SPA_Status_Change</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrder__r.Account__r.CustomerAppWebUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DocumentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPA - Digital The Source ||</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uploaded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrder__r.Account__r.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_For_SPA</targetReference>
            </connector>
            <label>Yes, SPA Status Change</label>
        </rules>
        <rules>
            <name>Yes_RA_Status_Change</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrder__r.Account__r.CustomerAppWebUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DocumentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservation Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uploaded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrder__r.Account__r.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_For_RA</targetReference>
            </connector>
            <label>Yes, RA Status Change</label>
        </rules>
        <rules>
            <name>Yes_CIS_Status_Change</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Account.CustomerAppWebUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DocumentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIS Sheet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uploaded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_For_CIS</targetReference>
            </connector>
            <label>Yes, CIS Status Change</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CISARBody</name>
        <dataType>String</dataType>
        <expression>&apos;تم إنشاء صحيفة معلومات العميل. يرجى المضي قدما بالتوقيع.&apos;</expression>
    </formulas>
    <formulas>
        <name>CISARTitle</name>
        <dataType>String</dataType>
        <expression>&apos;تم إنشاء صحيفة معلومات العميل&apos;</expression>
    </formulas>
    <formulas>
        <name>CISBody</name>
        <dataType>String</dataType>
        <expression>&apos;Customer Information Sheet is generated. Please proceed with the signature.&apos;</expression>
    </formulas>
    <formulas>
        <name>CISTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Customer Information Sheet is generated&apos;</expression>
    </formulas>
    <formulas>
        <name>ReservationARBody</name>
        <dataType>String</dataType>
        <expression>&apos;تم إنشاء اتفاقية الحجز الخاصة بك للوحدة &apos; + {!$Record.SalesOrder__r.UnitNumber__c} + &apos;. نحتاج الآن إلى توقيعك للمضي.&apos;</expression>
    </formulas>
    <formulas>
        <name>ReservationARTitle</name>
        <dataType>String</dataType>
        <expression>&apos;تم إنشاء اتفاقية الحجز للوحدة &apos; + {!$Record.SalesOrder__r.UnitNumber__c} + &apos;&apos;</expression>
    </formulas>
    <formulas>
        <name>ReservationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Reservation Agreement Alert! Your RA for Unit &apos; + {!$Record.SalesOrder__r.UnitNumber__c} + &apos; is ready. Please sign to move forward&apos;</expression>
    </formulas>
    <formulas>
        <name>ReservationTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Reservation Agreement is generated for Unit &apos; + {!$Record.SalesOrder__r.UnitNumber__c}</expression>
    </formulas>
    <formulas>
        <name>SPAARBody</name>
        <dataType>String</dataType>
        <expression>&apos;تم إنشاء اتفاقية البيع و الشراء الخاصة بالوحدة &apos; + {!$Record.SalesOrder__r.UnitNumber__c} + &apos;. نحن الان بحاجه إلى توقيعك للمضي قدمًا.&apos;</expression>
    </formulas>
    <formulas>
        <name>SPAARTitle</name>
        <dataType>String</dataType>
        <expression>&apos;إنشاء اتفاقية البيع و الشراء الخاصة بالوحدة &apos; + {!$Record.SalesOrder__r.UnitNumber__c}</expression>
    </formulas>
    <formulas>
        <name>SPABody</name>
        <dataType>String</dataType>
        <expression>&apos;Your Sales and Purchase Agreement (SPA) for Unit &apos; + {!$Record.SalesOrder__r.UnitNumber__c} + &apos; is now generated. We now require your signature to proceed further.&apos;</expression>
    </formulas>
    <formulas>
        <name>SPATitle</name>
        <dataType>String</dataType>
        <expression>&apos;SPA is generated for Unit &apos; + {!$Record.SalesOrder__r.UnitNumber__c}</expression>
    </formulas>
    <interviewLabel>Document Customer Notification / Reminder Flow Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Customer Notification / Reminder Flow Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Status_Change</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Uploaded</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Generated</stringValue>
            </value>
        </filters>
        <object>Document__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
