force-app/main/default/flows/ECSS_Contract_Unit_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Contract_Details_CU_and_Update_CU_Update</name>
        <label>Check Contract Details CU and Update CU Update</label>
        <locationX>182</locationX>
        <locationY>1955</locationY>
        <actionName>contractDetailsUpdateCU</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateContract_Unit</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.ECSS_Unit__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>contractDetailsUpdateCU</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Customer_Unit_Owner</name>
        <label>Assign Customer Unit - Owner</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>$Record.ECSS_CustomerUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Unit_Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_Unit_Tenant</name>
        <label>Assign Customer Unit - Tenant</label>
        <locationX>754</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>$Record.ECSS_CustomerUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Unit_Tenant.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContract_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ECSS_Unit</name>
        <label>Assign ECSS Unit</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.ECSS_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Functional_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_FunctionalLocation_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ECSS_Unit_of_type_ecssUnit</name>
        <label>Assign ECSS Unit of type ecssUnit</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.ECSS_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_ECSS_Unit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_ECSS_Unit_is_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Customer_Unit_Owner_New</name>
        <label>Assignment Customer Unit - Owner New</label>
        <locationX>314</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>$Record.ECSS_CustomerUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Customer_Unit_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Customer_Unit_Tenant_New</name>
        <label>Assignment Customer Unit - Tenant New</label>
        <locationX>1018</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>$Record.ECSS_CustomerUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Customer_Unit_Tenant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContract_Unit</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Copy_1_of_Copy_1_of_Error_On_Unit_Missing</name>
        <label>Copy 1 of Copy 1 of Error On Unit Missing</label>
        <locationX>622</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Organization_Type</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Unit SAP Id does not exist</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_1_of_Error_On_Unit_Missing</name>
        <label>Copy 1 of Error On Unit Missing</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Organization_Type</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Unit SAP Id does not exist</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Asset</name>
        <label>Check Asset</label>
        <locationX>314</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>UpdateContract_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ECSS_Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contract_Details_CU_and_Update_CU_Update</targetReference>
            </connector>
            <label>has Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_ECSS_Unit_is_Null</name>
        <label>Check if ECSS Unit is Null</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Organization_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Not_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_ECSS_Unit</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Error_On_Unit_Missing</targetReference>
            </connector>
            <label>Copy 1 of Not Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_FunctionalLocation_is_null</name>
        <label>Check if FunctionalLocation is null</label>
        <locationX>754</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Organization_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Functional_Location_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Functional_Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Error_On_Unit_Missing</targetReference>
            </connector>
            <label>Functional Location Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExternalId</name>
        <label>ExternalId</label>
        <locationX>886</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>External_Id_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ECSS_UnitExternalId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ECSS_Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>toCheckType</targetReference>
            </connector>
            <label>External Id - Filled</label>
        </rules>
        <rules>
            <name>Unit_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ECSS_Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Organization_Type</targetReference>
            </connector>
            <label>Unit - Filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found</name>
        <label>Found</label>
        <locationX>314</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Check_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Unit_Owner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_Unit_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Unit_Owner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer_Unit_Owner</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Tenant</name>
        <label>Found</label>
        <locationX>1018</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>UpdateContract_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Tenant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Unit_Tenant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_Unit_Tenant</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Tenant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Unit_Tenant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer_Unit_Tenant</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organization_Type</name>
        <label>Organization Type</label>
        <locationX>886</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>UpdateContract_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Khidmah_IFM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__r.ECSS_ContractOrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Khidmah</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract__r.ECSS_ContractOrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IFM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Unit_Owner</targetReference>
            </connector>
            <label>Khidmah/IFM</label>
        </rules>
        <rules>
            <name>Tenancy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__r.ECSS_ContractOrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tenancy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Unit_Tenant</targetReference>
            </connector>
            <label>Tenancy</label>
        </rules>
    </decisions>
    <decisions>
        <name>toCheckType</name>
        <label>toCheckType</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Functional_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TenantContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__r.ECSS_ContractOrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tenancy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_ECSS_Unit</targetReference>
            </connector>
            <label>TenantContract</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contract Unit : Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ECSS_Contract Unit : Before Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer_Unit_Owner</name>
        <label>Create Customer Unit - Owner</label>
        <locationX>314</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Assignment_Customer_Unit_Owner_New</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Contract__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Type__c</field>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>$Record.ECSS_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Customer_Unit_Tenant</name>
        <label>Create Customer Unit - Tenant</label>
        <locationX>1018</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Assignment_Customer_Unit_Tenant_New</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Contract__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Type__c</field>
            <value>
                <stringValue>Tenant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>$Record.ECSS_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Customer_Unit_Owner</name>
        <label>Get Customer Unit - Owner</label>
        <locationX>314</locationX>
        <locationY>1331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__r.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ECSS_Unit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Unit_Tenant</name>
        <label>Get Customer Unit - Tenant</label>
        <locationX>1018</locationX>
        <locationY>1331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Tenant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tenant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__r.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ECSS_Unit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_ECSS_Unit</name>
        <label>Get Related ECSS Unit</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ECSS_Unit_of_type_ecssUnit</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ExternalIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ECSS_UnitExternalId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ECSS_Unit</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ecss_unit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Functional_Location</name>
        <label>Get Related Functional Location</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ECSS_Unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ECSS_UnitExternalId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Functional</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContract_Unit</name>
        <label>Update Contract - Unit</label>
        <locationX>886</locationX>
        <locationY>2231</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ExternalId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract_Unit</stringValue>
            </value>
        </filters>
        <object>Unit_Contract__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
