force-app/main/default/flows/ECSS_Quote_Broker_Percentage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Counter_Values</name>
        <label>Assign Counter Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varN_QLICounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_QLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_QLIs_is_one_or_more</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_QLIs_is_one_or_more</name>
        <label>Check if QLIs is one or more</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_one_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_QLICounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assets</targetReference>
            </connector>
            <label>More than one record</label>
        </rules>
        <rules>
            <name>One_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_QLICounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Commission_for_external_units</targetReference>
            </connector>
            <label>One record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ECSS Quote Broker Percentage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ECSS Quote Broker Percentage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assets</name>
        <label>Get Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_Asset_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Commission</name>
        <label>Get Project Commission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ECSS_Project__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_Project_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ECSS_ProjectCommission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Commission_for_external_units</name>
        <label>Get Project Commission  for external units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Quote_External_units</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ECSS_Asset__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_Asset_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ECSS_ProjectCommission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QLIs</name>
        <label>Get QLIs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ECSS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RENT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ECSS_Broker_Percentage__c</field>
            <value>
                <elementReference>Get_Project_Commission.ECSS_BrokerCommission__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_External_units</name>
        <label>Update Quote External units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ECSS_Broker_Percentage__c</field>
            <value>
                <elementReference>Get_Project_Commission_for_external_units.ECSS_BrokerCommission__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_QLIs</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ECSS_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leasing</stringValue>
            </value>
        </filters>
        <filters>
            <field>ECSS_RelatedBroker__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Get_Asset_Ids</name>
        <label>Get Asset Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Counter_Values</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_QLIs[$EachItem].Asset__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Get_Project_Ids</name>
        <label>Get Project Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Commission</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Assets[$EachItem].ECSS_Project__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>varN_QLICounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
