force-app/main/default/flows/ECSS_Create_Broker_Account_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Submit_account_for_approval</name>
        <label>Submit account for approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>toGetDocsRecordType</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>ECSS_broker_approval_process</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>toReditToCreatedBrokerAcc</name>
        <label>toReditToCreatedBrokerAcc</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:RedirectToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:RedirectToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddTradeLicenseToCollection</name>
        <label>AddTradeLicenseToCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddPassportToCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toCreateDocs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Docs</name>
        <label>Assign Docs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docRecord.DocumentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.toGetTypeAndSubTypeDependency.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.ECSS_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.toGetTypeAndSubTypeDependency.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toGetDocsRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddPassportToCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Trade_License_Expiry_Required</name>
        <label>Assign Trade License Expiry - Required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docRecord.ECSS_Expiry_Date_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trade_license</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTradeLicenseFlag</name>
        <label>AssignTradeLicenseFlag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TradeLicenseFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmptyDocsCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTradeLicenseFlag2</name>
        <label>AssignTradeLicenseFlag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TradeLicenseFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>toCheckDocsUpload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_toAddPassportToCollection</name>
        <label>Copy 2 of toAddPassportToCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddPassportToCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAssignPassport_Visa_and_Emirates_ID_front_back_copies_of_the_Authorized_Signat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_toAssignPassportCreation</name>
        <label>Copy 2 of toAssignPassportCreation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docRecord.DocumentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passport Copy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.ECSS_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passport</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toGetDocsRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_toAddPassportToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmptyDocsCollection</name>
        <label>EmptyDocsCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddPassportToCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>to_Add_VAT_Registration_Certificate_VAT_Exemption_Certificates_to_collection</name>
        <label>to Add -VAT Registration Certificate / VAT Exemption Certificates to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddPassportToCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_toAssignPassportCreation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>to_Assign_VAT_Registration_Certificate_VAT_Exemption_Certificate</name>
        <label>to Assign -VAT Registration Certificate / VAT Exemption Certificate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docRecord.DocumentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VAT Registration Certificate / VAT Exemption Certificate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.ECSS_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VAT  - VAT Registration Certificate / VAT Exemption Certificate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toGetDocsRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>to_Add_VAT_Registration_Certificate_VAT_Exemption_Certificates_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAddAgent_s_Broker_s_ID_from_DARI</name>
        <label>toAddAgent’s Broker’s ID from DARI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddPassportToCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAssigCompany_Profile_Capability_Statement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAddBAN_Letter_addressed_to_Asteco_and_IBAN_Certificate</name>
        <label>toAddBAN Letter addressed to Asteco and IBAN Certificate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddPassportToCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAssignAgent_s_Broker_s_ID_from_DARI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAddBrokers_Agreement_signed_and_stamped_on_all_pages</name>
        <label>toAddBrokers Agreement (signed and stamped on all pages)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddPassportToCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAssignBAN_Letter_addressed_to_Asteco_and_IBAN_Certificate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAddCompany_Profile_Capability_Statement</name>
        <label>toAddCompany Profile / Capability Statement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddPassportToCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAssignProof_of_goAML_Anti_Money_Laundering_Registration_Compliance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAddCompany_Website_take_a_screenshot_and_send_in_PDF</name>
        <label>toAddCompany Website (take a screenshot and send in PDF)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddPassportToCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAssignProof_of_the_Ultimate_Beneficial_Owner_UBO_of_the_company</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAddPassport_Visa_and_Emirates_ID_front_back_copies_of_the_Authorized_Signatory</name>
        <label>toAddPassport, Visa, and Emirates ID (front &amp; back) copies of the Authorized Signatory to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddPassportToCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAssignPower_of_Attorney_and_or_Authorization_Letter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAddPassportToCollection</name>
        <label>toAddPassportToCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddPassportToCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trade_license</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAddPower_of_Attorney_and_or_Authorization_Letter</name>
        <label>toAddPower of Attorney and/or Authorization Letter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddPassportToCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAssignBrokers_Agreement_signed_and_stamped_on_all_pages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAddProof_of_Company_Address_Tawtheeq_or_ADDC_Bill</name>
        <label>toAddProof of Company Address (Tawtheeq or ADDC Bill)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddPassportToCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAssignCompany_Website_take_a_screenshot_and_send_in_PDF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAddProof_of_goAML_Anti_Money_Laundering_Registration_Compliance</name>
        <label>toAddProof of goAML (Anti-Money Laundering) Registration / Compliance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddPassportToCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAssignPProof_of_Company_Address_Tawtheeq_or_ADDC_Bill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAddProof_of_the_Ultimate_Beneficial_Owner_UBO_of_the_company</name>
        <label>toAddProof of the Ultimate Beneficial Owner (UBO) of the company</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddPassportToCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Trade_License_Expiry_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAssigCompany_Profile_Capability_Statement</name>
        <label>toAssigCompany Profile / Capability Statement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docRecord.DocumentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Company Profile / Capability Statement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.ECSS_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Company Profile / Capability Statement - Company Profile / Capability Statement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toGetDocsRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAddCompany_Profile_Capability_Statement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAssignAgent_s_Broker_s_ID_from_DARI</name>
        <label>toAssignAgent’s Broker’s ID from DARI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docRecord.DocumentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agent’s Broker’s ID from DARI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.ECSS_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agent’s Broker’s - Agent’s Broker’s ID from DARI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toGetDocsRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAddAgent_s_Broker_s_ID_from_DARI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAssignBAN_Letter_addressed_to_Asteco_and_IBAN_Certificate</name>
        <label>toAssignBAN Letter addressed to Asteco and IBAN Certificate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docRecord.DocumentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IBAN Letter addressed to Asteco and IBAN Certificate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.ECSS_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IBAN Certificate - IBAN Letter addressed to Asteco and IBAN Certificate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toGetDocsRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAddBAN_Letter_addressed_to_Asteco_and_IBAN_Certificate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAssignBrokers</name>
        <label>toAssignCompanyBrokers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BrokerAgency.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Broker_Agent_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BrokerAgency.CustomerVertical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aldar Estates</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BrokerAgency.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAgencyRecordtypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BrokerAgency.CustomerVertical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aldar Estates</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BrokerAgency.SapAccountID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAP_Account_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Broker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAssignBrokers_Agreement_signed_and_stamped_on_all_pages</name>
        <label>toAssignBrokers Agreement (signed and stamped on all pages)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docRecord.DocumentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brokers Agreement (signed and stamped on all pages)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.ECSS_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brokers Agreement - Brokers Agreement (signed and stamped on all pages)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toGetDocsRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAddBrokers_Agreement_signed_and_stamped_on_all_pages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAssignCompany_Website_take_a_screenshot_and_send_in_PDF</name>
        <label>toAssignCompany Website (take a screenshot and send in PDF)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docRecord.DocumentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Company Website (take a screenshot and send in PDF)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.ECSS_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Company Website - Company Website (take a screenshot and send in PDF)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toGetDocsRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAddCompany_Website_take_a_screenshot_and_send_in_PDF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAssignIndividualCompany</name>
        <label>toAssignIndividualCompany</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BrokerAgency.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BrokerAgency.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BrokerAgency.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PersonEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BrokerAgency.MobileCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BrokerAgency.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PersonMobilePhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BrokerAgency.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Broker_Person_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BrokerAgency.SapAccountID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAP_Account_id_Person</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Broker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAssignPassport_Visa_and_Emirates_ID_front_back_copies_of_the_Authorized_Signat</name>
        <label>toAssignPassport, Visa, and Emirates ID (front &amp; back) copies of the Authorized Signatory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docRecord.DocumentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passport, Visa, and Emirates ID (front &amp; back) copies of the Authorized Signatory</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.ECSS_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passport - Passport, Visa, and Emirates ID (front &amp; back) copies of the Authorized Signatory</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toGetDocsRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAddPassport_Visa_and_Emirates_ID_front_back_copies_of_the_Authorized_Signatory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAssignPassportCreationv</name>
        <label>toAssignPassportCreation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docRecord.DocumentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passport Copy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.ECSS_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passport</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toGetDocsRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAddPassportToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAssignPower_of_Attorney_and_or_Authorization_Letter</name>
        <label>toAssignPower of Attorney and/or Authorization Letter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docRecord.DocumentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Power of Attorney and/or Authorization Letter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.ECSS_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Power of Attorney and/or Authorization Letter - Power of Attorney and/or Authorization Letter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toGetDocsRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAddPower_of_Attorney_and_or_Authorization_Letter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAssignPProof_of_Company_Address_Tawtheeq_or_ADDC_Bill</name>
        <label>toAssignPProof of Company Address (Tawtheeq or ADDC Bill)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docRecord.DocumentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proof of Company Address (Tawtheeq or ADDC Bill)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.ECSS_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Company Address - Proof of Company Address (Tawtheeq or ADDC Bill)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toGetDocsRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAddProof_of_Company_Address_Tawtheeq_or_ADDC_Bill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAssignProof_of_goAML_Anti_Money_Laundering_Registration_Compliance</name>
        <label>toAssignProof of goAML (Anti-Money Laundering) Registration / Compliance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docRecord.DocumentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proof of goAML (Anti-Money Laundering) Registration / Compliance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.ECSS_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>goAML - Proof of goAML (Anti-Money Laundering) Registration / Compliance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toGetDocsRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAddProof_of_goAML_Anti_Money_Laundering_Registration_Compliance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toAssignProof_of_the_Ultimate_Beneficial_Owner_UBO_of_the_company</name>
        <label>toAssignProof of the Ultimate Beneficial Owner (UBO) of the company</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docRecord.DocumentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proof of the Ultimate Beneficial Owner (UBO) of the company</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.ECSS_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ultimate Beneficial Owner - Proof of the Ultimate Beneficial Owner (UBO) of the company</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toGetDocsRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toAddProof_of_the_Ultimate_Beneficial_Owner_UBO_of_the_company</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Trade_license</name>
        <label>Trade license</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docRecord.DocumentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trade License</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.ECSS_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Copy of Trade license OR Trade Name along with 3-month bank statement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toGetDocsRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddTradeLicenseToCollection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Company</name>
        <choiceText>Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Individual</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>test</name>
        <choiceText>test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>test</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Company_or_Individual</name>
        <label>Company or Individual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Enter_Individual_Broker_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CompanyOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Broker_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Company</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ECSS_Broker_Details_Selection</targetReference>
            </connector>
            <label>Company</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Manager</name>
        <label>Have Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>toGetDocsRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_account_for_approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Docs_Created</name>
        <label>New Docs Created?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>toCheckBrokerType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddPassportToCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Documents</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitted_or_Not</name>
        <label>Submitted or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignTradeLicenseFlag2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Submitted_Documents</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BrokerAgency.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BrokerAgencyRecordtypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Broker_Account_Created</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>toCheckBrokerType</name>
        <label>toCheckBrokerType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Broker_Account_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CompanyBroker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Broker_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Company</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Submitted_Documents</targetReference>
            </connector>
            <label>CompanyBroker</label>
        </rules>
    </decisions>
    <decisions>
        <name>toCheckBrokerTypeForDocs</name>
        <label>toCheckBrokerTypeForDocs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>to_Assign_VAT_Registration_Certificate_VAT_Exemption_Certificate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PersonAgent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Broker_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Individual</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>toAssignPassportCreationv</targetReference>
            </connector>
            <label>PersonAgent</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValuesNotNull</name>
        <label>ValuesNotNull</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.toGetTypeAndSubTypeDependency.topValue</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.toGetTypeAndSubTypeDependency.topValue</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Docs</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DocSubTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ECSS_SubType__c</picklistField>
        <picklistObject>Document__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocTypesChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DocumentType__c</picklistField>
        <picklistObject>Document__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MobileCountryCodeCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MobileCountryCode__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>ECSS Create Broker Account Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ECSS Create Broker Account Flow</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>toAddDocs.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ValuesNotNull</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Docs_Created</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Broker</name>
        <label>Create Broker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Have_Manager</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Broker_Account_Created</targetReference>
        </faultConnector>
        <inputReference>BrokerAgency</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Documents</name>
        <label>Create Documents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>toCheckDocsUpload</targetReference>
        </connector>
        <inputReference>AddPassportToCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>toCreateDocs</name>
        <label>toCreateDocs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>toCheckDocsUpload</targetReference>
        </connector>
        <inputReference>AddPassportToCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_And_Store_Broker_Agency_Record_Type_Id</name>
        <label>Get  And Store Broker Agency Record Type Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Broker_Person_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Broker_Agency</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>BrokerAgencyRecordtypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Broker_Person_Record_Type</name>
        <label>Get Broker Person Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Broker_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NonRegisteredBrokerAgentAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submitted_Documents</name>
        <label>Get Submitted Documents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submitted_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BrokerAgency.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DocumentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trade License</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>toGetDocsRecordType</name>
        <label>toGetDocsRecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>toCheckBrokerTypeForDocs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Document__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>ECSS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Broker_Account_Created</name>
        <label>Broker Account Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>toReditToCreatedBrokerAcc</targetReference>
        </connector>
        <fields>
            <name>Created_Successfullly</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(168, 218, 16);&quot;&gt;Broker Account Created Successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Broker_Type_Screen</name>
        <label>Broker Type Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Company_or_Individual</targetReference>
        </connector>
        <fields>
            <name>Broker_Type</name>
            <choiceReferences>Company</choiceReferences>
            <choiceReferences>Individual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Company</defaultSelectedChoiceReference>
            <fieldText>Broker Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ECSS_Broker_Details_Selection</name>
        <label>Enter Company Broker Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>toAssignBrokers</targetReference>
        </connector>
        <fields>
            <name>Broker_Agent_Name</name>
            <dataType>String</dataType>
            <fieldText>Broker Agent Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SAP_Account_Id</name>
            <dataType>String</dataType>
            <fieldText>SAP Account Id</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BrokerAgency.Phone</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BrokerAgency.ECSS_BrokerCompany__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Individual_Broker_Details</name>
        <label>Enter Individual Broker Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>toAssignIndividualCompany</targetReference>
        </connector>
        <fields>
            <name>SAP_Account_id_Person</name>
            <dataType>String</dataType>
            <fieldText>SAP Account id</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PersonEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Country_Code</name>
            <choiceReferences>MobileCountryCodeCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PersonMobilePhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>toCheckDocsUpload</name>
        <label>toCheckDocsUpload</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignTradeLicenseFlag</targetReference>
        </connector>
        <fields>
            <name>TradeLicenseError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: medium;&quot;&gt;Uploading a valid&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Trade License document&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: medium;&quot;&gt;&amp;nbsp;is mandatory to complete the registration process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TradeLicenseFlag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>toAddDocs</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>toGetTypeAndSubTypeDependency</name>
                <extensionName>flowruntime:dependentPicklists</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>dependencyWrapperApiName</name>
                    <value>
                        <stringValue>Document__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>topPicklistApiName</name>
                    <value>
                        <stringValue>DocumentType__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>middlePicklistApiName</name>
                    <value>
                        <stringValue>ECSS_SubType__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>topLabel</name>
                    <value>
                        <stringValue>Document Type</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>middleLabel</name>
                    <value>
                        <stringValue>Document SubType</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>toUploadOpportunityDocs</name>
            <extensionName>c:uploadOpportunityDocuments</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ids</name>
                <value>
                    <elementReference>BrokerAgency.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>QueryStringinp</name>
                <value>
                    <stringValue>SELECT ECSS_Expiry_Date__c, ECSS_Expiry_Date_Required__c,ECSS_SubType__c, Status__c, DocumentType__c,ECSS_PublicLink__c,ECSS_Required__c  FROM Document__c  WHERE Account__c =: oppID </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_And_Store_Broker_Agency_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddPassportToCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>Approval_process</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ECSS broker approval process</stringValue>
        </value>
    </variables>
    <variables>
        <name>BrokerAgency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BrokerAgencyRecordtypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>brokerCompanyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>docRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>docRecordToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>TradeLicenseFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
