force-app/main/default/flows/ECSS_Subflow_Case_Creation_Khidmah.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_case_with_chosen_values</name>
        <label>Assign case with chosen values</label>
        <locationX>248</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>createdCaseId.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountChosen.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountChosen.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountChosen.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.ECSS_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.ECSS_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KhidmahCompId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.ECSS_NonExistingCustomerApprovalPending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubmitCaseForApproval</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creat_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Content_Document_Link_Contract_Record_Details</name>
        <label>Assign Content Document Link Contract Record Details</label>
        <locationX>1326</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnCaseContentDocuments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createdCaseId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignContentLinkContractToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Content_Document_Link_Record_Details</name>
        <label>Assign Content Document Link Record Details</label>
        <locationX>534</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnCaseContentDocuments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createdCaseId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignContentLinkToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Khidmah_ContractRequest_Values</name>
        <label>Assign Khidmah Contract Request Values</label>
        <locationX>1040</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>createdCaseId.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Khidmah_Contract_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.ECSS_Consumed_Call_Outs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.ECSS_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KhidmahCompId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.ECSS_Number_of_call_outs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChosenContract.ECSS_Number_of_Call_Outs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.ECSS_Contract_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChosenContract.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.ECSS_Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChosenContract.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.ECSS_Khidmah_Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChosenContract.ECSS_Contract_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdCaseId.ECSS_NonExistingCustomerApprovalPending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubmitCaseForApproval</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createContractRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCaseToCreateWithExistingCase</name>
        <label>AssignCaseToCreateWithExistingCase</label>
        <locationX>116</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>createdCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_case_with_chosen_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContentLinkContractToList</name>
        <label>AssignContentLinkContractToList</label>
        <locationX>1326</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentLinkRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLinkRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnCaseContentDocumentsContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContentLinkToList</name>
        <label>AssignContentLinkToList</label>
        <locationX>534</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentLinkRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLinkRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnCaseContentDocuments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContractCaseCaseToCreateWithExistingCase</name>
        <label>AssignContractCaseCaseToCreateWithExistingCase</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>createdCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Khidmah_ContractRequest_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContractRequiredFieldsMissingBoolean</name>
        <label>AssignContractRequiredFieldsMissingBoolean</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>caseCreationRequiredFieldsMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>createContractRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRequiredFieldsMissingBoolean</name>
        <label>AssignRequiredFieldsMissingBoolean</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>caseCreationRequiredFieldsMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Creat_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UAssignRequiredFieldsMissingBoolean</name>
        <label>UAssignRequiredFieldsMissingBoolean</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>caseCreationRequiredFieldsMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsCaseUpdate_CreateCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UnAssignContractRequiredFieldsMissingBoolean</name>
        <label>UnAssignContractRequiredFieldsMissingBoolean</label>
        <locationX>1238</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>caseCreationRequiredFieldsMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsContractCaseCreate_Update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Active_Contracts</name>
        <choiceText>Active Contracts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Active Contracts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contracts</name>
        <choiceText>Contracts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contracts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Enquiry_Case</name>
        <choiceText>Single Enquiry Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Enquiry Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit_Khidmah_Contract_Creation_Request</name>
        <choiceText>Submit Khidmah Contract Creation Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit Khidmah Contract Creation Request</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Case_Required_Fields_Check_Required</name>
        <label>Case Required Fields Check Required?</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>UAssignRequiredFieldsMissingBoolean</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Fields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>createdCaseId.Origin</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>createdCaseId.Description</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>createdCaseId.Subject</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRequiredFieldsMissingBoolean</targetReference>
            </connector>
            <label>Missing Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Action_Type</name>
        <label>Check Action Type</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Khidmah_Contract_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Khidmah_Case_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractCreationRequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>toCheckIfTheCaseIsAlreadyCreated</targetReference>
            </connector>
            <label>Khidmah Case Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfTheContractRequestIsAlreadyCreated</name>
        <label>CheckIfTheContractRequestIsAlreadyCreated</label>
        <locationX>1040</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Khidmah_ContractRequest_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Case_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignContractCaseCaseToCreateWithExistingCase</targetReference>
            </connector>
            <label>Contract Case Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Required_Fields_Check_Required</name>
        <label>Contract Required Fields Check Required?</label>
        <locationX>1040</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>UnAssignContractRequiredFieldsMissingBoolean</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Missing_Fields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>createdCaseId.ECSS_Contract_Start_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>createdCaseId.ECSS_Contract_End_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>createdCaseId.ECSS_Number_of_call_outs__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignContractRequiredFieldsMissingBoolean</targetReference>
            </connector>
            <label>Contract Missing Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCaseUpdate_CreateCheck</name>
        <label>IsCaseUpdate/CreateCheck</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Create_Khidmah_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsContractCaseCreate_Update</name>
        <label>IsContractCaseCreate/Update</label>
        <locationX>1238</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Create_contract_request_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract</targetReference>
            </connector>
            <label>Contract Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>toCheckIfTheCaseIsAlreadyCreated</name>
        <label>toCheckIfTheCaseIsAlreadyCreated</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_case_with_chosen_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCaseToCreateWithExistingCase</targetReference>
            </connector>
            <label>Case Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ECSS_Subflow Case Creation - Khidmah {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ECSS_Subflow Case Creation - Khidmah</label>
    <loops>
        <name>LoopOnCaseContentDocuments</name>
        <label>LoopOnCaseContentDocuments</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <collectionReference>UploadCaseDocuments.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Content_Document_Link_Record_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateContentDocumentRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOnCaseContentDocumentsContract</name>
        <label>LoopOnCaseContentDocumentsContract</label>
        <locationX>1238</locationX>
        <locationY>1382</locationY>
        <collectionReference>UploadCaseDocuments.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Content_Document_Link_Contract_Record_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateContentDocumentContractRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_contract_request_case</name>
        <label>Create contract request case</label>
        <locationX>1370</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>LoopOnCaseContentDocumentsContract</targetReference>
        </connector>
        <inputReference>createdCaseId</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Khidmah_Case</name>
        <label>Create Khidmah Case</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>LoopOnCaseContentDocuments</targetReference>
        </connector>
        <inputReference>createdCaseId</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateContentDocumentContractRecords</name>
        <label>CreateContentDocumentContractRecords</label>
        <locationX>1238</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>NavToContract</targetReference>
        </connector>
        <inputReference>contentDocumentLinkRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateContentDocumentRecords</name>
        <label>CreateContentDocumentRecords</label>
        <locationX>446</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>NavToCreatedCase</targetReference>
        </connector>
        <inputReference>contentDocumentLinkRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Khidmah_Contract_Record_Type</name>
        <label>Get Khidmah Contract Record Typede</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfTheContractRequestIsAlreadyCreated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ECSS_Khidmah_Contract_Request</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>LoopOnCaseContentDocuments</targetReference>
        </connector>
        <inputReference>createdCaseId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>1106</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>LoopOnCaseContentDocumentsContract</targetReference>
        </connector>
        <inputReference>createdCaseId</inputReference>
    </recordUpdates>
    <screens>
        <name>Creat_Case_Fields</name>
        <label>Creat Case Fields</label>
        <locationX>248</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Required_Fields_Check_Required</targetReference>
        </connector>
        <fields>
            <name>caseCreationRequiredErrorText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Required fields missing !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>caseCreationRequiredFieldsMissing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CaseDetailsText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;👤&lt;/span&gt; &lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Customer Name: &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(5, 72, 255);&quot;&gt;{!AccountChosen.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;🏬&amp;nbsp;Unit: &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(5, 72, 255); background-color: rgb(255, 255, 255);&quot;&gt;{!createdCaseId.Asset.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;💼&amp;nbsp;Case Type:  &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(5, 72, 255); background-color: rgb(255, 255, 255);&quot;&gt;{!createdCaseId.Type}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>createdCaseId.Type</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeVisibilty</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Creat_Case_Fields_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Creat_Case_Fields_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>createdCaseId.SubVertical__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>createdCaseId.SubCategory__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CaseSourceMissingWarningText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(253, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;❗&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Case Source field is required. &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>createdCaseId.Origin</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>createdCaseId.Origin</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Creat_Case_Fields_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>createdCaseId.Category__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SubjecFieldMissingError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(253, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;❗&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Subject&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; field is required. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>createdCaseId.Subject</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>createdCaseId.Subject</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DescriptionFieldMissing</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(253, 2, 2); font-size: 14px;&quot;&gt;❗&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Description&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 14px;&quot;&gt; field is required. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>createdCaseId.Description</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>createdCaseId.Description</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UploadCaseDocuments</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>📎 Attach Files Related to the Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm Values</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>createContractRequest</name>
        <label>createContractRequest</label>
        <locationX>1040</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contract_Required_Fields_Check_Required</targetReference>
        </connector>
        <fields>
            <name>ContractCreationMissingError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Required fields missing !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>caseCreationRequiredFieldsMissing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayContractRequestInformtation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;👤&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Customer Name: &lt;/span&gt;&lt;strong style=&quot;color: rgb(5, 72, 255); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!AccountChosen.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;🏬&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Unit: &lt;/span&gt;&lt;strong style=&quot;color: rgb(5, 72, 255); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!createdCaseId.Asset.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>createdCaseId.ECSS_Khidmah_Contract_Type__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>StartEndDateMissingText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(253, 2, 2); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;❗Start and End Date&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; fields are required. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>createdCaseId.ECSS_Contract_Start_Date__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>createdCaseId.ECSS_Contract_End_Date__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>createContractRequest_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>createContractRequest_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>createdCaseId.ECSS_Contract_Start_Date__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>NoOfCallOutsMissingText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(253, 2, 2);&quot;&gt;❗Number of callouts&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 0, 0);&quot;&gt; field is required. &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>createdCaseId.ECSS_Number_of_call_outs__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>createdCaseId.ECSS_Number_of_call_outs__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>createContractRequest_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>createdCaseId.ECSS_Contract_End_Date__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UploadContractFiles</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>📎 Attach Files Related to the Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NavToContract</name>
        <label>NavToContract</label>
        <locationX>1238</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NavToCreatedContract</name>
            <extensionName>c:navToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>createdCaseId.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>createdCaseId.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NavToCreatedCase</name>
        <label>NavToCreatedCase</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NavToCreatedCaseRecord</name>
            <extensionName>c:navToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>createdCaseId.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>createdCaseId.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Action_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountChosen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseCreationRequiredFieldsMissing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChosenContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLinkRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentDocumentLinkRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContractCreationRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractsWithCallOuts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContractsWithoutCallOuts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>createdCaseId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItem_toFilterContractsWithCallouts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentItem_toFilterContractsWithoutCallouts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ExistingCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>isCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>KhidmahCompId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SubmitCaseForApproval</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TypeVisibilty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
