force-app/main/default/flows/ECSS_Quote_SLA_Extension.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Manager_s_Approval</name>
        <label>Submit for Manager&apos;s Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Current_Quote.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>ECSS_Quote_SLA_Extension_Approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Quote_Record</name>
        <label>Update Quote Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Quote.Ecss_Sla_Extension_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Extension_Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Quote.ECSS_SLA_Extension_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_For_Extension</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Quote</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_if_Manager_On_Exists_on_Quote_Owner</name>
        <label>Check if Manager On Exists on Quote Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Manager_Does_Not_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Quote.Owner:User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Extension_Hours</targetReference>
            </connector>
            <label>Manager Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SLA_Extension_Counter</name>
        <label>Check SLA Extension Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Extension_Counter_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Quote.ECSS_SLA_Extension_Counter__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Manager_On_Exists_on_Quote_Owner</targetReference>
            </connector>
            <label>Extension Counter &lt; 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SLA_Extension_Counter</name>
        <dataType>Number</dataType>
        <expression>{!Get_Current_Quote.ECSS_SLA_Extension_Counter__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ECSS Quote SLA Extension {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ECSS Quote SLA Extension</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Quote</name>
        <label>Get Current Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SLA_Extension_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Quote</name>
        <label>Update Current Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Submit_for_Manager_s_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ECSS_SLA_Extension_Approval_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ECSS_SLA_Extension_Counter__c</field>
            <value>
                <elementReference>SLA_Extension_Counter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ECSS_SLA_Extension_Reason__c</field>
            <value>
                <elementReference>Reason_For_Extension</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ecss_Sla_Extension_Hours__c</field>
            <value>
                <elementReference>Add_Extension_Hours</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>Error_Page</name>
        <label>Error Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(189, 0, 0);&quot;&gt;SLA Extension Limit Reached. The maximum of 2 extensions has already been used.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manager_Does_Not_Exist</name>
        <label>Manager Does Not Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(176, 1, 1);&quot;&gt;The Manager on the Quote Owner is not Configured please contact your Salesforce Admin to resolve this issue.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_Extension_Hours</name>
        <label>Quote Extension Hours</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Quote_Record</targetReference>
        </connector>
        <fields>
            <name>Add_Extension_Hours</name>
            <dataType>Number</dataType>
            <fieldText>Add Extension Hours</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason_For_Extension</name>
            <dataType>String</dataType>
            <fieldText>Reason For Extension</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
