force-app/main/default/flows/ECSS_Task_On_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>caseCountryCode</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Related_Case.ECSS_CompanyOptions__c},&apos;Provis&apos;),&apos;770&apos;
     ,&apos;880&apos;
)</expression>
    </formulas>
    <interviewLabel>ECSS_Task: On Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ECSS_Task: On Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Case</name>
        <label>Get Related Case</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Country_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_existing_record</name>
        <label>Update existing record</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>ECSS_GenysisActivityTrigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Country_Code</name>
        <label>Update Task Country Code</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>ECSS_CaseCountryCode__c</field>
            <value>
                <elementReference>caseCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ECSS_Company__c</field>
            <value>
                <elementReference>Get_Related_Case.ECSS_CompanyOptions__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Callback</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>500</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Wait_till_due_date</name>
            <connector>
                <targetReference>Update_existing_record</targetReference>
            </connector>
            <label>Wait till due date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>ECSS_DueDateTime__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
