force-app/main/default/flows/Email_to_SM_on_Compliance_Status_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ComplianceUnderReview_Status_Update_to_Compliance_Team</name>
        <label>ComplianceUnderReview Status Update to Compliance Team</label>
        <locationX>997</locationX>
        <locationY>435</locationY>
        <actionName>SalesOrder__c.ComplianceUnderReviewStatusUpdatetoComplianceTeam</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SalesOrder__c.ComplianceUnderReviewStatusUpdatetoComplianceTeam</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_to_SM_on_Compliance_Status_Change</name>
        <label>Email to SM on Compliance Status Change</label>
        <locationX>146</locationX>
        <locationY>546</locationY>
        <actionName>SalesOrder__c.Email_to_SM_on_compliance_status_change</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SalesOrder__c.Email_to_SM_on_compliance_status_change</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_Compliance_Status_is_Rejected_Or_Returned</name>
        <label>Check if Compliance Status is Rejected Or Returned</label>
        <locationX>527</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compliance_Status_is_Rejected_Returned</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ComplianceStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ComplianceStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ComplianceStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesManager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Compliance_ReminderDate</targetReference>
            </connector>
            <label>Compliance Status is Rejected/Returned</label>
        </rules>
        <rules>
            <name>Compliance_status_is_Under_Review</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ComplianceStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ComplianceStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resubmitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesManager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Compliance_UnderReviewDate</targetReference>
            </connector>
            <label>Compliance status is Under Review</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Email to SM on Compliance Status change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email to SM on Compliance Status change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Compliance_ReminderDate</name>
        <label>Update Compliance ReminderDate</label>
        <locationX>320</locationX>
        <locationY>386</locationY>
        <connector>
            <targetReference>Email_to_SM_on_Compliance_Status_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>ComplianceReminderDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LineManagersEmail__c</field>
            <value>
                <elementReference>$Record.SalesManager__r.Manager.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Compliance_UnderReviewDate</name>
        <label>Update Compliance UnderReviewDate</label>
        <locationX>724</locationX>
        <locationY>409</locationY>
        <connector>
            <targetReference>ComplianceUnderReview_Status_Update_to_Compliance_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>ComplianceUnderReviewDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_if_Compliance_Status_is_Rejected_Or_Returned</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.ComplianceStatus__c})</filterFormula>
        <object>SalesOrder__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
