force-app/main/default/flows/Exception_Request_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_exception_request</name>
        <label>Submit for exception request</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Exception_Request</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Duplicate_error</name>
        <label>Duplicate error</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <customErrorMessages>
            <errorMessage>Duplicate request. Please review the details and submit again.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error</name>
        <label>Error for wrong request type</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>Please select only ‘Sales Order Exception’ in Special Condition Request</errorMessage>
            <fieldSelection>Request_Type__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Show_error</name>
        <label>Show error</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <customErrorMessages>
            <errorMessage>The Exception Request is already Submitted for Approval. Please wait Until Current Request Process is Complete.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_for_submitted_records</name>
        <label>Check for submitted records</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Show_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_exception_request_already_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_requests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_rejected_records</targetReference>
            </connector>
            <label>If exception request already submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_3</name>
        <label>Check Resquest Type</label>
        <locationX>611</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Order Exception</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_submitted_records</targetReference>
            </connector>
            <label>Outcome 1 of Decision 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicates_Exists</name>
        <label>Duplicates Exists?</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Duplicate_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_duplicates_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_rejected_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_owner_manager</targetReference>
            </connector>
            <label>If duplicates found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Exception Request Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exception Request Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_existing_requests</name>
        <label>Get existing requests</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_sales_order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Request_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exception_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_rejected_records</name>
        <label>Get rejected records</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicates_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Order__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Request_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Request_End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Request_End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Request_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Request_Reason__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exception_Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Request_End_Date__c</queriedFields>
        <queriedFields>Request_Reason__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_sales_order</name>
        <label>Get sales order</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_owner_manager</name>
        <label>Update owner manager</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Submit_for_exception_request</targetReference>
        </connector>
        <inputAssignments>
            <field>Owner_Manager__c</field>
            <value>
                <elementReference>$Record.Sales_Order__r.OwnerManger__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_sales_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Exception_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
