force-app/main/default/flows/Fast_Track_SignUp_From_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Digital_Experience_Record</name>
        <label>Get Digital Experience Record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>SendFasttrackWhatsaAppLink</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.ExistingAccount__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>brokerAccountId</name>
            <value>
                <elementReference>$Record.BrokerAgency__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>brokerContactId</name>
            <value>
                <elementReference>$Record.BrokerAgent__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>FastTrack</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LeadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesOrderId</name>
            <value>
                <elementReference>$Record.Sales_Order__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceType</name>
            <value>
                <stringValue>Broker Portal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>Link Sent</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendFasttrackWhatsaAppLink</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>digitalExpRecords</assignToReference>
            <name>digitalExperiences</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Broker_Lead</name>
        <label>Check Broker Lead</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Broker_Lead</name>
            <conditionLogic>1 AND 7 AND 8 AND ((2 AND 3 AND 4) OR (5 AND 6))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExistingAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExistingAccount__r.FastTrackedAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RetriggerFasttrackEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RetriggerFasttrackEmail__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Person</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExistingAccount__r.KYC_Validity_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Valid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Digital_Experience_Record</targetReference>
            </connector>
            <label>Broker Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Fast Track SignUp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fast Track SignUp - From Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Broker_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ECSS</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>digitalExpRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Communication_Preference__c</objectType>
    </variables>
</Flow>
