force-app/main/default/flows/Flow_to_pick_the_affection_plan_from_UnitAddOns.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Flow to pick the affection plan from UnitAddOns {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to pick the affection plan from UnitAddOns</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Document_Content_ID</name>
        <label>Get Document Content ID</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Affection_Plan_ID_on_Sales_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Affection_Plan_Documents.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SalesOrder_ID</name>
        <label>Get SalesOrder ID</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Affection_Plan_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesOrder__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Affection_Plan_Documents</name>
        <label>Get the Affection Plan Documents</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_Content_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unit_Add_on__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unit_AddOn__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DarcomURL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DocumentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Affection Plan</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Affection_Plan_ID_on_Sales_Order</name>
        <label>Update Affection Plan ID on Sales Order</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SalesOrder_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AffectionPlanId__c</field>
            <value>
                <elementReference>Get_Document_Content_ID.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <object>SalesOrder__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SalesOrder_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unit_AddOn__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityOfferLine__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SalesOrderId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SalesOrder__c</objectType>
    </variables>
</Flow>
