force-app/main/default/flows/FSL_Service_appointment_Owner_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Inform_PPM_Technician</name>
        <label>Inform On-Demand Technician</label>
        <locationX>820</locationX>
        <locationY>3827</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>If_AMC_OD_Reschedule</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.FSLBellNotificationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_lstRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>AMC OD for {!$Record.ServiceAppointment.Case__r.Skills_Required__c} Appointment - {!$Record.ServiceAppointment.Status}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.ServiceAppointment.AppointmentNumber} has been assigned to you. Please Check it earliest.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.ServiceAppointment.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Emergency_Notification_to_Technician</name>
        <label>Emergency Notification to Technician</label>
        <locationX>292</locationX>
        <locationY>3827</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>If_AMC_OD_Reschedule</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.FSLBellNotificationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_lstRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Emergency Appointment {!$Record.ServiceAppointment.Status}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Emergency {!$Record.ServiceAppointment.AppointmentNumber} has been assigned to you. Please Check it earliest.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.ServiceAppointment.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Inform_PPM_Technician</name>
        <label>Inform PPM Technician</label>
        <locationX>556</locationX>
        <locationY>3827</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>If_AMC_OD_Reschedule</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.FSLBellNotificationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_lstRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>AMC PPM Appointment {!$Record.ServiceAppointment.Status}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>AMC PPM {!$Record.ServiceAppointment.AppointmentNumber} has been assigned to you. Please Check it earliest.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.ServiceAppointment.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Inform_Tech</name>
        <label>Inform Tech</label>
        <locationX>1084</locationX>
        <locationY>3827</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>If_AMC_OD_Reschedule</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.FSLBellNotificationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_lstRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Appointment {!$Record.ServiceAppointment.Status}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.ServiceAppointment.AppointmentNumber} has been assigned to you. Please Check it earliest.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.ServiceAppointment.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_Supervisor_Via_Email</name>
        <label>Notify Supervisor Via Email</label>
        <locationX>314</locationX>
        <locationY>3443</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Emergency_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>var_lstSupervisorEmailIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>customercare@aldar.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Appointment Assigned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Template_EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.ServiceAppointment.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Reschedule_Inform_On_Demand_Technician</name>
        <label>Reschedule Inform On-Demand Technician</label>
        <locationX>1029</locationX>
        <locationY>4211</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>chk_if_Sa_is_assesment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.FSLBellNotificationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_lstRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>AMC OD for {!$Record.ServiceAppointment.Case__r.Skills_Required__c} Appointment - {!$Record.ServiceAppointment.Status}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.ServiceAppointment.AppointmentNumber} has been assigned to you. Please Check it earliest.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.ServiceAppointment.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Insert_List_Case</name>
        <label>Add to Insert List Case</label>
        <locationX>446</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>var_lstCaseShare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_CaseShareRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sharing_Case_Record_for_Supervisor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Insert_List_Supervisor_Case</name>
        <label>Add to Insert List Supervisor Case</label>
        <locationX>446</locationX>
        <locationY>2795</locationY>
        <assignmentItems>
            <assignToReference>var_lstCaseShare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_CaseShareRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Case_Share</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddReciepeints</name>
        <label>AddReciepeints</label>
        <locationX>688</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>var_lstRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_There_is_Supervisor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddReciepeints2</name>
        <label>AddReciepeints</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_lstRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_lstRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ServiceResource.Supervisor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_AMC_OD_Reschedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AMC_SupervisorAddReciepeints</name>
        <label>AMC  SupervisorAddReciepeints</label>
        <locationX>1194</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>var_lstRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ServiceResource.Supervisor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_lstSupervisorEmailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ServiceResource.Supervisor_Email_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Emergency_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_SupervisorAddReciepeints</name>
        <label>Copy 1 of SupervisorAddReciepeints</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>var_lstRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ServiceResource.Supervisor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_lstSupervisorEmailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ServiceResource.Supervisor_Email_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_If_There_is_Supervisor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Emergency_Case_Record_for_Supervisor</name>
        <label>Emergency Case Record for Supervisor</label>
        <locationX>754</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>var_CaseShareRecord.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShareRecord.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShareRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShareRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Emergency_Case_share_for_Supervisor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sharing_Case_Record_for_Supervisor</name>
        <label>Sharing Case Record for Supervisor</label>
        <locationX>446</locationX>
        <locationY>2687</locationY>
        <assignmentItems>
            <assignToReference>var_CaseShareRecord.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShareRecord.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShareRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShareRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceResource.Supervisor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Insert_List_Supervisor_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sharing_Case_Record_for_Technician</name>
        <label>Sharing Case Record for Technician</label>
        <locationX>446</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>var_CaseShareRecord.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShareRecord.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShareRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseShareRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Insert_List_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SupervisorAddReciepeints</name>
        <label>SupervisorAddReciepeints</label>
        <locationX>446</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>var_lstRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ServiceResource.Supervisor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_lstSupervisorEmailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ServiceResource.Supervisor_Email_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Share_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SupervisorAddReciepeintsEmail</name>
        <label>SupervisorAddReciepeintsEmail</label>
        <locationX>314</locationX>
        <locationY>3335</locationY>
        <assignmentItems>
            <assignToReference>var_lstSupervisorEmailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ServiceResource.Supervisor_Email_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Supervisor_Via_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AR_Insert_or_Update</name>
        <label>AR Insert or Update</label>
        <locationX>1161</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>AddReciepeints2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AR_Create_or_Update</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceResourceId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ServiceResourceId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Case__r.Vertical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DLP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Initial_Creation</targetReference>
            </connector>
            <label>AR Create or Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>chk_if_Sa_is_assesment</name>
        <label>chk if Sa is assesment</label>
        <locationX>1161</locationX>
        <locationY>4403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_appnmt_Assement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_Owner_Check</targetReference>
            </connector>
            <label>if appnmt=Assement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_If_There_is_Supervisor</name>
        <label>There is Supervisor</label>
        <locationX>446</locationX>
        <locationY>3227</locationY>
        <defaultConnector>
            <targetReference>Emergency_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supervisor_Email_ID_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.Supervisor_Email_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SupervisorAddReciepeintsEmail</targetReference>
            </connector>
            <label>Supervisor Email ID Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emergency_Decision</name>
        <label>Emergency Decision</label>
        <locationX>688</locationX>
        <locationY>3719</locationY>
        <defaultConnector>
            <targetReference>Inform_Tech</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Emergency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Case__r.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emergency_Notification_to_Technician</targetReference>
            </connector>
            <label>Emergency</label>
        </rules>
        <rules>
            <name>AMC_PPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Case__r.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PPM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inform_PPM_Technician</targetReference>
            </connector>
            <label>AMC PPM</label>
        </rules>
        <rules>
            <name>On_Demand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Case__r.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Demand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Inform_PPM_Technician</targetReference>
            </connector>
            <label>On Demand</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_Initial_Creation</name>
        <label>Filter Initial Creation</label>
        <locationX>688</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_SA_Share_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_isInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA</targetReference>
            </connector>
            <label>if isInsert</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_AMC_OD_Reschedule</name>
        <label>If AMC OD Reschedule</label>
        <locationX>1161</locationX>
        <locationY>4103</locationY>
        <defaultConnector>
            <targetReference>chk_if_Sa_is_assesment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Reschedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Case__r.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Demand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reschedule_Inform_On_Demand_Technician</targetReference>
            </connector>
            <label>if Reschedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_supervisor_is_there</name>
        <label>If supervisor is there</label>
        <locationX>1326</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Emergency_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Supervior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.Supervisor__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMC_SupervisorAddReciepeints</targetReference>
            </connector>
            <label>Check Supervior</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_There_is_Supervisor</name>
        <label>If There is Supervisor</label>
        <locationX>688</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>If_supervisor_is_there</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Emergency_Additional_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Emergency_Categeory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.CreatedBy.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PowerPartner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_SupervisorAddReciepeints</targetReference>
            </connector>
            <label>Emergency Additional SA</label>
        </rules>
        <rules>
            <name>IF_exist</name>
            <conditionLogic>(1 AND 3) AND (2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AMC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SupervisorAddReciepeints</targetReference>
            </connector>
            <label>IF exist</label>
        </rules>
        <rules>
            <name>Emergency_Supervisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResourceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceResource.DLP_Resource_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contractor Supervisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emergency_Case_Record_for_Supervisor</targetReference>
            </connector>
            <label>Emergency Supervisor</label>
        </rules>
        <rules>
            <name>IF_AMC_service_appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMC_Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emergency_Decision</targetReference>
            </connector>
            <label>IF AMC service appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Owner_Check</name>
        <label>SA Owner Check</label>
        <locationX>688</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Create_DLP_share_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddReciepeints</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Share_Record_Found</name>
        <label>SA Share Record Found</label>
        <locationX>952</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>SA_Type_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SA_Share_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_SA_Share_Records</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Type_Check</name>
        <label>SA Type Check</label>
        <locationX>952</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Update_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resolution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012250000029DUKAA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ServiceResource.DLP_Resource_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Contractor Supervisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Previous_Resolution_WO_Share_Records</targetReference>
            </connector>
            <label>Resolution</label>
        </rules>
        <rules>
            <name>Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012250000029DJ2AAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assessment_WO_Share</targetReference>
            </connector>
            <label>Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_Owner_Check</name>
        <label>WO Owner Check</label>
        <locationX>963</locationX>
        <locationY>4511</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__r.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
                </rightValue>
            </conditions>
            <label>WOYES</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_Share_Record_Found</name>
        <label>WO Share Record Found</label>
        <locationX>996</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Update_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assessment_WO_Share</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Previous_Assessment_WO_Share_Records</targetReference>
            </connector>
            <label>WO Found</label>
        </rules>
    </decisions>
    <description>FSL Service appointment Owner update</description>
    <environments>Default</environments>
    <interviewLabel>FSL Service appointment Owner update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Service appointment Owner update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_DLP_share_Records</name>
        <label>Create SA share Records</label>
        <locationX>776</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>AddReciepeints</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointmentShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Case_Share</name>
        <label>Insert Case Share</label>
        <locationX>446</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>Insert_WO_Share_Technician</targetReference>
        </connector>
        <inputReference>var_lstCaseShare</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Emergency_Case_share_for_Supervisor</name>
        <label>Insert Emergency Case share for Supervisor</label>
        <locationX>754</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>Emergency_Decision</targetReference>
        </connector>
        <inputReference>var_CaseShareRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_WO_Share_Supervisior</name>
        <label>Insert WO Share Supervisior</label>
        <locationX>446</locationX>
        <locationY>3119</locationY>
        <connector>
            <targetReference>Copy_1_of_If_There_is_Supervisor</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.ServiceResource.Supervisor__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_WO_Share_Technician</name>
        <label>Insert WO Share Technician</label>
        <locationX>446</locationX>
        <locationY>3011</locationY>
        <connector>
            <targetReference>Insert_WO_Share_Supervisior</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Share_record</name>
        <label>Share record SA</label>
        <locationX>446</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>Sharing_Case_Record_for_Technician</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.ServiceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.ServiceResource.Supervisor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointmentShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Work_Order_Share</name>
        <label>Work Order Share</label>
        <locationX>1095</locationX>
        <locationY>4619</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Previous_Assessment_WO_Share_Records</name>
        <label>Delete Previous Assessment WO Share Records</label>
        <locationX>864</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <object>WorkOrderShare</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Previous_Resolution_Case_Share_Records</name>
        <label>Delete Previous Resolution Case Share Records</label>
        <locationX>600</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.Supervisor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <object>CaseShare</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Previous_Resolution_WO_Share_Records</name>
        <label>Delete Previous Resolution WO Share Records</label>
        <locationX>600</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Delete_Previous_Resolution_Case_Share_Records</targetReference>
        </connector>
        <filterLogic>1 AND( 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ServiceResource.Supervisor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <object>WorkOrderShare</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_SA_Share_Records</name>
        <label>Delete SA Share Records</label>
        <locationX>820</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>SA_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <object>ServiceAppointmentShare</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Assessment_WO_Share</name>
        <label>Get Assessment WO Share</label>
        <locationX>996</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WO_Share_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderShare</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Share_Record</name>
        <label>Get SA Share Record</label>
        <locationX>952</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_Share_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointmentShare</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>688</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>SA_Owner_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
            <value>
                <elementReference>$Record.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ServiceAppointment</inputReference>
    </recordUpdates>
    <start>
        <locationX>1035</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AR_Insert_or_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AssignedResource</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Template_EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.ServiceResource.Supervisor__r.LastName},&lt;/p&gt;&lt;p&gt;New service appointment assigned to you {!$Record.ServiceAppointment.Case__r.CaseNumber} - {!$Record.ServiceAppointment.AppointmentNumber} Check the details on &lt;a href=&quot;{!$Label.DLPPortalUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;portal&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Case Status: {!$Record.ServiceAppointment.Case__r.Status}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Appointment Status:  {!$Record.ServiceAppointment.Status} @{!$Record.ServiceAppointment.SchedStartTime}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>var_CaseShareRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>var_lstCaseShare</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>var_lstRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_lstSAShareList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointmentShare</objectType>
    </variables>
    <variables>
        <name>var_lstSupervisorEmailIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_lstWOShareList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderShare</objectType>
    </variables>
    <variables>
        <name>var_saSharing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointmentShare</objectType>
    </variables>
    <variables>
        <name>Var_WOSharingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderShare</objectType>
    </variables>
</Flow>
