force-app/main/default/flows/Home_Orientation_Survey_Trigger_from_SF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Home_Orientation_Survey_Trigger_from_SF</name>
        <label>Home Orientation Survey Trigger from SF</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>HexaBPM__Service_Request__c.Home_Orientation_Survey_Trigger</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Update_Service_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>HexaBPM__Service_Request__c.Home_Orientation_Survey_Trigger</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>V3</description>
    <environments>Default</environments>
    <interviewLabel>Home Orientation Survey Trigger from SF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Home Orientation Survey Trigger from SF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Survey_Tracker</name>
        <label>Survey Tracker</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Service_Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touch_Point__c</field>
            <value>
                <elementReference>$Record.Survey_Point__c</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Service_Request</name>
        <label>Update Service Request</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Survey_Tracker</targetReference>
        </connector>
        <inputAssignments>
            <field>Survey_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Home_Orientation_Survey_Trigger_from_SF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Survey_Point__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HANDOVER_HO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Survey_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>HexaBPM__Service_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
