force-app/main/default/flows/JBSystemFlow_Campaign_member_Custom_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjYJqSFso5CAb8XWWX_FireJBTrigger</name>
        <label>SalesforceObjYJqSFso5CAb8XWWX_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact_ID__c&quot;,&quot;relationshipName&quot;:&quot;Contact_ID__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Campaign_member_Custom__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjYJqSFso5CAb8XWWX</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536006373</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Campaign_member_Custom__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;OwnerId&quot;,&quot;Lead_Name__c&quot;,&quot;LeadPhone__c&quot;,&quot;Lead_Type__c&quot;,&quot;LeadStatus__c&quot;,&quot;LeadOrigin__c&quot;,&quot;LeadNumber__c&quot;,&quot;LeadMobile__c&quot;,&quot;LeadProject__c&quot;,&quot;CustomerType__c&quot;,&quot;CampaignOffer__c&quot;,&quot;EnquiryTrigger__c&quot;,&quot;LeadNationality__c&quot;,&quot;MethodofContact__c&quot;,&quot;EnquiryCategory__c&quot;,&quot;Lead_Owner_Email__c&quot;,&quot;Lead_Owner_Mobile__c&quot;,&quot;Lead_Owner_Last_Name__c&quot;,&quot;Lead_Owner_First_Name__c&quot;,&quot;Lead_Owner_Profile_Name__c&quot;,&quot;Language_Preference_Lead__c&quot;,&quot;Lead_Owner_Role_Designation__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact_ID__r&quot;,&quot;dePrefix&quot;:&quot;Campaign_member_Custom__c:Contact_ID__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Salutation&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjYJqSFso5CAb8XWWX</name>
        <label>JB_Decision_Null_Check_SalesforceObjYJqSFso5CAb8XWWX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjYJqSFso5CAb8XWWX_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjYJqSFso5CAb8XWWX_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjYJqSFso5CAb8XWWX_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjYJqSFso5CAb8XWWX_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjYJqSFso5CAb8XWWX_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjYJqSFso5CAb8XWWX_Decision</name>
        <label>JB_SalesforceObjYJqSFso5CAb8XWWX_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjYJqSFso5CAb8XWWX</name>
            <conditionLogic>( (1 OR 2)  OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.MethodofContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>800-Aldar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MethodofContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MethodofContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Walk-In</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjYJqSFso5CAb8XWWX_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjYJqSFso5CAb8XWWX</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Campaign_member_Custom_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjYJqSFso5CAb8XWWX</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign_member_Custom__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign_member_Custom__c</objectType>
    </variables>
</Flow>
