force-app/main/default/flows/JBSystemFlow_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjahl94F2wIyBNCxR2_FireJBTrigger</name>
        <label>SalesforceObjahl94F2wIyBNCxR2_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjK4Zz9lLWr9Ke2OE7</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjK4Zz9lLWr9Ke2OE7</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjahl94F2wIyBNCxR2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536006373</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Case:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;AccountId&quot;,&quot;ContactId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CCAOwner__r&quot;,&quot;dePrefix&quot;:&quot;Case:CCAOwner__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;Case:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Gender__c&quot;,&quot;Salutation&quot;,&quot;LanguagePreference__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjfb250e88e4292cf603756136add1f960_FireJBTrigger</name>
        <label>SalesforceObjfb250e88e4292cf603756136add1f960_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjahl94F2wIyBNCxR2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjahl94F2wIyBNCxR2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjfb250e88e4292cf603756136add1f960</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536006373</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Case:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;CustomerType__c&quot;,&quot;CustomerSubType__c&quot;,&quot;CMAccountManager__c&quot;,&quot;KeyAccountManager__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Case:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Status&quot;,&quot;AccountId&quot;,&quot;ContactId&quot;,&quot;CaseNumber&quot;,&quot;Vertical__c&quot;,&quot;Department__c&quot;,&quot;SubVertical__c&quot;,&quot;CaseCategory__c&quot;,&quot;StatusReason__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CCAOwner__r&quot;,&quot;dePrefix&quot;:&quot;Case:CCAOwner__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;SenderName&quot;,&quot;AldarCompanyName__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;Case:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Gender__c&quot;,&quot;MiddleName&quot;,&quot;Salutation&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;LanguagePreference__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjK4Zz9lLWr9Ke2OE7_FireJBTrigger</name>
        <label>SalesforceObjK4Zz9lLWr9Ke2OE7_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjK4Zz9lLWr9Ke2OE7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536006373</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Case:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;CustomerType__c&quot;,&quot;CustomerSubType__c&quot;,&quot;CMAccountManager__c&quot;,&quot;KeyAccountManager__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Case:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Status&quot;,&quot;CaseNumber&quot;,&quot;RecordTypeId&quot;,&quot;Select_CM_type__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;Case:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Salutation&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;LanguagePreference__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjSff7sYTITIe2KAbE_FireJBTrigger</name>
        <label>SalesforceObjSff7sYTITIe2KAbE_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfb250e88e4292cf603756136add1f960</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfb250e88e4292cf603756136add1f960</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjSff7sYTITIe2KAbE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536006373</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Case:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;CustomerType__c&quot;,&quot;CustomerSubType__c&quot;,&quot;CMAccountManager__c&quot;,&quot;KeyAccountManager__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Case:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Status&quot;,&quot;CaseNumber&quot;,&quot;RecordTypeId&quot;,&quot;Select_CM_type__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;Case:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Salutation&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;LanguagePreference__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjahl94F2wIyBNCxR2</name>
        <label>JB_Decision_Null_Check_SalesforceObjahl94F2wIyBNCxR2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjK4Zz9lLWr9Ke2OE7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjahl94F2wIyBNCxR2_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjK4Zz9lLWr9Ke2OE7</targetReference>
            </connector>
            <label>JB_SalesforceObjahl94F2wIyBNCxR2_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjahl94F2wIyBNCxR2_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjahl94F2wIyBNCxR2_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjahl94F2wIyBNCxR2_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjfb250e88e4292cf603756136add1f960</name>
        <label>JB_Decision_Null_Check_SalesforceObjfb250e88e4292cf603756136add1f960</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjahl94F2wIyBNCxR2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjfb250e88e4292cf603756136add1f960_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjahl94F2wIyBNCxR2</targetReference>
            </connector>
            <label>JB_SalesforceObjfb250e88e4292cf603756136add1f960_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjfb250e88e4292cf603756136add1f960_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjfb250e88e4292cf603756136add1f960_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjfb250e88e4292cf603756136add1f960_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjK4Zz9lLWr9Ke2OE7</name>
        <label>JB_Decision_Null_Check_SalesforceObjK4Zz9lLWr9Ke2OE7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjK4Zz9lLWr9Ke2OE7_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjK4Zz9lLWr9Ke2OE7_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjK4Zz9lLWr9Ke2OE7_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjK4Zz9lLWr9Ke2OE7_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjK4Zz9lLWr9Ke2OE7_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjSff7sYTITIe2KAbE</name>
        <label>JB_Decision_Null_Check_SalesforceObjSff7sYTITIe2KAbE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfb250e88e4292cf603756136add1f960</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjSff7sYTITIe2KAbE_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjfb250e88e4292cf603756136add1f960</targetReference>
            </connector>
            <label>JB_SalesforceObjSff7sYTITIe2KAbE_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjSff7sYTITIe2KAbE_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjSff7sYTITIe2KAbE_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjSff7sYTITIe2KAbE_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjahl94F2wIyBNCxR2_Decision</name>
        <label>JB_SalesforceObjahl94F2wIyBNCxR2_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjK4Zz9lLWr9Ke2OE7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjahl94F2wIyBNCxR2</name>
            <conditionLogic>( ( ( ( ( ( (1 AND 2)  AND 3)  AND  (4 OR 5) )  AND 6)  AND 7)  AND 8)  AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StatusReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>With Resolution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Reachable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Not Reachable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Vertical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Excellence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.SubVertical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjahl94F2wIyBNCxR2_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjahl94F2wIyBNCxR2</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjahl94F2wIyBNCxR2_State_change_Decision</name>
        <label>JB_SalesforceObjahl94F2wIyBNCxR2_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjK4Zz9lLWr9Ke2OE7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjahl94F2wIyBNCxR2</name>
            <conditionLogic>NOT  ( ( ( ( ( ( (1 AND 2)  AND 3)  AND  (4 OR 5) )  AND 6)  AND 7)  AND 8)  AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StatusReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>With Resolution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Reachable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Not Reachable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Vertical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Excellence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.SubVertical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjahl94F2wIyBNCxR2_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjahl94F2wIyBNCxR2</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjfb250e88e4292cf603756136add1f960_Decision</name>
        <label>JB_SalesforceObjfb250e88e4292cf603756136add1f960_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjahl94F2wIyBNCxR2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjfb250e88e4292cf603756136add1f960</name>
            <conditionLogic>(1 AND  ( ( ( ( ( (2 AND 3)  AND 4)  AND 5)  AND 6)  AND 7)  AND 8) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Reachable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StatusReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>With Resolution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Vertical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Excellence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.SubVertical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjfb250e88e4292cf603756136add1f960_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjfb250e88e4292cf603756136add1f960</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjfb250e88e4292cf603756136add1f960_State_change_Decision</name>
        <label>JB_SalesforceObjfb250e88e4292cf603756136add1f960_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjahl94F2wIyBNCxR2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjfb250e88e4292cf603756136add1f960</name>
            <conditionLogic>NOT  (1 AND  ( ( ( ( ( (2 AND 3)  AND 4)  AND 5)  AND 6)  AND 7)  AND 8) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Reachable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StatusReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>With Resolution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Vertical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Excellence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.SubVertical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.CaseCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjfb250e88e4292cf603756136add1f960_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjfb250e88e4292cf603756136add1f960</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjK4Zz9lLWr9Ke2OE7_Decision</name>
        <label>JB_SalesforceObjK4Zz9lLWr9Ke2OE7_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjK4Zz9lLWr9Ke2OE7</name>
            <conditionLogic>( (1 AND  ( (2 AND 3)  AND 4) )  And  ( (5 AND 6)  AND  ( (7 AND 8)  OR  (9 AND 10) ) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Select_CM_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012J7000000H0A3IAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.CustomerType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.CustomerSubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VVVIP TIER 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.CustomerSubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VVIP TIER 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjK4Zz9lLWr9Ke2OE7_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjK4Zz9lLWr9Ke2OE7</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjK4Zz9lLWr9Ke2OE7_State_change_Decision</name>
        <label>JB_SalesforceObjK4Zz9lLWr9Ke2OE7_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjK4Zz9lLWr9Ke2OE7</name>
            <conditionLogic>NOT  (1 AND  ( (2 AND 3)  AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Select_CM_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012J7000000H0A3IAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjK4Zz9lLWr9Ke2OE7_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjK4Zz9lLWr9Ke2OE7</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjSff7sYTITIe2KAbE_Decision</name>
        <label>JB_SalesforceObjSff7sYTITIe2KAbE_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfb250e88e4292cf603756136add1f960</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjSff7sYTITIe2KAbE</name>
            <conditionLogic>( (1 AND  ( (2 AND 3)  AND 4) )  And  ( (5 AND 6)  AND  ( ( (7 AND 8)  OR  (9 AND 10) )  OR  (11 AND 12) ) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Select_CM_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012J7000000H0A3IAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.CustomerType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.CustomerSubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VVVIP TIER 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.CustomerSubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VVIP TIER 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.CustomerSubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP TIER 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjSff7sYTITIe2KAbE_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjSff7sYTITIe2KAbE</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjSff7sYTITIe2KAbE_State_change_Decision</name>
        <label>JB_SalesforceObjSff7sYTITIe2KAbE_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfb250e88e4292cf603756136add1f960</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjSff7sYTITIe2KAbE</name>
            <conditionLogic>NOT  (1 AND  ( (2 AND 3)  AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Select_CM_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012J7000000H0A3IAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjSff7sYTITIe2KAbE_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjSff7sYTITIe2KAbE</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Case</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjSff7sYTITIe2KAbE</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
