force-app/main/default/flows/JBSystemFlow_ReceiptAcknowledgement_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjc8A8tirGV5MCFjM2_FireJBTrigger</name>
        <label>SalesforceObjc8A8tirGV5MCFjM2_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjKz2smmd84L6PQLPk</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjKz2smmd84L6PQLPk</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>ReceiptAcknowledgement__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjc8A8tirGV5MCFjM2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536006373</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Salutation&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;LanguagePreference__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Opportunity&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Opportunity__r&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Opportunity__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;UnitNumber__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;,&quot;RoleName__c&quot;,&quot;ProfileName__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount__c&quot;,&quot;Status__c&quot;,&quot;Contact__c&quot;,&quot;UnitNumber__c&quot;,&quot;ClearedDate__c&quot;,&quot;PaymentType__c&quot;,&quot;ProjectName__c&quot;,&quot;ServiceRequest__c&quot;,&quot;EncryptedRecordId__c&quot;,&quot;DoNotSendPaymentURL__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Sales_Manager__r&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Sales_Manager__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjKz2smmd84L6PQLPk_FireJBTrigger</name>
        <label>SalesforceObjKz2smmd84L6PQLPk_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjnB7euG2ACaGwfjVg</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjnB7euG2ACaGwfjVg</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>ReceiptAcknowledgement__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjKz2smmd84L6PQLPk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536006373</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Salutation&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;LanguagePreference__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount__c&quot;,&quot;UnitNumber__c&quot;,&quot;ProjectName__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Sales_Manager__r&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Sales_Manager__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;ProfileName__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;SalesOrder__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;SalesOrder__r&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:SalesOrder__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Status__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjnB7euG2ACaGwfjVg_FireJBTrigger</name>
        <label>SalesforceObjnB7euG2ACaGwfjVg_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>ReceiptAcknowledgement__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjnB7euG2ACaGwfjVg</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536006373</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Salutation&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;LanguagePreference__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;,&quot;RoleName__c&quot;,&quot;ProfileName__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount__c&quot;,&quot;Status__c&quot;,&quot;Contact__c&quot;,&quot;UnitNumber__c&quot;,&quot;ClearedDate__c&quot;,&quot;PaymentType__c&quot;,&quot;ProjectName__c&quot;,&quot;ServiceRequest__c&quot;,&quot;EncryptedRecordId__c&quot;,&quot;DoNotSendPaymentURL__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Sales_Manager__r&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Sales_Manager__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;Title&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;,&quot;RoleName__c&quot;,&quot;ProfileName__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Sales_Manager__r.Contact&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Sales_Manager__r:Contact:&quot;,&quot;fields&quot;:[&quot;Email&quot;,&quot;Title&quot;,&quot;AccountId&quot;,&quot;MobilePhone&quot;,&quot;MobilePhone__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;SalesOrder__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;SalesOrder__r&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:SalesOrder__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;UnitNumber__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjOjPeM2gAc41znJLp_FireJBTrigger</name>
        <label>SalesforceObjOjPeM2gAc41znJLp_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc8A8tirGV5MCFjM2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc8A8tirGV5MCFjM2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>ReceiptAcknowledgement__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjOjPeM2gAc41znJLp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536006373</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Salutation&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;LanguagePreference__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Opportunity&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Opportunity__r&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Opportunity__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;UnitNumber__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;,&quot;RoleName__c&quot;,&quot;ProfileName__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount__c&quot;,&quot;Status__c&quot;,&quot;Contact__c&quot;,&quot;UnitNumber__c&quot;,&quot;ClearedDate__c&quot;,&quot;PaymentType__c&quot;,&quot;ProjectName__c&quot;,&quot;ServiceRequest__c&quot;,&quot;EncryptedRecordId__c&quot;,&quot;DoNotSendPaymentURL__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Sales_Manager__r&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Sales_Manager__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;RoleName__c&quot;,&quot;ProfileName__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Sales_Manager__r.Contact&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Sales_Manager__r:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;,&quot;MobilePhone__c&quot;,&quot;LanguagePreference__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;SalesOrder__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;SalesOrder__r&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:SalesOrder__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Unit__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjScSw1wN7hERHGJLp_FireJBTrigger</name>
        <label>SalesforceObjScSw1wN7hERHGJLp_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjOjPeM2gAc41znJLp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjOjPeM2gAc41znJLp</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>ReceiptAcknowledgement__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjScSw1wN7hERHGJLp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536006373</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Salutation&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;LanguagePreference__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;,&quot;RoleName__c&quot;,&quot;ProfileName__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount__c&quot;,&quot;Status__c&quot;,&quot;Contact__c&quot;,&quot;UnitNumber__c&quot;,&quot;ClearedDate__c&quot;,&quot;PaymentType__c&quot;,&quot;ProjectName__c&quot;,&quot;ServiceRequest__c&quot;,&quot;EncryptedRecordId__c&quot;,&quot;DoNotSendPaymentURL__c&quot;,&quot;RegeneratePaymentLink__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Sales_Manager__r&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:Sales_Manager__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;Title&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;,&quot;RoleName__c&quot;,&quot;ProfileName__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;SalesOrder__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;SalesOrder__r&quot;,&quot;dePrefix&quot;:&quot;ReceiptAcknowledgement__c:SalesOrder__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;UnitNumber__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjc8A8tirGV5MCFjM2</name>
        <label>JB_Decision_Null_Check_SalesforceObjc8A8tirGV5MCFjM2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjKz2smmd84L6PQLPk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjc8A8tirGV5MCFjM2_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjKz2smmd84L6PQLPk</targetReference>
            </connector>
            <label>JB_SalesforceObjc8A8tirGV5MCFjM2_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjc8A8tirGV5MCFjM2_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjc8A8tirGV5MCFjM2_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjc8A8tirGV5MCFjM2_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjKz2smmd84L6PQLPk</name>
        <label>JB_Decision_Null_Check_SalesforceObjKz2smmd84L6PQLPk</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjnB7euG2ACaGwfjVg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjKz2smmd84L6PQLPk_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjnB7euG2ACaGwfjVg</targetReference>
            </connector>
            <label>JB_SalesforceObjKz2smmd84L6PQLPk_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjKz2smmd84L6PQLPk_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjKz2smmd84L6PQLPk_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjKz2smmd84L6PQLPk_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjnB7euG2ACaGwfjVg</name>
        <label>JB_Decision_Null_Check_SalesforceObjnB7euG2ACaGwfjVg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjnB7euG2ACaGwfjVg_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjnB7euG2ACaGwfjVg_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjnB7euG2ACaGwfjVg_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjnB7euG2ACaGwfjVg_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjnB7euG2ACaGwfjVg_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjOjPeM2gAc41znJLp</name>
        <label>JB_Decision_Null_Check_SalesforceObjOjPeM2gAc41znJLp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc8A8tirGV5MCFjM2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjOjPeM2gAc41znJLp_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjc8A8tirGV5MCFjM2</targetReference>
            </connector>
            <label>JB_SalesforceObjOjPeM2gAc41znJLp_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjOjPeM2gAc41znJLp_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjOjPeM2gAc41znJLp_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjOjPeM2gAc41znJLp_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjScSw1wN7hERHGJLp</name>
        <label>JB_Decision_Null_Check_SalesforceObjScSw1wN7hERHGJLp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjOjPeM2gAc41znJLp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjScSw1wN7hERHGJLp_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjOjPeM2gAc41znJLp</targetReference>
            </connector>
            <label>JB_SalesforceObjScSw1wN7hERHGJLp_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjScSw1wN7hERHGJLp_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjScSw1wN7hERHGJLp_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjScSw1wN7hERHGJLp_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjc8A8tirGV5MCFjM2_Decision</name>
        <label>JB_SalesforceObjc8A8tirGV5MCFjM2_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjKz2smmd84L6PQLPk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjc8A8tirGV5MCFjM2</name>
            <conditionLogic>( ( ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)  AND 6)  AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.PaymentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Link Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ProjectName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Balghaiylam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RegeneratePaymentLink__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.DoNotSendPaymentURL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjc8A8tirGV5MCFjM2_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjc8A8tirGV5MCFjM2</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjc8A8tirGV5MCFjM2_State_change_Decision</name>
        <label>JB_SalesforceObjc8A8tirGV5MCFjM2_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjKz2smmd84L6PQLPk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjc8A8tirGV5MCFjM2</name>
            <conditionLogic>NOT  ( ( ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)  AND 6)  AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.PaymentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Link Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.ProjectName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Balghaiylam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RegeneratePaymentLink__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.ServiceRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.DoNotSendPaymentURL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjc8A8tirGV5MCFjM2_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjc8A8tirGV5MCFjM2</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjKz2smmd84L6PQLPk_Decision</name>
        <label>JB_SalesforceObjKz2smmd84L6PQLPk_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjnB7euG2ACaGwfjVg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjKz2smmd84L6PQLPk</name>
            <conditionLogic>( (1 AND  (2 AND 3) )  And  ( (4 AND 5)  OR  (6 AND 7) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reversed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StatusReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insufficient Funds</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.SalesOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.SalesOrder__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.SalesOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.SalesOrder__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjKz2smmd84L6PQLPk_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjKz2smmd84L6PQLPk</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjKz2smmd84L6PQLPk_State_change_Decision</name>
        <label>JB_SalesforceObjKz2smmd84L6PQLPk_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjnB7euG2ACaGwfjVg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjKz2smmd84L6PQLPk</name>
            <conditionLogic>NOT  (1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reversed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StatusReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insufficient Funds</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjKz2smmd84L6PQLPk_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjKz2smmd84L6PQLPk</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjnB7euG2ACaGwfjVg_Decision</name>
        <label>JB_SalesforceObjnB7euG2ACaGwfjVg_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjnB7euG2ACaGwfjVg</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PaymentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Link Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ProjectName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Balghaiylam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.DoNotSendPaymentURL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjnB7euG2ACaGwfjVg_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjnB7euG2ACaGwfjVg</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjOjPeM2gAc41znJLp_Decision</name>
        <label>JB_SalesforceObjOjPeM2gAc41znJLp_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc8A8tirGV5MCFjM2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjOjPeM2gAc41znJLp</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PaymentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Link Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ProjectName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Balghaiylam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.DoNotSendPaymentURL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjOjPeM2gAc41znJLp_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjOjPeM2gAc41znJLp</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjScSw1wN7hERHGJLp_Decision</name>
        <label>JB_SalesforceObjScSw1wN7hERHGJLp_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjOjPeM2gAc41znJLp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjScSw1wN7hERHGJLp</name>
            <conditionLogic>( ( ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)  AND 6)  AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.PaymentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Link Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RegeneratePaymentLink__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ProjectName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Balghaiylam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ServiceRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.DoNotSendPaymentURL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjScSw1wN7hERHGJLp_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjScSw1wN7hERHGJLp</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjScSw1wN7hERHGJLp_State_change_Decision</name>
        <label>JB_SalesforceObjScSw1wN7hERHGJLp_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjOjPeM2gAc41znJLp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjScSw1wN7hERHGJLp</name>
            <conditionLogic>NOT  ( ( ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)  AND 6)  AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.PaymentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Link Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RegeneratePaymentLink__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.ProjectName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Balghaiylam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.ServiceRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.DoNotSendPaymentURL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjScSw1wN7hERHGJLp_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjScSw1wN7hERHGJLp</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_ReceiptAcknowledgement_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjScSw1wN7hERHGJLp</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ReceiptAcknowledgement__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ReceiptAcknowledgement__c</objectType>
    </variables>
</Flow>
