force-app/main/default/flows/Lead_Update_mobile_number_if_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_France_Mobile_Number</name>
        <label>Check France Mobile Number</label>
        <locationX>3614</locationX>
        <locationY>556</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckMobilerNumber_France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileNumber1__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMobileNumbe_France</targetReference>
            </connector>
            <label>CheckMobilerNumber France</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mobile_Number_China</name>
        <label>Check Mobile Number China</label>
        <locationX>4670</locationX>
        <locationY>556</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckMobilerNumber_China</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileNumber1__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMobileNumber_china</targetReference>
            </connector>
            <label>CheckMobilerNumber China</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mobile_Number_Russia</name>
        <label>Check Mobile Number Russia</label>
        <locationX>4142</locationX>
        <locationY>556</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckMobilerNumber_Russia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileNumber1__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMobileNumber_Russia</targetReference>
            </connector>
            <label>CheckMobilerNumber Russia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_US_Mobile_Number</name>
        <label>Check US Mobile Number</label>
        <locationX>3086</locationX>
        <locationY>556</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckMobilerNumber_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileNumber1__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMobileNumberUS</targetReference>
            </connector>
            <label>CheckMobilerNumber US</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCountrycode</name>
        <label>CheckCountrycode</label>
        <locationX>2624</locationX>
        <locationY>448</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UAECountry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>971</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Configure_set_1</targetReference>
            </connector>
            <label>UAECountry</label>
        </rules>
        <rules>
            <name>Egypt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>20</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Configure_set2</targetReference>
            </connector>
            <label>Egypt</label>
        </rules>
        <rules>
            <name>India</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>91</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Configure_set23</targetReference>
            </connector>
            <label>India</label>
        </rules>
        <rules>
            <name>Saudi_Arabia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>966</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Configure_set24</targetReference>
            </connector>
            <label>Saudi Arabia</label>
        </rules>
        <rules>
            <name>UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>44</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Configure_UK_Mobile_Number</targetReference>
            </connector>
            <label>UK</label>
        </rules>
        <rules>
            <name>US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_US_Mobile_Number</targetReference>
            </connector>
            <label>US</label>
        </rules>
        <rules>
            <name>France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_France_Mobile_Number</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>Russia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Mobile_Number_Russia</targetReference>
            </connector>
            <label>Russia</label>
        </rules>
        <rules>
            <name>China</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>86</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobileCountryCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Mobile_Number_China</targetReference>
            </connector>
            <label>China</label>
        </rules>
    </decisions>
    <decisions>
        <name>Configure_set2</name>
        <label>Configure set2</label>
        <locationX>710</locationX>
        <locationY>556</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckMobilerNumber1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileNumber1__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMobileNumbe1</targetReference>
            </connector>
            <label>CheckMobilerNumber</label>
        </rules>
    </decisions>
    <decisions>
        <name>Configure_set23</name>
        <label>Configure set3</label>
        <locationX>1370</locationX>
        <locationY>556</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckMobilerNumber2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileNumber1__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMobileNumbe23</targetReference>
            </connector>
            <label>CheckMobilerNumber</label>
        </rules>
        <rules>
            <name>CheckCountryCodeinMobileNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileNumber1__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>91</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMobileNumberINDIA</targetReference>
            </connector>
            <label>CheckCountryCodeinMobileNumber</label>
        </rules>
    </decisions>
    <decisions>
        <name>Configure_set24</name>
        <label>Configure set4</label>
        <locationX>2030</locationX>
        <locationY>556</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckMobilerNumber233</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileNumber1__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMobileNumbe3212</targetReference>
            </connector>
            <label>CheckMobilerNumber</label>
        </rules>
    </decisions>
    <decisions>
        <name>Configure_set_1</name>
        <label>Configure set 1</label>
        <locationX>182</locationX>
        <locationY>556</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckMobilePhone</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileNumber1__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobileNumber1__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>971</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobileNumber1__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>+971</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_mobile_number</targetReference>
            </connector>
            <label>CheckMobilePhone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Configure_UK_Mobile_Number</name>
        <label>Configure UK Mobile Number</label>
        <locationX>2558</locationX>
        <locationY>556</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckMobilerNumberUK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobileNumber1__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMobileNumbeUK</targetReference>
            </connector>
            <label>CheckMobilerNumberUK</label>
        </rules>
    </decisions>
    <decisions>
        <name>ECSS_Record_Decision</name>
        <label>ECSS Record Decision</label>
        <locationX>2637</locationX>
        <locationY>320</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_ECSS_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_ECSS_RecordType_Id.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCountrycode</targetReference>
            </connector>
            <label>Not ECSS Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Keeplast10digit</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.MobileNumber1__c},10)</expression>
    </formulas>
    <formulas>
        <name>mobilenumberswithout0</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.MobileNumber1__c},9)</expression>
    </formulas>
    <formulas>
        <name>Trim2Digit</name>
        <dataType>String</dataType>
        <expression>TRIM(right({!$Record.MobileNumber1__c} , (LEN( {!$Record.MobileNumber1__c}) - 2)))</expression>
    </formulas>
    <formulas>
        <name>Trim3digit</name>
        <dataType>String</dataType>
        <expression>TRIM(right({!$Record.MobileNumber1__c} , (LEN( {!$Record.MobileNumber1__c}) - 3)))</expression>
    </formulas>
    <formulas>
        <name>TrimZero</name>
        <dataType>String</dataType>
        <expression>TRIM(right({!$Record.MobileNumber1__c} , (LEN( {!$Record.MobileNumber1__c}) - 1)))</expression>
    </formulas>
    <interviewLabel>Lead: Update mobile number if 0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Update mobile number if 0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ECSS_RecordType_Id</name>
        <label>Get ECSS RecordType Id</label>
        <locationX>2648</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ECSS_Record_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ECSS_LeadRecordType_AlDarEstate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_mobile_number</name>
        <label>update mobile number</label>
        <locationX>50</locationX>
        <locationY>664</locationY>
        <inputAssignments>
            <field>MobileNumber1__c</field>
            <value>
                <elementReference>mobilenumberswithout0</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMobileNumbe1</name>
        <label>UpdateMobileNumbe</label>
        <locationX>578</locationX>
        <locationY>664</locationY>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>TrimZero</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMobileNumbe23</name>
        <label>UpdateMobileNumbe</label>
        <locationX>1106</locationX>
        <locationY>664</locationY>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>TrimZero</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMobileNumbe3212</name>
        <label>UpdateMobileNumbe</label>
        <locationX>1898</locationX>
        <locationY>664</locationY>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>TrimZero</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMobileNumbe_France</name>
        <label>UpdateMobileNumbe France</label>
        <locationX>3482</locationX>
        <locationY>664</locationY>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>TrimZero</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMobileNumber_china</name>
        <label>UpdateMobileNumber china</label>
        <locationX>4538</locationX>
        <locationY>664</locationY>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>TrimZero</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMobileNumber_Russia</name>
        <label>UpdateMobileNumber Russia</label>
        <locationX>4010</locationX>
        <locationY>664</locationY>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>TrimZero</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMobileNumberINDIA</name>
        <label>UpdateMobileNumberINDIA</label>
        <locationX>1370</locationX>
        <locationY>664</locationY>
        <inputAssignments>
            <field>MobileNumber1__c</field>
            <value>
                <elementReference>Keeplast10digit</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMobileNumberUS</name>
        <label>UpdateMobileNumberUS</label>
        <locationX>2954</locationX>
        <locationY>664</locationY>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>TrimZero</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMobileNumbeUK</name>
        <label>UpdateMobileNumbeUK</label>
        <locationX>2426</locationX>
        <locationY>664</locationY>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>TrimZero</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2078</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_ECSS_RecordType_Id</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9) AND 10</filterLogic>
        <filters>
            <field>MobileCountryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>971</stringValue>
            </value>
        </filters>
        <filters>
            <field>MobileCountryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>91</stringValue>
            </value>
        </filters>
        <filters>
            <field>MobileCountryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>966</stringValue>
            </value>
        </filters>
        <filters>
            <field>MobileCountryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>20</stringValue>
            </value>
        </filters>
        <filters>
            <field>MobileCountryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>86</stringValue>
            </value>
        </filters>
        <filters>
            <field>MobileCountryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>7</stringValue>
            </value>
        </filters>
        <filters>
            <field>MobileCountryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>33</stringValue>
            </value>
        </filters>
        <filters>
            <field>MobileCountryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>44</stringValue>
            </value>
        </filters>
        <filters>
            <field>MobileCountryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
