force-app/main/default/flows/Lead_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AR_Enduser_GetReady_alert</name>
        <label>AR_Enduser_GetReady_alert</label>
        <locationX>2162</locationX>
        <locationY>587</locationY>
        <actionName>Lead.Art_House_Get_ready_Live_AR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Art_House_Get_ready_Live_AR</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>AR_Investor_GetReady_alert</name>
        <label>AR_Investor_GetReady_alert</label>
        <locationX>1898</locationX>
        <locationY>587</locationY>
        <actionName>Lead.Art_House_Get_ready_Invest_AR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Art_House_Get_ready_Invest_AR</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>ART_HOUSE_ENDUSER_EN</name>
        <label>ART HOUSE ENDUSER EN</label>
        <locationX>314</locationX>
        <locationY>587</locationY>
        <actionName>Lead.ART_HOUSE_ENDUSER_EN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.ART_HOUSE_ENDUSER_EN</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Art_House_Invest_AR</name>
        <label>Art_House_Invest_AR</label>
        <locationX>578</locationX>
        <locationY>587</locationY>
        <actionName>Lead.Art_House_Invest_AR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Art_House_Invest_AR</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>ART_HOUSE_Investor_EN</name>
        <label>ART HOUSE Investor EN</label>
        <locationX>50</locationX>
        <locationY>587</locationY>
        <actionName>Lead.ART_HOUSE_Investor_EN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.ART_HOUSE_Investor_EN</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Art_House_Live_AR</name>
        <label>Art_House_Live_AR</label>
        <locationX>842</locationX>
        <locationY>587</locationY>
        <actionName>Lead.Art_House_Live_AR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Art_House_Live_AR</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>EN_Enduser_GetReady_alert</name>
        <label>EN_Enduser_GetReady_alert</label>
        <locationX>1634</locationX>
        <locationY>587</locationY>
        <actionName>Lead.Art_House_Get_ready_Live_EN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Art_House_Get_ready_Live_EN</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>EN_Investor_GetReady_Alert</name>
        <label>EN_Investor_GetReady_Alert</label>
        <locationX>1370</locationX>
        <locationY>587</locationY>
        <actionName>Lead.Art_House_Get_ready_Invest_EN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Art_House_Get_ready_Invest_EN</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SM_Notification</name>
        <label>SM Notification</label>
        <locationX>1009</locationX>
        <locationY>725</locationY>
        <actionName>Lead.NewLeadAssignedToSM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.NewLeadAssignedToSM</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Condition_for_Language_and_Purpose_of_use</name>
        <label>Condition for Language and Purpose of use</label>
        <locationX>578</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EN_Investor1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LanguagePreference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PurposeOfUse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ART_HOUSE_Investor_EN</targetReference>
            </connector>
            <label>EN Investor</label>
        </rules>
        <rules>
            <name>EN_End_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LanguagePreference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PurposeOfUse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ART_HOUSE_ENDUSER_EN</targetReference>
            </connector>
            <label>EN End User</label>
        </rules>
        <rules>
            <name>AR_Investor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LanguagePreference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arabic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PurposeOfUse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Art_House_Invest_AR</targetReference>
            </connector>
            <label>AR Investor</label>
        </rules>
        <rules>
            <name>AR_End_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LanguagePreference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arabic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PurposeOfUse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Art_House_Live_AR</targetReference>
            </connector>
            <label>AR End User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language_Purpose_of_Use</name>
        <label>Language&amp;Purpose of Use</label>
        <locationX>2038</locationX>
        <locationY>401</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EN_Investor_GetReady</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LanguagePreference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PurposeOfUse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EN_Investor_GetReady_Alert</targetReference>
            </connector>
            <label>EN_Investor_GetReady</label>
        </rules>
        <rules>
            <name>EN_Enduser_GetReady</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LanguagePreference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PurposeOfUse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EN_Enduser_GetReady_alert</targetReference>
            </connector>
            <label>EN_Enduser_GetReady</label>
        </rules>
        <rules>
            <name>AR_Investor_GetReady</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LanguagePreference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arabic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PurposeOfUse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AR_Investor_GetReady_alert</targetReference>
            </connector>
            <label>AR_Investor_GetReady</label>
        </rules>
        <rules>
            <name>AR_Enduser_GetReady</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LanguagePreference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arabic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PurposeOfUse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AR_Enduser_GetReady_alert</targetReference>
            </connector>
            <label>AR_Enduser_GetReady</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Conditions</name>
        <label>Lead Conditions</label>
        <locationX>1195</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>1 AND (2 OR 9) AND (3 OR 4) AND 5 AND 6 AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Walk-In</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logistics</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Logistics</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SM_Notification</targetReference>
            </connector>
            <label>Created?</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND 7 AND (8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Walk-In</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logistics</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SM_Notification</targetReference>
            </connector>
            <label>Updated?</label>
        </rules>
        <rules>
            <name>Art_House_Project_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>The Arthouse Saadiyat Grove</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Broker Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Condition_for_Language_and_Purpose_of_use</targetReference>
            </connector>
            <label>Art House Project Created?</label>
        </rules>
        <rules>
            <name>ART_HouseQUalified_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>The Arthouse Saadiyat Grove</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Broker Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_Purpose_of_Use</targetReference>
            </connector>
            <label>ART HouseQUalified lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Lead Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1068</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Lead_Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ECSS</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
