force-app/main/default/flows/Move_In_Readiness_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_Customer</name>
        <label>Send Notification to Customer</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>CustomerNotificationWebService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountEmail</name>
            <value>
                <elementReference>$Record.HexaBPM__SR__r.HexaBPM__Customer__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.HexaBPM__SR__r.HexaBPM__Customer__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARBody</name>
            <value>
                <stringValue>Your property is ready for move-in. Please proceed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARTitle</name>
            <value>
                <stringValue>Handover Complete: Ready for Move-In</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationBody</name>
            <value>
                <stringValue>Your property is ready for move-in. Please proceed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTitle</name>
            <value>
                <stringValue>Handover Complete: Ready for Move-In</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.HexaBPM__SR__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomerNotificationWebService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>IsKeyhandoverCompltedd</name>
        <label>Key Handover Completed ?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Key_handover_completed_sent_notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SRTemplateName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Handover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HexaBPM__SR__r.HexaBPM__Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HexaBPM__Summary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Handover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HexaBPM__Step_Template__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Handover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HexaBPM__SR__r.HexaBPM__Customer__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_to_Customer</targetReference>
            </connector>
            <label>Key handover completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Move-In Readiness Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Move-In Readiness Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsKeyhandoverCompltedd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HexaBPM__Step_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HexaBPM__Step_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>HexaBPM__Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Key Handover</stringValue>
            </value>
        </filters>
        <object>HexaBPM__Step__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
