force-app/main/default/flows/New_Sale_Order_Reservation_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApexEmailAUH</name>
        <label>ApexEmailAUH</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>ALD_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>NewSaleReservation_v2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <stringValue>noreply@aldar.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>SalesOrder__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recRelatedToEmailAddress</name>
            <value>
                <elementReference>$Record.SalesManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recUserId</name>
            <value>
                <stringValue>0058d0000045L6cAAE,0058d0000045L6fAAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ALD_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>ApexEmailCASA</name>
        <label>ApexEmailCASA</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>ALD_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>NewSaleReservation_v2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <stringValue>noreply@aldar.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>SalesOrder__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recRelatedToEmailAddress</name>
            <value>
                <elementReference>$Record.SalesManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recUserId</name>
            <value>
                <stringValue>0058d0000045L6cAAE,0058d0000045L6fAAE,0058d000004RcoDAAS,0058d0000045L6eAAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ALD_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>ApexEmailDXB</name>
        <label>ApexEmailDXB</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>ALD_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>NewSaleReservation_v2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <stringValue>noreply@aldar.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>SalesOrder__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recRelatedToEmailAddress</name>
            <value>
                <elementReference>$Record.SalesManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recUserId</name>
            <value>
                <stringValue>0058d0000045L6cAAE,0058d0000045L6fAAE,0058d0000045L6dAAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ALD_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>ApexEmailLand</name>
        <label>ApexEmailLand</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>ALD_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>NewSaleReservation_v2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <stringValue>noreply@aldar.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>SalesOrder__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recRelatedToEmailAddress</name>
            <value>
                <elementReference>$Record.SalesManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recUserId</name>
            <value>
                <stringValue>0058d0000045L6cAAE,0058d0000045L0LAAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ALD_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>ApexEmailVIP</name>
        <label>ApexEmailVIP</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>ALD_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>NewSaleReservation_v2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <stringValue>noreply@aldar.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>SalesOrder__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recRelatedToEmailAddress</name>
            <value>
                <elementReference>$Record.SalesManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recUserId</name>
            <value>
                <stringValue>0058d0000045L6cAAE,0058d0000045L6fAAE,0058d0000045L03AAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ALD_SendEmail</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_record_is_created</name>
        <label>Check record is created</label>
        <locationX>1172</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_record_is_created_as_Pending_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OpportunitySaleType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AM Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Team_Check</targetReference>
            </connector>
            <label>Check record is created as Pending Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Check</name>
        <label>Team Check</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AUX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApexEmailAUH</targetReference>
            </connector>
            <label>AUX</label>
        </rules>
        <rules>
            <name>CASA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CASA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApexEmailCASA</targetReference>
            </connector>
            <label>CASA</label>
        </rules>
        <rules>
            <name>LAND</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LAND</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApexEmailLand</targetReference>
            </connector>
            <label>LAND</label>
        </rules>
        <rules>
            <name>DXB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DXB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApexEmailDXB</targetReference>
            </connector>
            <label>DXB</label>
        </rules>
        <rules>
            <name>VIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApexEmailVIP</targetReference>
            </connector>
            <label>VIP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>New Sale Order Reservation Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Sale Order Reservation Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_record_is_created</targetReference>
        </connector>
        <object>SalesOrder__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
