force-app/main/default/flows/NotificationsFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Before_Image_Upload_Notification</name>
        <label>Before Image Upload Notification</label>
        <locationX>2866</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>BellNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Userids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Image Uploaded</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BeforeImageUploadedforSA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Comments_Change</name>
        <label>on Comments Change</label>
        <locationX>3130</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>BellNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Userids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Comments Updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CommentsBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Non_Fixable_Notification</name>
        <label>Non Fixable Notification</label>
        <locationX>2602</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>BellNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Userids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Appointment Non Fixable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NonFixableNotif</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>On_Appointment_Close</name>
        <label>On Appointment Close</label>
        <locationX>3658</locationX>
        <locationY>2579</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Copy_1_of_ifSupervisoNotnull_on_Assesment_complete</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>BellNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Userids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Appointment Closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.AppointmentNumber} has been closed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>On_Appointment_Close_to_supervisor</name>
        <label>On Appointment Close to supervisor</label>
        <locationX>3658</locationX>
        <locationY>2879</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>BellNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Supervisord_ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Appointment Closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.AppointmentNumber} has been closed&apos;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>On_Dispatch_Notification</name>
        <label>On Dispatch Notification</label>
        <locationX>842</locationX>
        <locationY>2579</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>BellNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Supervisord_ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Appointment Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>DLP Executive have completed Assessment on the case: {!$Record.Case__r.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>On_Dispatch_Notification2</name>
        <label>Dispatch Notification Resoltion</label>
        <locationX>1106</locationX>
        <locationY>2579</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>BellNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_ReschdulingUserNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Appointment Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SchuduleAppnmnt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>On_Reschedule_Notification</name>
        <label>On Reschedule Notification</label>
        <locationX>1634</locationX>
        <locationY>2579</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Remaing_Sa</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>BellNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_ReschdulingUserNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Appointment Re-Scheduled</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RescheduleNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>On_Reschedule_Notification2</name>
        <label>On Reschedule Notification</label>
        <locationX>1898</locationX>
        <locationY>2579</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Remaing_Sa</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>BellNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_ResolutionSuperVisorAndUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Appointment Re-Scheduled</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RescheduleNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Partially_Completed_Notification</name>
        <label>Partially Completed Notification</label>
        <locationX>2338</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>BellNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Userids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Appointment Partially Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>PartiallyCompletedNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Resolution_Closed_Notification</name>
        <label>Resolution Closed Notification</label>
        <locationX>50</locationX>
        <locationY>2579</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>BellNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Supervisord_ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Assesment Appointment has been Completed. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Assessment Comments: {!$Record.Technician_Comments__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Supervisor</name>
        <label>Send Email to Supervisor</label>
        <locationX>2404</locationX>
        <locationY>2087</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_through_Resources_and_send_update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SupervisoridsForDLP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>customercare@aldar.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Appointment Details Updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SupervisorTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Loop_through_Resources_and_send_update.ServiceAppointment.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Technician_Comments_Added</name>
        <label>Technician Comments Added</label>
        <locationX>578</locationX>
        <locationY>2471</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>BellNotifID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Userids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Technician Comments Updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TechnicianComments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Tech</name>
        <label>Add Tech</label>
        <locationX>2272</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>var_ResolutionSuperVisorAndUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Resources_and_send_update.ServiceResource.Supervisor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Notification_to_Supervisor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_for_Rescedule</name>
        <label>Add User for Rescedule</label>
        <locationX>2536</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Userids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Resources_and_send_update.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Supervisor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_for_supervos1</name>
        <label>Add User for supervosr</label>
        <locationX>2536</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>Supervisord_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Resources_and_send_update.ServiceResource.Supervisor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ReschdulingUserNotification</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Resources_and_send_update.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Notification_to_Supervisor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_for_supervosr</name>
        <label>Add User for supervosr</label>
        <locationX>2272</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>Userids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Resources_and_send_update.ServiceResource.Supervisor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ReschdulingUserNotification</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Resources_and_send_update.ServiceResource.Supervisor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ResolutionSuperVisorAndUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Resources_and_send_update.ServiceResource.Supervisor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tech</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Bell_NotificationId</name>
        <label>Assign Bell NotificationId</label>
        <locationX>2184</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>BellNotifID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.FSLBellNotificationID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Assigned_Resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_5</name>
        <label>Assignment 5</label>
        <locationX>2404</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>SupervisoridsForDLP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Resources_and_send_update.ServiceResource.Supervisor_Email_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Supervisor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpateToScheduleStart</name>
        <label>UpateToScheduleStart</label>
        <locationX>2052</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_SchstartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ArrivalWindowStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SchEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ArrivalWindowEndTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Chk_schdule_Start_or_End_is_changing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpateToScheduleStarts</name>
        <label>UpateToScheduleStartD</label>
        <locationX>2316</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_SchstartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SchEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Chk_schdule_Start_or_End_is_changing</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ArrivalwindowChanged</name>
        <label>ArrivalwindowChanged</label>
        <locationX>2184</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>UpateToScheduleStarts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesArrivalWindowchanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ArrivalWindowStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ArrivalWindowStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpateToScheduleStart</targetReference>
            </connector>
            <label>ArrivalWindowchanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chk_schdule_Start_or_End_is_changing</name>
        <label>Chk schdule Start or End is changing</label>
        <locationX>2184</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Assign_Bell_NotificationId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChkSchduletimeChanging</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ArrivalWindowStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SchedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ArrivalWindowStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Reschdule</targetReference>
            </connector>
            <label>ChkSchduletimeChanging</label>
        </rules>
        <rules>
            <name>If_New_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ArrivalWindowStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Status_To_Reschdule</targetReference>
            </connector>
            <label>If New SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_ifSupervisoNotnull_on_Assesment_complete</name>
        <label>Copy 1 of ifSupervisoNotnull on Assesment complete</label>
        <locationX>3790</locationX>
        <locationY>2771</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>chk_Supervisor_Not_Null_on_closing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Supervisord_ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Appointment_Close_to_supervisor</targetReference>
            </connector>
            <label>chk Supervisor Not Null on closing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Notification_to_Supervisor</name>
        <label>Email Notification to Supervisor</label>
        <locationX>2536</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Resources_and_send_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assessment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Resources_and_send_update.ServiceAppointment.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Resources_and_send_update.ServiceAppointment.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>En Route</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_5</targetReference>
            </connector>
            <label>True Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>FilterEmptyCondition</name>
        <label>FilterEmptyCondition</label>
        <locationX>3790</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_ifSupervisoNotnull_on_Assesment_complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EmptyIdList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Userids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Appointment_Close</targetReference>
            </connector>
            <label>EmptyIdList</label>
        </rules>
    </decisions>
    <decisions>
        <name>For_Supervisor</name>
        <label>For Supervisor</label>
        <locationX>2536</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Email_Notification_to_Supervisor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Resources_and_send_update.ServiceResource.Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_for_supervosr</targetReference>
            </connector>
            <label>If Exist</label>
        </rules>
        <rules>
            <name>If_Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assessment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Resources_and_send_update.ServiceResource.Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_for_supervos1</targetReference>
            </connector>
            <label>If Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifSupervisoNotnull_on_Assesment_complete</name>
        <label>ifSupervisoNotnull on Assesment complete</label>
        <locationX>182</locationX>
        <locationY>2471</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>chk_Supervisor_Not_Null_on_Assesment_complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Supervisord_ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolution_Closed_Notification</targetReference>
            </connector>
            <label>chk Supervisor Not Null on Assesment complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipient_Verificaiton</name>
        <label>Recipient Verificaiton</label>
        <locationX>1898</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>Update_Remaing_Sa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Userids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Reschedule_Notification</targetReference>
            </connector>
            <label>Not empty</label>
        </rules>
        <rules>
            <name>If_Resolution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ResolutionSuperVisorAndUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Reschedule_Notification2</targetReference>
            </connector>
            <label>If Resolution</label>
        </rules>
    </decisions>
    <decisions>
        <name>RT_Check_Condition</name>
        <label>RT Check</label>
        <locationX>1106</locationX>
        <locationY>2471</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Assessment_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assessment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Supervisord_ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Dispatch_Notification</targetReference>
            </connector>
            <label>If Assessment</label>
        </rules>
        <rules>
            <name>Else_other_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ReschdulingUserNotification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Dispatch_Notification2</targetReference>
            </connector>
            <label>Else other Users</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Decision</name>
        <label>Status Decision</label>
        <locationX>985</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>ArrivalwindowChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <label>Status is Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>TOchkdiffConditionsforNotification</name>
        <label>TOchkdiffConditionsforNotification</label>
        <locationX>2184</locationX>
        <locationY>2363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>on_Assesment_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assessment Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ifSupervisoNotnull_on_Assesment_complete</targetReference>
            </connector>
            <label>on Assesment Complete</label>
        </rules>
        <rules>
            <name>IfTechCommentsChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Technician_Comments__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technician_Comments__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Technician_Comments_Added</targetReference>
            </connector>
            <label>IfTechCommentsChanged</label>
        </rules>
        <rules>
            <name>OnSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RT_Check_Condition</targetReference>
            </connector>
            <label>OnDispatch</label>
        </rules>
        <rules>
            <name>on_Reschedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recipient_Verificaiton</targetReference>
            </connector>
            <label>on Reschedule</label>
        </rules>
        <rules>
            <name>Partially_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partially_Completed_Notification</targetReference>
            </connector>
            <label>Partially Completed</label>
        </rules>
        <rules>
            <name>Not_Fixable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non Fixable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Fixable_Notification</targetReference>
            </connector>
            <label>Not Fixable</label>
        </rules>
        <rules>
            <name>beforeImageUploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Before_Image__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Before_Image__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Before_Image_Upload_Notification</targetReference>
            </connector>
            <label>beforeImageUploaded</label>
        </rules>
        <rules>
            <name>on_Comments_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Comments__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Comments__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comments_Change</targetReference>
            </connector>
            <label>on Comments Change</label>
        </rules>
        <rules>
            <name>on_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <label>on Schedule</label>
        </rules>
        <rules>
            <name>On_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FilterEmptyCondition</targetReference>
            </connector>
            <label>On Closed</label>
        </rules>
    </decisions>
    <description>DLP Notifications Flow</description>
    <environments>Default</environments>
    <formulas>
        <name>Appointment_Closed</name>
        <dataType>String</dataType>
        <expression>&apos;Resolution Appointment &apos; + {!$Record.AppointmentNumber}+ &apos; has been Updated.  &apos;</expression>
    </formulas>
    <formulas>
        <name>Assesment_completed</name>
        <dataType>String</dataType>
        <expression>{!$Record.AppointmentNumber}+&apos;  &apos;+ {!$Record.Technician_Comments__c}</expression>
    </formulas>
    <formulas>
        <name>AssignementBody</name>
        <dataType>String</dataType>
        <expression>{!$Record.AppointmentNumber} +&apos; has been assigned to you. Please Check it earliest.&apos;</expression>
    </formulas>
    <formulas>
        <name>before1dayReminder</name>
        <dataType>String</dataType>
        <expression>{!$Record.AppointmentNumber}+&apos;schedule time is arrivining. Please check it once.&apos;</expression>
    </formulas>
    <formulas>
        <name>BeforeImageUploadedforSA</name>
        <dataType>String</dataType>
        <expression>&apos;Image has been uploaded for&apos; +{!$Record.AppointmentNumber}</expression>
    </formulas>
    <formulas>
        <name>CommentsBody</name>
        <dataType>String</dataType>
        <expression>{!$Record.AppointmentNumber}  +&apos;:&apos;+ {!$Record.Comments__c}</expression>
    </formulas>
    <formulas>
        <name>NonFixableNotif</name>
        <dataType>String</dataType>
        <expression>{!$Record.AppointmentNumber}+ &apos; is non fixable because &apos;+{!$Record.Technician_Comments__c}</expression>
    </formulas>
    <formulas>
        <name>PartiallyCompletedNotification</name>
        <dataType>String</dataType>
        <expression>{!$Record.AppointmentNumber} +&apos;  &apos; +{!$Record.Technician_Comments__c}+&apos; Please Check&apos;</expression>
    </formulas>
    <formulas>
        <name>Reminderbefore2hrs</name>
        <dataType>String</dataType>
        <expression>{!$Record.AppointmentNumber}+&apos; schedule time is arriving. Please Take action.&apos;</expression>
    </formulas>
    <formulas>
        <name>RescheduleNotification</name>
        <dataType>String</dataType>
        <expression>{!$Record.AppointmentNumber}+&apos; Has been rescheduled to &apos; + TEXT({!$Record.SchedStartTime})</expression>
    </formulas>
    <formulas>
        <name>SchuduleAppnmnt</name>
        <dataType>String</dataType>
        <expression>{!$Record.AppointmentNumber} +&apos; take action as earliest&apos;</expression>
    </formulas>
    <formulas>
        <name>TechnicianComments</name>
        <dataType>String</dataType>
        <expression>{!$Record.AppointmentNumber} + {!$Record.Technician_Comments__c}</expression>
    </formulas>
    <interviewLabel>NotificationsFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DLP FSL Notifications Flow</label>
    <loops>
        <name>Loop_through_Resources_and_send_update</name>
        <label>Loop through Resources and send update</label>
        <locationX>2184</locationX>
        <locationY>1247</locationY>
        <collectionReference>Get_All_Assigned_Resources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_User_for_Rescedule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>TOchkdiffConditionsforNotification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Assigned_Resources</name>
        <label>Get All Assigned Resources</label>
        <locationX>2184</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Resources_and_send_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssignedResource</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceAppointmentId</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Sync_Status_To_Reschdule</name>
        <label>Sync Schedulestart and end</label>
        <locationX>2184</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Assign_Bell_NotificationId</targetReference>
        </connector>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>var_SchEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>var_SchstartTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1898</locationX>
        <locationY>2879</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Re-scheduled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Re-scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Remaing_Sa</name>
        <label>Update Remaing Sa</label>
        <locationX>1898</locationX>
        <locationY>2771</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedEndTime</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Re-scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_To_Reschdule</name>
        <label>Update Status To Reschdule</label>
        <locationX>1920</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Assign_Bell_NotificationId</targetReference>
        </connector>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>var_SchEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>var_SchstartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Re-scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>859</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ArrivalWindowStartTime</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>SupervisorTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Loop_through_Resources_and_send_update.ServiceResource.Supervisor__r.LastName},&lt;/p&gt;&lt;p&gt;Details of {!Loop_through_Resources_and_send_update.ServiceAppointment.AppointmentNumber}/ {!Loop_through_Resources_and_send_update.ServiceAppointment.Case__r.CaseNumber} have changed. Check the details on &lt;a href=&quot;{!$Label.DLPPortalUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;portal&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Case Status: {!Loop_through_Resources_and_send_update.ServiceAppointment.Status}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Appointment Status: {!Loop_through_Resources_and_send_update.ServiceAppointment.Case__r.Status}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AllServiceAppnments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ARRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>ARReslolutionRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>assement_Appnmt_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>assesment_AssignedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>assesment_SR_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>assigned_Resource_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssignedResourcescollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>BellNotifID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Conut_supervisorForDLP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Count_dlp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>count_Rem_sa_ids</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Count_sup_dlp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Count_Supervisor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>dlp_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DLp_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RemainingSA_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RemainingSa_rec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Resolution_appnmt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ResolutionSRRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>SRrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>Supervisord_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SupervisoridsForDLP</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>userIdFromServiceResource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Userids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_AllSAtopdateArrivalDate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_AllSAtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_ReschdulingUserNotification</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ResolutionSuperVisorAndUser</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SchEndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SchstartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
