force-app/main/default/flows/Online_Corporate_and_Wealth_Leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CategoryDecision</name>
        <label>Category Decision</label>
        <locationX>683</locationX>
        <locationY>487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Corporate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CorporateWealthName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UAE Embassy-London</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CorporateWealthName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UAE Embassy in London</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CorporateWealthName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abu Dhabi Investment Office-London</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Sales_Manager_RR_Queue_Corporate</targetReference>
            </connector>
            <label>Corporate</label>
        </rules>
        <rules>
            <name>Wealth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EnquiryCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wealth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <label>Wealth</label>
        </rules>
        <rules>
            <name>International_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrigin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EnquiryCategory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Corporate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Asset Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EnquiryCategory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Wealth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadOrigin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_SM_based_on_the_offer</targetReference>
            </connector>
            <label>International Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>ECSS_Record_Decision</name>
        <label>ECSS Record Decision</label>
        <locationX>691</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_ECSS_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_ECSS_RecordType_Id.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CategoryDecision</targetReference>
            </connector>
            <label>Not ECSS Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Online Corporate and Wealth Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Online Corporate and Wealth Leads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ECSS_RecordType_Id</name>
        <label>Get ECSS RecordType Id</label>
        <locationX>782</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ECSS_Record_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ECSS_LeadRecordType_AlDarEstate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_to_Sales_Manager_RR_Queue_Corporate</name>
        <label>Assign to Sales Manager RR Queue Corporate</label>
        <locationX>675</locationX>
        <locationY>632</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0058d000008QE1YAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_to_Sales_Manger_RR_Queue_Wealth</name>
        <label>Assign to Sales Manger RR Queue Wealth</label>
        <locationX>345</locationX>
        <locationY>488</locationY>
        <inputAssignments>
            <field>AssignToRoundRobin__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSubType__c</field>
            <value>
                <stringValue>WEALTH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExemptFromAssignment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G8d000001tRwxEAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_to_SM_based_on_the_offer</name>
        <label>Assign to SM based on the offer</label>
        <locationX>1137</locationX>
        <locationY>432</locationY>
        <inputAssignments>
            <field>CustomerLocation__c</field>
            <value>
                <stringValue>Others</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSubType__c</field>
            <value>
                <stringValue>INTERNATIONAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financing__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue> 00G8d000001tRwxEAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PropertyReadiness__c</field>
            <value>
                <stringValue>Over one year</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>313</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_ECSS_RecordType_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <filters>
            <field>ExemptFromAssignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Resale</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
</Flow>
