force-app/main/default/flows/PaymentURL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BookingSuccessPaymentEmail</name>
        <label>Booking Success Payment Email</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <actionName>ReceiptAcknowledgement__c.BookingSuccessPayment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ReceiptAcknowledgement__c.BookingSuccessPayment</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CancelOpportunityEOI</name>
        <label>Cancel Opportunity EOI</label>
        <locationX>3394</locationX>
        <locationY>600</locationY>
        <actionName>OpportunityEOIService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EOICancellationEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunityEOIList</name>
            <value>
                <elementReference>EOIRecord1</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpportunityEOIService</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>ChargeFee_Email_Alert</name>
        <label>ChargeFee Email Alert</label>
        <locationX>578</locationX>
        <locationY>1008</locationY>
        <actionName>ReceiptAcknowledgement__c.Charge_Fee_Success_Payment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ReceiptAcknowledgement__c.Charge_Fee_Success_Payment</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EOICancellationEmail</name>
        <label>EOI Cancellation Email</label>
        <locationX>3394</locationX>
        <locationY>708</locationY>
        <actionName>OpportunityEOI__c.EOICancellation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.OpportunityEOI__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpportunityEOI__c.EOICancellation</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EOIPaymentURLEmail</name>
        <label>EOI Payment URL Email</label>
        <locationX>1370</locationX>
        <locationY>1116</locationY>
        <actionName>ReceiptAcknowledgement__c.EOIPaymentURL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateRegeneratePaymentLinkField</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ReceiptAcknowledgement__c.EOIPaymentURL</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EOISuccessPaymentEmail</name>
        <label>EOI Success Payment Email</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <actionName>ReceiptAcknowledgement__c.EOISuccessPayment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateEOIStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ReceiptAcknowledgement__c.EOISuccessPayment</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Online_Payment_URL</name>
        <label>Online Payment URL</label>
        <locationX>2338</locationX>
        <locationY>1116</locationY>
        <actionName>ReceiptAcknowledgement__c.Online_Payment_URL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateRegeneratePaymentLinkField</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ReceiptAcknowledgement__c.Online_Payment_URL</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Payment_URL_for_Charge_Fee</name>
        <label>Payment URL for Charge Fee</label>
        <locationX>1634</locationX>
        <locationY>1224</locationY>
        <actionName>ALD_SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateRegeneratePaymentLinkField</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>Payment_URL_For_Charge_Fee</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <stringValue>noreply@aldar.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>ReceiptAcknowledgement__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recOwnerId</name>
            <value>
                <elementReference>$Record.ServiceRequest__r.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recRelatedToEmailAddress</name>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ALD_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Reminder_Payment_URL_for_Charge_Fee</name>
        <label>Reminder Payment URL for Charge Fee</label>
        <locationX>1898</locationX>
        <locationY>1224</locationY>
        <actionName>ALD_SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateRegeneratePaymentLinkField</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>Payment_URL_For_Charge_Fee_Reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <stringValue>noreply@aldar.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>ReceiptAcknowledgement__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recOwnerId</name>
            <value>
                <elementReference>$Record.ServiceRequest__r.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recRelatedToEmailAddress</name>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ALD_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendNotification</name>
        <label>Send Notification</label>
        <locationX>1524</locationX>
        <locationY>600</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>UpdateOrCreate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotificationId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign Recipients for payment notification.</description>
        <name>AssignRecipients</name>
        <label>Assign Recipients</label>
        <locationX>1524</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SalesOrder__r.SalesManager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SalesOrder__r.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomNotificationId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckRecordType</name>
        <label>Check RecordType</label>
        <locationX>3394</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SalesOrderRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesOrderRecord1</targetReference>
            </connector>
            <label>Sales Order Record</label>
        </rules>
        <rules>
            <name>EOIRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OpportunityEOI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EOIRecord1</targetReference>
            </connector>
            <label>EOI Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>EOIOrSalesOrder</name>
        <label>EOI Or Sales Order</label>
        <locationX>1854</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SalesOrderPaymentEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DoNotSendPaymentURL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Regenerate_Payment_Link_Field</targetReference>
            </connector>
            <label>Sales Order Payment Email</label>
        </rules>
        <rules>
            <name>EOIPaymentEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OpportunityEOI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DoNotSendPaymentURL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EOIPaymentURLEmail</targetReference>
            </connector>
            <label>EOI Payment Email</label>
        </rules>
        <rules>
            <name>SR_Payment_Details_For_Charge_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Receipt_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Charge Fee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReceiptEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DoNotSendPaymentURL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Email_or_Reminder</targetReference>
            </connector>
            <label>SR Payment Details For Charge Fee</label>
        </rules>
        <rules>
            <name>SR_Online_Payment_URL_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReceiptEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DoNotSendPaymentURL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Online_Payment_URL</targetReference>
            </connector>
            <label>SR Online Payment URL Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Email_or_Reminder</name>
        <label>New Email or Reminder</label>
        <locationX>1898</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>UpdateRegeneratePaymentLinkField</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IS_NEW_RECEIPT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_URL_for_Charge_Fee</targetReference>
            </connector>
            <label>New Email</label>
        </rules>
        <rules>
            <name>Reminder_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IS_NEW_RECEIPT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_Payment_URL_for_Charge_Fee</targetReference>
            </connector>
            <label>Reminder Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>OnlinePaymentSuccess</name>
        <label>Online Payment Success</label>
        <locationX>446</locationX>
        <locationY>900</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EOI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OpportunityEOI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EOISuccessPaymentEmail</targetReference>
            </connector>
            <label>EOI</label>
        </rules>
        <rules>
            <name>SalesOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Receipt_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Charge Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BookingSuccessPaymentEmail</targetReference>
            </connector>
            <label>Sales Order</label>
        </rules>
        <rules>
            <name>Charge_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Receipt_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Charge Fee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChargeFee_Email_Alert</targetReference>
            </connector>
            <label>Charge Fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>ReceiptAcknowledgementNotifications</name>
        <label>Receipt Acknowledgement Notifications</label>
        <locationX>1656</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>UpdateOrCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReversedStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AssignRecipients</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Reversed Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateOrCreate</name>
        <label>Update Or Create</label>
        <locationX>1656</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SuccessPayment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReasonCode__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReasonCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DoNotSendPaymentURL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OnlinePaymentSuccess</targetReference>
            </connector>
            <label>Success Payment</label>
        </rules>
        <rules>
            <name>New_Payment_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaymentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RegeneratePaymentLink__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTimerDetails</targetReference>
            </connector>
            <label>New Payment Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidationCheck</name>
        <label>Validation Check</label>
        <locationX>3658</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OpportunityEOI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReasonCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRecordType</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>MCD Changes - Email Receipts</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF( ISPICKVAL({!GetTimerDetails.Time__c} , &quot;Hours&quot;), {!$Flow.CurrentDateTime} + ({!GetTimerDetails.Timer__c} * 60/1440), 
IF( ISPICKVAL({!GetTimerDetails.Time__c} , &quot;Days&quot;) , {!$Flow.CurrentDateTime} + ({!GetTimerDetails.Timer__c} * 24 * 60/1440),
{!$Flow.CurrentDateTime} + {!GetTimerDetails.Timer__c})
)</expression>
    </formulas>
    <formulas>
        <name>IS_NEW_RECEIPT</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Payment URL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment URL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Receipt Acknowledgement Notification Id</description>
        <name>CustomNotificationId</name>
        <label>Custom Notification Id</label>
        <locationX>1524</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ReceiptAcknowledgementNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>EOIRecord1</name>
        <label>EOI Record</label>
        <locationX>3394</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CancelOpportunityEOI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityEOI__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityEOI__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTimerDetails</name>
        <label>Get Timer Details</label>
        <locationX>1854</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EOIOrSalesOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PaymentGatewayLink</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Timer__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SalesOrderRecord1</name>
        <label>Sales Order Record</label>
        <locationX>3130</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesOrder__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Regenerate_Payment_Link_Field</name>
        <label>Update Regenerate Payment Link Field</label>
        <locationX>1106</locationX>
        <locationY>1116</locationY>
        <inputAssignments>
            <field>PaymentLinkExpiry__c</field>
            <value>
                <elementReference>CalculateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEOIStatus</name>
        <label>Update EOI Status</label>
        <locationX>50</locationX>
        <locationY>1116</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityEOI__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityEOI__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRegeneratePaymentLinkField</name>
        <label>Update Regenerate Payment Link Field</label>
        <locationX>1854</locationX>
        <locationY>1500</locationY>
        <inputAssignments>
            <field>PaymentLinkExpiry__c</field>
            <value>
                <elementReference>CalculateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegeneratePaymentLink__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2531</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ReceiptAcknowledgementNotifications</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PaymentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <filters>
            <field>RegeneratePaymentLink__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ReasonCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>100</stringValue>
            </value>
        </filters>
        <object>ReceiptAcknowledgement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>PaymentLinkExpiry</name>
            <connector>
                <targetReference>ValidationCheck</targetReference>
            </connector>
            <label>Payment Link Expiry</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>PaymentLinkExpiry__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} payment record for {!$Record.Account__r.Name} has been {!$Record.Status__c} with reason - {!$Record.StatusReason__c}, please action on this.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} is {!$Record.Status__c}</text>
    </textTemplates>
    <variables>
        <name>NotificationRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
