force-app/main/default/flows/Refund_Reminder_for_Sales_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_for_Refund_Reminder</name>
        <label>Send Email for Refund Reminder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Over_Sales_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Over_Sales_Order.SalesManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <elementReference>CCEmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@aldar.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Refund Request for Cancelled Sales Order</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RefundEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>CCEmailList</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISNULL({!Loop_Over_Sales_Order.SalesManager__r.ManagerId})),
  {!Loop_Over_Sales_Order.SalesManager__r.Manager.Email} &amp; &quot;,&quot; &amp; &quot;vchikkaiah@aldar.com&quot;,
  &quot;vchikkaiah@aldar.com&quot;)</expression>
    </formulas>
    <interviewLabel>Refund Reminder for Sales Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refund Reminder for Sales Manager</label>
    <loops>
        <name>Loop_Over_Sales_Order</name>
        <label>Loop Over Sales Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Sales_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email_for_Refund_Reminder</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Sales_Order</name>
        <label>Get Sales Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Sales_Order</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>SalesOrderIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SalesOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>RefundEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Dear {!Loop_Over_Sales_Order.SalesManager__r.FirstName},&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Please be informed that Sales Order {!Loop_Over_Sales_Order.Name}, placed by {!Loop_Over_Sales_Order.AccountName__c} on {!Loop_Over_Sales_Order.ReservationStartDate__c}, has been &lt;strong&gt;cancelled&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;Kindly review the details below and proceed with the refund process as necessary:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;🔹 Customer Name:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Over_Sales_Order.AccountName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;🔹 Sales Order Number:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Over_Sales_Order.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;🔹 Order Date:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Over_Sales_Order.ReservationStartDate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;🔹 Cancellation Date:&lt;/strong&gt; {!Loop_Over_Sales_Order.Cancellation_Deadline__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;🔹 Total Collected Amount:&lt;/strong&gt; {!Loop_Over_Sales_Order.Total_Collected_Amount__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;Aldar Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>SalesOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesOrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
