force-app/main/default/flows/Render_As_PDF_Suspension_Warning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_BrokerRenderPDFInvocable</name>
        <label>Copy 1 of Copy 1 of BrokerRenderPDFInvocable</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <actionName>BrokerRenderPDFInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BrokerRenderPDFInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check For status,Suspension/Warning and Agency</description>
        <name>Suspension_Conditions</name>
        <label>Suspension Conditions</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Suspension_Letter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BrokerAgency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuspensionApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspension Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuspensionWarning__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspension</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Generate_document_checkbox</targetReference>
            </connector>
            <label>Suspension Letter</label>
        </rules>
        <rules>
            <name>Warning_letter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuspensionWarning__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BrokerAgency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuspensionApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspension Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Generate_document_checkbox1</targetReference>
            </connector>
            <label>Warning letter</label>
        </rules>
        <rules>
            <name>Suspension_letter_draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BrokerAgency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuspensionApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Suspension Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuspensionWarning__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspension</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Generate_document_checkbox1</targetReference>
            </connector>
            <label>Suspension letter draft</label>
        </rules>
        <rules>
            <name>Warning_letter_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BrokerAgency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuspensionWarning__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuspensionApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Suspension Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Generate_document_checkbox1</targetReference>
            </connector>
            <label>Warning letter Draft</label>
        </rules>
    </decisions>
    <description>Added Preview Document</description>
    <environments>Default</environments>
    <interviewLabel>Render As PDF Suspension/ Warning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Render As PDF Suspension/ Warning</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get delivery option id</description>
        <name>GetDeliveryOptionId</name>
        <label>GetDeliveryOptionId</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Suspension_Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loop__DDP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDocgenPackage.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loop__DDP_Integration_Option__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDocgenPackage</name>
        <label>GetDocgenPackage</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDeliveryOptionId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Suspension/warning Letter</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loop__DDP__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Generate document checkbox</description>
        <name>Copy_1_of_Update_Generate_document_checkbox</name>
        <label>Update Generate document checkbox1</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_BrokerRenderPDFInvocable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DocumentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Suspension Letter</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DeliveryOptionId__c</field>
            <value>
                <elementReference>GetDeliveryOptionId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocgenPackageId__c</field>
            <value>
                <elementReference>GetDocgenPackage.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GenerateDocument__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Documents__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Generate document checkbox</description>
        <name>Copy_1_of_Update_Generate_document_checkbox1</name>
        <label>Copy 1 of Update Generate document checkbox1</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_BrokerRenderPDFInvocable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DocumentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warning Letter</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DeliveryOptionId__c</field>
            <value>
                <elementReference>GetDeliveryOptionId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocgenPackageId__c</field>
            <value>
                <elementReference>GetDocgenPackage.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GenerateDocument__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Documents__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Generate document checkbox</description>
        <name>Copy_2_of_Update_Generate_document_checkbox1</name>
        <label>Copy 2 of Update Generate document checkbox1</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DocumentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Suspension Letter Draft</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>GenerateDocument__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Documents__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Generate document checkbox</description>
        <name>Copy_3_of_Update_Generate_document_checkbox1</name>
        <label>Copy 3 of Update Generate document checkbox1</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DocumentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warning Letter Draft</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>GenerateDocument__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Documents__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetDocgenPackage</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>SuspensionApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted for Suspension Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>SuspensionApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Suspension Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>SuspensionApprovalStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Suspensions_Warning__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
