force-app/main/default/flows/Resale_Pending_for_5_Or_3_Days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Resale_Case_Pending_For_3_Days</name>
        <label>Resale Case Pending For 3 Days</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>Case.Resale_Case_Pending_For_3_Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Resale_Case_Pending_For_3_Days</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Resale_Case_Pending_For_5_Days</name>
        <label>Resale Case Pending For 5 Days</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>Case.Resale_Case_Pending_For_5_Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Resale_Case_Pending_For_5_Days</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Case_Status_Pending_In_Progress</name>
        <label>Check Case Status Pending in Progress</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Status_3_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resale_Case_Pending_For_3_Days</targetReference>
            </connector>
            <label>Case Status After 3 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Status_Still_Pending_With_Customer</name>
        <label>Check Case Status Still Pending With Customer</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending with Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resale_Case_Pending_For_5_Days</targetReference>
            </connector>
            <label>Case Status</label>
        </rules>
    </decisions>
    <description>Flow to send email for Resale Heads for In progress and Pending with Customer Resale case if they are still sitting in same status.</description>
    <environments>Default</environments>
    <interviewLabel>Resale Pending for 5 Or 3 Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resale Case Pending for 5 Or 3 Days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending with Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resale</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X5_Days_After_Record_Creation</name>
            <connector>
                <targetReference>Check_Case_Status_Still_Pending_With_Customer</targetReference>
            </connector>
            <label>5 Days After Record Creation</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_Days_After_Record_Creation</name>
            <connector>
                <targetReference>Case_Status_Pending_In_Progress</targetReference>
            </connector>
            <label>3 Days After Record Creation</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
