force-app/main/default/flows/ResetPasswordforAgencyUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>call  set new password class</description>
        <name>Generate_Password</name>
        <label>Generate Password</label>
        <locationX>908</locationX>
        <locationY>446</locationY>
        <actionName>SetNewPassword</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SendEmailToAgent</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SetNewPassword</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>call apex class to reset password</description>
        <name>ResetPassword</name>
        <label>Reset Password</label>
        <locationX>644</locationX>
        <locationY>446</locationY>
        <actionName>ContactService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SendEmailToAgent</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ContactService</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailToAgent</name>
        <label>Send Email To Agent</label>
        <locationX>776</locationX>
        <locationY>662</locationY>
        <actionName>Contact.AgentGenerateResetPassword</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.AgentGenerateResetPassword</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>GeneratePassword</name>
        <choiceText>Generate Password</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generate Password</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reset_Password</name>
        <choiceText>Reset Password</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reset Password</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Check if Reset Password Option selected or not</description>
        <name>Reset_Selected</name>
        <label>Reset Selected?</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Generate_Password</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reset_Password_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_option_for_Password</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reset_Password</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetPassword</targetReference>
            </connector>
            <label>Reset Password Selected?</label>
        </rules>
    </decisions>
    <description>Reset password for Agency user on button click</description>
    <environments>Default</environments>
    <formulas>
        <name>conRecordId</name>
        <dataType>String</dataType>
        <expression>{!$Flow.CurrentRecord}</expression>
    </formulas>
    <interviewLabel>Reset Password for Agency User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reset Password for Agency User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Generate and reset password</description>
        <name>GenerateResetPassword</name>
        <label>GenerateResetPassword</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_Selected</targetReference>
        </connector>
        <fields>
            <name>Select_an_option_for_Password</name>
            <choiceReferences>GeneratePassword</choiceReferences>
            <choiceReferences>Reset_Password</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an option for Password</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GenerateResetPassword</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
