force-app/main/default/flows/Reservation_Sold_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_CCO_and_Tim</name>
        <label>Email to CCO and Tim</label>
        <locationX>1655</locationX>
        <locationY>451</locationY>
        <actionName>SalesOrder__c.Email_to_CCO_and_Tim_on_LSQ_Reservation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SalesOrder__c.Email_to_CCO_and_Tim_on_LSQ_Reservation</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Unit_Reserved_DXB</name>
        <label>Unit Reserved DXB</label>
        <locationX>1106</locationX>
        <locationY>587</locationY>
        <actionName>SalesOrder__c.Unit_ReservedDXB</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SalesOrder__c.Unit_ReservedDXB</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Unit_Reserved_LAND</name>
        <label>Unit Reserved LAND</label>
        <locationX>314</locationX>
        <locationY>587</locationY>
        <actionName>SalesOrder__c.Unit_ReservedLAND</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SalesOrder__c.Unit_ReservedLAND</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Unit_Reserved_VIP</name>
        <label>Unit Reserved VIP</label>
        <locationX>842</locationX>
        <locationY>587</locationY>
        <actionName>SalesOrder__c.Unit_ReservedVIP</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SalesOrder__c.Unit_ReservedVIP</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>UnitReservedAUH</name>
        <label>Unit Reserved AUH</label>
        <locationX>50</locationX>
        <locationY>587</locationY>
        <actionName>SalesOrder__c.Unit_Reserved</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SalesOrder__c.Unit_Reserved</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_record_is_created</name>
        <label>Check record is created</label>
        <locationX>1326</locationX>
        <locationY>336</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_record_is_created_Reserved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservation In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OpportunitySaleType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AM Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_LSQ_Project</targetReference>
            </connector>
            <label>Check record is created Reserved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_LSQ_Project</name>
        <label>Is it LSQ Project</label>
        <locationX>1331</locationX>
        <locationY>484</locationY>
        <defaultConnector>
            <targetReference>TeamLocation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>LSQ_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit__r.Project__r.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_CCO_and_Tim</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Available</name>
        <label>Queue Available?</label>
        <locationX>2161</locationX>
        <locationY>670</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Share</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>TeamLocation</name>
        <label>TeamLocation</label>
        <locationX>679</locationX>
        <locationY>484</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AUH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnitReservedAUH</targetReference>
            </connector>
            <label>AUH</label>
        </rules>
        <rules>
            <name>LAND</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LAND</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_Reserved_LAND</targetReference>
            </connector>
            <label>LAND</label>
        </rules>
        <rules>
            <name>CASA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CASA</stringValue>
                </rightValue>
            </conditions>
            <label>CASA</label>
        </rules>
        <rules>
            <name>VIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_Reserved_VIP</targetReference>
            </connector>
            <label>VIP</label>
        </rules>
        <rules>
            <name>DXB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Teams__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DXB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_Reserved_DXB</targetReference>
            </connector>
            <label>DXB</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>Reservation &amp; Sold Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Order Reservation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Share</name>
        <label>Create Opportunity Share</label>
        <locationX>2416</locationX>
        <locationY>589</locationY>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityShare</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>1922</locationX>
        <locationY>460</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OptyAccessforLSQProjects</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1046</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_record_is_created</targetReference>
        </connector>
        <object>SalesOrder__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
