force-app/main/default/flows/RETL_ONB_Send_Reminder_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Leasing_Manager</name>
        <label>Send Email to Leasing Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RETL_Service_Request__c.RETL_Send_Email_To_Leasing_Manager</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Service_Request.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RETL_Service_Request__c.RETL_Send_Email_To_Leasing_Manager</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Reminder_Email</name>
        <label>Send Reminder Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Push_Notification_to_Tenants</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>noreply@aldar.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00XFV000000vMFE2A2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Service_Request_related_to_stage.RETL_Tenant__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Third_Reminder_Email</name>
        <label>Send Third Reminder Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Push_Notification_to_Tenants_for_third_reminder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>noreply@aldar.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00XFV000000vMFE2A2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Service_Request.RETL_Tenant__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_custom_Setting_true</name>
        <label>Check for custom Setting true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Custom_setting_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.RETL_Setting__c.RETL_Internal_Team_Email_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Leasing_Manager</targetReference>
            </connector>
            <label>Custom setting true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_tenant_Email</name>
        <label>Check for tenant Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Tenant_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchStagerecords.RETL_Service_RequestId__r.RETL_Tenant__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.RETL_Setting__c.RETL_Tenant_Push_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Push_Notification</targetReference>
            </connector>
            <label>Check for Tenant Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Stage_found</name>
        <label>Check if Stage found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stage_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Request_related_to_stage</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Tenant_email_exists</name>
        <label>Check if Tenant email exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Request_related_to_stage.RETL_Tenant__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.RETL_Setting__c.RETL_Tenant_Email_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.RETL_Setting__c.RETL_Tenant_Push_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Reminder_Email</targetReference>
            </connector>
            <label>Check if Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Tenant_email_found</name>
        <label>Check if Tenant email found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_for_custom_Setting_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Check_if_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Request.RETL_Tenant__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.RETL_Setting__c.RETL_Tenant_Email_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.RETL_Setting__c.RETL_Tenant_Push_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Third_Reminder_Email</targetReference>
            </connector>
            <label>Copy 1 of Check if Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Stage_record_found</name>
        <label>If Stage record found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stage_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Request</targetReference>
            </connector>
            <label>Stage found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>KickOffMeetingBody</name>
        <dataType>String</dataType>
        <expression>&quot;The RDD Manager has scheduled your kickoff meeting. Please review your email for more information.&quot;</expression>
    </formulas>
    <formulas>
        <name>KickOffMeetingTitle</name>
        <dataType>String</dataType>
        <expression>&quot;Meeting Scheduled by RDD Manager.&quot;</expression>
    </formulas>
    <formulas>
        <name>notificationbody</name>
        <dataType>String</dataType>
        <expression>&quot;This is a reminder regarding your pending Meeting Kick Off Meeting. Please check your email for details.&quot;</expression>
    </formulas>
    <formulas>
        <name>notTitle</name>
        <dataType>String</dataType>
        <expression>{!Get_Stage_record.RETL_Stage_Developer_Name__c} &amp;&quot; Meeting is Ready!&quot;</expression>
    </formulas>
    <interviewLabel>RETL ONB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RETL ONB Send Reminder Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FetchStagerecords</name>
        <label>Fetch Stage record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_tenant_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RETL_Stage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Request</name>
        <label>Get Service Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Tenant_email_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Stage_records.RETL_Service_RequestId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RETL_Service_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Request_related_to_stage</name>
        <label>Get Service Request related to stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Tenant_email_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Stage_record.RETL_Service_RequestId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RETL_Service_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stage_record</name>
        <label>Get Stage record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Stage_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RETL_Stage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stage_records</name>
        <label>Get Stage records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Stage_record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RETL_Stage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FetchStagerecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RETL_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kick-Off</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Reminder_After_48_hours</name>
            <connector>
                <targetReference>Get_Stage_record</targetReference>
            </connector>
            <label>Reminder After 48 hours</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Reminder_After_96_hours</name>
            <connector>
                <targetReference>Get_Stage_record</targetReference>
            </connector>
            <label>Reminder After 96 hours</label>
            <offsetNumber>96</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Reminder_After_144_hors</name>
            <connector>
                <targetReference>Get_Stage_records</targetReference>
            </connector>
            <label>Reminder After 144 hors</label>
            <offsetNumber>144</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Push_Notification</name>
        <label>Send Push Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>RETL_ServiceRequestCustomPushNotification</flowName>
        <inputAssignments>
            <name>CaseRecordId</name>
            <value>
                <elementReference>FetchStagerecords.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>KickOffMeetingBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <elementReference>KickOffMeetingTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserEmail</name>
            <value>
                <elementReference>FetchStagerecords.RETL_Service_RequestId__r.RETL_Tenant__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>FetchStagerecords.RETL_Service_RequestId__r.RETL_Tenant__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserName</name>
            <value>
                <elementReference>FetchStagerecords.RETL_Service_RequestId__r.RETL_Tenant__r.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Send_Push_Notification_to_Tenants</name>
        <label>Send Push Notification to Tenants</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>RETL_ServiceRequestCustomPushNotification</flowName>
        <inputAssignments>
            <name>CaseRecordId</name>
            <value>
                <elementReference>Get_Stage_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>notificationbody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <elementReference>notTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserEmail</name>
            <value>
                <elementReference>Get_Service_Request_related_to_stage.RETL_Tenant__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>Get_Service_Request_related_to_stage.RETL_Tenant__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserName</name>
            <value>
                <elementReference>Get_Service_Request_related_to_stage.RETL_Tenant__r.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Send_Push_Notification_to_Tenants_for_third_reminder</name>
        <label>Send Push Notification to Tenants for third reminder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_custom_Setting_true</targetReference>
        </connector>
        <flowName>RETL_ServiceRequestCustomPushNotification</flowName>
        <inputAssignments>
            <name>CaseRecordId</name>
            <value>
                <elementReference>Get_Stage_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>notificationbody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <elementReference>notTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserEmail</name>
            <value>
                <elementReference>Get_Service_Request.RETL_Tenant__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>Get_Service_Request.RETL_Tenant__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserName</name>
            <value>
                <elementReference>Get_Service_Request.RETL_Tenant__r.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>parentObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tenantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
