force-app/main/default/flows/RETL_ServiceRequestCustomPushNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Push_Notification</name>
        <label>Send Push Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CustomerPushNotificationWebservice</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>notificationBody</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationClickAction</name>
            <value>
                <stringValue>fcm.ACTION.NOTIF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationFunctionalRecordId</name>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationMessageType</name>
            <value>
                <stringValue>transactional</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationSubAppType</name>
            <value>
                <stringValue>RET</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTitle</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationType</name>
            <value>
                <stringValue>NOTIFICATION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationUserEmail</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationUserId</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationUserName</name>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomerPushNotificationWebservice</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>If_Email_is_Blank</name>
        <label>If Email is Blank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Push_Notification</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RETL_ServiceRequestCustomPushNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RETL_ServiceRequestCustomPushNotification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Email_is_Blank</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
