force-app/main/default/flows/RETL_Case_with_document_Generation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Create_document_by_Conga_API</name>
        <label>Create WP document by Conga API</label>
        <locationX>440</locationX>
        <locationY>492</locationY>
        <actionName>RETL_DocumentPDFprocessor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Document_record_for_field_updation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>documentId</name>
            <value>
                <elementReference>Copy_1_of_Create_document_record_related_to_Case</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>$Record.RETL_Conga_Template_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>$Record.RETL_SR_Category__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RETL_DocumentPDFprocessor</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_document_by_Conga_API</name>
        <label>Create document by Conga API</label>
        <locationX>176</locationX>
        <locationY>492</locationY>
        <actionName>RETL_DocumentPDFprocessor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Document_record_for_field_updation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>documentId</name>
            <value>
                <elementReference>Create_document_record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>$Record.RETL_Conga_Template_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>$Record.RETL_SR_Category__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RETL_DocumentPDFprocessor</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>NOCValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NOC</stringValue>
        </value>
    </constants>
    <constants>
        <name>WorkPermit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Work Permit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Assign_document_type</name>
        <label>Assign document type</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_Document_record_for_field_updation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>If_Category_is_NOC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RETL_SR_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NOCValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_document_record</targetReference>
            </connector>
            <label>If Category is NOC</label>
        </rules>
        <rules>
            <name>If_category_is_Work_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RETL_SR_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WorkPermit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_document_record_related_to_Case</targetReference>
            </connector>
            <label>If category is Work Permit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case with document Generation</interviewLabel>
    <label>Case with document Generation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_document_record_related_to_Case</name>
        <label>Create WP document record related to Case</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_document_by_Conga_API</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Recordtype__c</field>
            <value>
                <stringValue>SR_Retail</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conga_Template__c</field>
            <value>
                <elementReference>$Record.RETL_Conga_Template__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocumentType__c</field>
            <value>
                <stringValue>Permit to Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GenerateDocument__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_document_record</name>
        <label>Create document record related to Case</label>
        <locationX>176</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Create_document_by_Conga_API</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Recordtype__c</field>
            <value>
                <stringValue>SR_Retail</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conga_Template__c</field>
            <value>
                <elementReference>$Record.RETL_Conga_Template__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocumentType__c</field>
            <value>
                <stringValue>NOC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GenerateDocument__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Document_record_for_field_updation</name>
        <label>Get Document record for field updation</label>
        <locationX>440</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_doc_field_generated_document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_document_record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Correlation_ID__c</queriedFields>
        <queriedFields>RETL_Attachment_URL__c</queriedFields>
        <queriedFields>GenerateDocument__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_doc_field_generated_document</name>
        <label>Update doc field generated document</label>
        <locationX>440</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Update_triggering_case_record_to_mark_as_resolve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_document_record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GenerateDocument__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Document__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_triggering_case_record_to_mark_as_resolve</name>
        <label>Update triggering case record to mark as resolve</label>
        <locationX>440</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>RETL_Document_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved_Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ECSS_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>ECSS_Approval_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SR_Retail</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Assign_document_type</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DocumentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>documentIds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>Event</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Event</stringValue>
        </value>
    </variables>
</Flow>
