force-app/main/default/flows/RETL_PortalAdditionalWorkspaceRegistrationEmailAlert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_To_Approver</name>
        <label>Email To Approver</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Contact.RETL_PortalRegistrationEmailToApprovers</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_To_Customer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.RETL_PortalRegistrationEmailToApprovers</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_To_Customer</name>
        <label>Email To Customer</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>Contact.RETL_PortalRegistrationEmailToCustomer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.RETL_PortalRegistrationEmailToCustomer</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>EmailToApprovers</name>
        <label>EmailToApprovers</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Contact.DM_PortalRegistrationEmailToApprovers</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailToCustomer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.DM_PortalRegistrationEmailToApprovers</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>EmailToCustomer</name>
        <label>EmailToCustomer</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Contact.DM_PortalRegistrationEmailToCustomer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.DM_PortalRegistrationEmailToCustomer</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>NullCheckForContact</name>
        <label>NullCheckForContact</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EmailNullCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_For</targetReference>
            </connector>
            <label>EmailNullCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration_For</name>
        <label>Registration For</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.CustomerVertical__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>District Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailToApprovers</targetReference>
            </connector>
            <label>DM</label>
        </rules>
        <rules>
            <name>Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CustomerVertical__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_To_Approver</targetReference>
            </connector>
            <label>Retail</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RETL_PortalAdditionalWorkspaceRegistrationEmailAlert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RETL_PortalAdditionalWorkspaceRegistrationEmailAlert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NullCheckForContact</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName}=&apos;DM_Contact&apos; &amp;&amp; {!$Record.Is_Portal_Register_User__c}</filterFormula>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
