force-app/main/default/flows/SA_Assessment_sub_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>notification_to_DLP_upon_Resolution_SA_Completion</name>
        <label>notification to DLP upon Resolution SA Completion</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>NotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Var_DLPid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Var_NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Assessment_SA.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notification_to_PMA_Resolution_SA_Completion</name>
        <label>Notification to PMA Resolution SA Completion</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>NotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_PMA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Var_NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>ResSARec.Case__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_PMA_user_Reactive</name>
        <label>Assigned PMA Reactive users</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_PMA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResSARec.Case__r.Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_to_PMA_Resolution_SA_Completion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigning_DLP</name>
        <label>assigning DLP</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Var_DLPid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Assessment_SA.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>notification_to_DLP_upon_Resolution_SA_Completion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DLP_Executive_User_Active_Decision</name>
        <label>DLP Executive User Active Decision</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assessment_SA.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecord.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assigning_DLP</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>PMA_Reactive_Decision</name>
        <label>PMA Reactive Decision</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DLP_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ResSARec.Case__r.SubVertical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DLP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResSARec.Case__r.SubVertical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assessment_SA</targetReference>
            </connector>
            <label>DLP Case</label>
        </rules>
        <rules>
            <name>PMA_Reactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResSARec.Case__r.SubVertical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PMA Reactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResSARec.Case__r.Assigned_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Record</targetReference>
            </connector>
            <label>PMA Reactive</label>
        </rules>
    </decisions>
    <description>update - V1.0</description>
    <environments>Default</environments>
    <formulas>
        <name>var_EmailBody</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!ResSARec.Status}) = &apos;DLP Review&apos;, &apos;Resolution Appointment Status is under &apos; &amp; TEXT({!ResSARec.Status}), &apos;Resolution Appointment Status is &apos; &amp; TEXT({!ResSARec.Status}))</expression>
    </formulas>
    <formulas>
        <name>Var_NotificationBody</name>
        <dataType>String</dataType>
        <expression>IF({!ResSARec.Emergency_Categeory__c} = &apos;Emergency&apos; &amp;&amp;  NOT(ISBLANK(TEXT({!ResSARec.ServiceAppointment_Closure_Reason__c}))) , {!ResSARec.AppointmentNumber} &amp; &apos; - &apos; &amp; {!ResSARec.Case__r.CaseNumber}&amp; &apos; - &apos; &amp;  {!ResSARec.Description}&amp; &apos; - Emergency &apos; &amp; {!var_EmailBody} &amp; &apos; and New Resolution Appointment Created &apos;, {!ResSARec.AppointmentNumber}&amp; &apos; - &apos; &amp; {!ResSARec.Case__r.CaseNumber}&amp; &apos; - &apos; &amp; {!ResSARec.Description} &amp; &apos; - &apos; &amp;  {!var_EmailBody})</expression>
    </formulas>
    <interviewLabel>SA Assessment sub flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SA Assessment sub flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assessment_SA</name>
        <label>Get Assessment SA</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DLP_Executive_User_Active_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResSARec.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assessment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Assign_PMA_user_Reactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResSARec.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Work In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PMA_Reactive_Decision</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>NotificationBodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>IF(TEXT({!ResSARec.Emergency_Categeory__c}) = &apos;Emergency&apos; &amp;&amp;  NOT(ISBLANK({!ResSARec.ServiceAppointment_Closure_Reason__c})) , {!ResSARec.AppointmentNumber} - {!ResSARec.Case__r.CaseNumber} - {!ResSARec.Description} - {!var_EmailBody} &amp; &apos; and New Resolution Appointment Created &apos;, {!ResSARec.AppointmentNumber} - {!ResSARec.Case__r.CaseNumber} - {!ResSARec.Description} - {!var_EmailBody})


.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Resolution Appointment Status is {!ResSARec.Status}</text>
    </textTemplates>
    <variables>
        <name>AssesSAid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.FSLBellNotificationID</elementReference>
        </value>
    </variables>
    <variables>
        <name>ResSARec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Var_DLPid</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_PMA</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
