force-app/main/default/flows/Sales_Order_Schedule_Flow_Daily.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SO_Update_for_180_DAYS</name>
        <label>SO Update for 180 DAYS</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>SalesOrder_Updt_Rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_all_sales_orders</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrder_Updt_Rec.Survey_Sent_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>180 Days</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SO_Update_Rec_assign_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SO_Update_for_365_DAYS</name>
        <label>SO Update for 365 DAYS</label>
        <locationX>402</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>SalesOrder_Updt_Rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_all_sales_orders</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrder_Updt_Rec.Survey_Sent_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>365 Days</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SO_Update_Rec_assign_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SO_Update_Rec_assign_to_List</name>
        <label>SO Update Rec assign to List</label>
        <locationX>402</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>SalesOrder_Rec_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalesOrder_Updt_Rec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_all_sales_orders</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Days_Decision</name>
        <label>Days Decision</label>
        <locationX>402</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>SO_Update_Rec_assign_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X180_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_all_sales_orders.DLP_Duration_Days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SO_Update_for_180_DAYS</targetReference>
            </connector>
            <label>180 Days</label>
        </rules>
        <rules>
            <name>X365_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_all_sales_orders.DLP_Duration_Days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>365.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SO_Update_for_365_DAYS</targetReference>
            </connector>
            <label>365 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Order_Records_Exist</name>
        <label>Sales Order Records Exist</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_all_sales_orders</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sales Order Schedule Flow (Daily) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Order Schedule Flow (Daily)</label>
    <loops>
        <name>For_all_sales_orders</name>
        <label>For all sales orders</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Sales_Order_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Days_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sales_Order_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Sales_Order_Records</name>
        <label>Get Sales Order Records</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_Order_Records_Exist</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </filters>
        <filters>
            <field>DLP_Duration_Days__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>180.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>DLP_Duration_Days__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>365.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SalesOrder__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sales_Order_Records</name>
        <label>Update Sales Order Records</label>
        <locationX>50</locationX>
        <locationY>1068</locationY>
        <inputReference>SalesOrder_Rec_List</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Order_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-02-20</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SalesOrder_Rec_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesOrder__c</objectType>
    </variables>
    <variables>
        <name>SalesOrder_Updt_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesOrder__c</objectType>
    </variables>
</Flow>
