force-app/main/default/flows/Send_Email_On_Property_Reservation_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deactivate_CP_Update_Broker_Lead_On_Unit_Release</name>
        <label>Deactivate CP &amp; Update Broker Lead On Unit Release</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ScheduleToUnLockUnBlockUnits</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Release_the_Unit</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.SalesOrder__r.Unit__r.LockedByCustomer__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unitId</name>
            <value>
                <elementReference>$Record.SalesOrder__r.Unit__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ScheduleToUnLockUnBlockUnits</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Customer_On_Property_Reservation_Cancellation</name>
        <label>Send Email to Customer On Property Reservation Cancellation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ReceiptAcknowledgement__c.Property_Reservation_Cancelled_Incomplete_Payment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ReceiptAcknowledgement__c.Property_Reservation_Cancelled_Incomplete_Payment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Full_Reservation_Amount_Not_Yet_Received</name>
        <label>Full Reservation Amount Not Yet Received</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrder__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservation In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrder__r.Is_Digital_Sales__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrder__r.Unit__r.Project__r.ReservationAmount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrder__r.DownPaymentReceivedAmount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.SalesOrder__r.Unit__r.Project__r.ReservationAmount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrder__r.Unit__r.LockedByCustomer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReceiptEmail__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Manager_Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_CP_Update_Broker_Lead_On_Unit_Release</targetReference>
            </connector>
            <label>If True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Email On Property Reservation Cancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email On Property Reservation Cancellation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Cancel_the_Sales_Order</name>
        <label>Cancel the Sales Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_to_Customer_On_Property_Reservation_Cancellation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesOrder__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Digital_Sales__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SalesOrder__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Release_the_Unit</name>
        <label>Release the Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cancel_the_Sales_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesOrder__r.Unit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DigitalSales__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DamascusSyncStatus__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LockExpiryTime__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LockTime__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LockType__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LockedByCustomer__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LockedBy__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedOpportunity__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedSalesOrder__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SalesOrder__r.Unit__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </filters>
        <object>ReceiptAcknowledgement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Cancel_the_SalesOrder_and_Release_the_Unit</name>
            <connector>
                <targetReference>Full_Reservation_Amount_Not_Yet_Received</targetReference>
            </connector>
            <label>Cancel the SalesOrder and Release the Unit</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
