force-app/main/default/flows/Sequential_Notification_Flow_for_NOC_Buyers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AgencyTeam__c.NOC_Secondary_Buyers_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Joint_Buyer.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgencyTeam__c.NOC_Secondary_Buyers_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Push_Notification_New</name>
        <label>Send Push Notification New</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CustomerPushNotificationWebservice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Push_Notification_Old</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>notificationARBody</name>
            <value>
                <elementReference>ArabicNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARTitle</name>
            <value>
                <stringValue>يحتاج فريقنا إلى معلوماتك الكاملة!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationBody</name>
            <value>
                <elementReference>NotificationBodyEn</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationClickAction</name>
            <value>
                <stringValue>fcm.ACTION.NOTIF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationFunctionalRecordId</name>
            <value>
                <elementReference>$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationFunctionalSubType</name>
            <value>
                <elementReference>$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.Unit__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationFunctionalType</name>
            <value>
                <stringValue>BUYER_DETAILS_FOR_PROPERTY_TRANSFER_NOC_NOTIFICATION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationFunctionalUnitName</name>
            <value>
                <elementReference>$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.Unit__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationMessageType</name>
            <value>
                <stringValue>transactional</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationSubAppType</name>
            <value>
                <stringValue>PRO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTitle</name>
            <value>
                <stringValue>Our team needs your full Information requested for your property purchase</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationType</name>
            <value>
                <stringValue>NOTIFICATION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationUserEmail</name>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationUserId</name>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationUserName</name>
            <value>
                <elementReference>$Record.Account__r.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomerPushNotificationWebservice</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Push_Notification_Old</name>
        <label>Send Push Notification Old</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CustomerNotificationWebService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_WhatsApp_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountEmail</name>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>importantNotification</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARBody</name>
            <value>
                <elementReference>ArabicNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationARTitle</name>
            <value>
                <stringValue>يحتاج فريقنا إلى معلوماتك الكاملة!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationBody</name>
            <value>
                <elementReference>NotificationBodyEn</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTitle</name>
            <value>
                <stringValue>Our team needs your full Information requested for your property purchase</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subType</name>
            <value>
                <elementReference>$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.Unit__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomerNotificationWebService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_WhatsApp_Message</name>
        <label>Send WhatsApp Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>WhatsappLinkInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AttributeName1</name>
            <value>
                <stringValue>CustName</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AttributeName2</name>
            <value>
                <stringValue>UnitNo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AttributeValue1</name>
            <value>
                <elementReference>Get_Buyer_Details.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AttributeValue2</name>
            <value>
                <elementReference>$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.Unit__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AttributeValue4</name>
            <value>
                <elementReference>$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.Unit__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AttributeValue5</name>
            <value>
                <stringValue>NOC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
            <value>
                <elementReference>Get_Buyer_Details.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HSMTemplateId</name>
            <value>
                <stringValue>91edc069-ff33-481a-8101-991a5a40995a</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MessageType</name>
            <value>
                <stringValue>LiveAldar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MobileNumber</name>
            <value>
                <elementReference>Get_Buyer_Details.PersonMobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProjectName</name>
            <value>
                <elementReference>$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.Unit__r.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WhatsappLinkInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Both_Recipients_in_Sent_status</name>
        <label>Both Recipients in Sent status?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yeahh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_DOA_Recipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OA_Recipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Buyer_Details</targetReference>
            </connector>
            <label>Yeahh</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NOC_Recipient</name>
        <label>Is NOC Recipient ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yeaah</name>
            <conditionLogic>( 1 AND (2 OR 3 ) )</conditionLogic>
            <conditions>
                <leftValueReference>SR_Doc.HexaBPM__Service_Request__r.SRType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Property Transfer NOC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SR_Doc.HexaBPM__Service_Request__r.Origin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SR_Doc.HexaBPM__Service_Request__r.Origin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer App</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OA_Recipients</targetReference>
            </connector>
            <label>Yeaah!</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CustomerName</name>
        <dataType>String</dataType>
        <expression>{!$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.HexaBPM__Customer__r.FirstName} +{!$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.HexaBPM__Customer__r.LastName}</expression>
    </formulas>
    <interviewLabel>Sequential Notification Flow for NOC Buyers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sequential Notification Flow for NOC Buyers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>DOA_DOC</name>
        <label>DOA DOC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OA_DOC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HexaBPM__Service_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Doc.HexaBPM__Service_Request__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Document of Adherence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HexaBPM__SR_Doc__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Buyer_Details</name>
        <label>Get Buyer Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Push_Notification_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DOA_Recipients</name>
        <label>Get DOA Recipients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Both_Recipients_in_Sent_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__SourceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DOA_DOC.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>dfsle__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>dfsle__RecipientStatus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get OA Recipients with sent status</description>
        <name>Get_OA_Recipients</name>
        <label>Get OA Recipients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_DOA_Recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__SourceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OA_DOC.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>dfsle__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>dfsle__RecipientStatus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Joint_Buyer</name>
        <label>Joint Buyer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_NOC_Recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AgencyTeam__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>OA_DOC</name>
        <label>OA DOC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Joint_Buyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HexaBPM__Service_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Doc.HexaBPM__Service_Request__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owner Association Letter</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HexaBPM__SR_Doc__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SR_Doc</name>
        <label>SR Doc</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DOA_DOC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__SourceId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HexaBPM__SR_Doc__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SR_Doc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>dfsle__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <object>dfsle__RecipientStatus__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>{!$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.HexaBPM__Customer__r.FirstName}{!$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.HexaBPM__Customer__r.LastName}is asking you to fill in your info as part of the NOC processيطلب منك ملء معلوماتك كجزء من عملية شهادة عدم الممانعة</description>
        <name>ArabicNotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.HexaBPM__Customer__r.FirstName}{!$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.HexaBPM__Customer__r.LastName} is asking you to fill in your info as part of the NOC process يطلب منك ملء معلوماتك كجزء من عملية شهادة عدم الممانعة</stringValue>
        </value>
    </variables>
    <variables>
        <description>{!$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.HexaBPM__Customer__r.FirstName}{!$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.HexaBPM__Customer__r.LastName}is asking you to fill in your info as part of the NOC process</description>
        <name>NotificationBodyEn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.HexaBPM__Customer__r.FirstName} {!$Record.dfsle__EnvelopeStatus__r.SR_Doc__r.HexaBPM__Service_Request__r.HexaBPM__Customer__r.LastName} is asking you to fill in your info as part of the NOC process</stringValue>
        </value>
    </variables>
</Flow>
