force-app/main/default/flows/Service_Request_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>CONST_Iran</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Iran</stringValue>
        </value>
    </constants>
    <constants>
        <description>Iran, Islamic Republic of</description>
        <name>CONST_Iran_IslamicRepublicof</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Iran, Islamic Republic of</stringValue>
        </value>
    </constants>
    <constants>
        <name>CONST_Palestinian_Territories</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Palestinian Territories</stringValue>
        </value>
    </constants>
    <constants>
        <name>CONST_Palestinian_Territory_Occupied</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Palestinian Territory,Occupied</stringValue>
        </value>
    </constants>
    <constants>
        <name>CONST_Russia</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Russia</stringValue>
        </value>
    </constants>
    <constants>
        <name>CONST_Russian_Federation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Russian Federation</stringValue>
        </value>
    </constants>
    <constants>
        <description>Syria</description>
        <name>CONST_Syria</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Syria</stringValue>
        </value>
    </constants>
    <constants>
        <name>CONST_Syrian_Arab_Republic</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Syrian Arab Republic</stringValue>
        </value>
    </constants>
    <decisions>
        <name>If_ActualCountryName_not_Empty</name>
        <label>If ActualCountryName not Empty</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Childs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_ActualCountryName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>VALID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCountry</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_AT_ActualCountryName_not_Empty</name>
        <label>If AT_ActualCountryName not Empty</label>
        <locationX>402</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Loop_To_check_the_Country_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AT_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AT_ActualCountryName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>VALID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_record_on_the_collection</targetReference>
            </connector>
            <label>AT Not Empty</label>
        </rules>
    </decisions>
    <description>Initial approach is to update the country name as per Standard Country State picklist</description>
    <environments>Default</environments>
    <formulas>
        <description>{!Loop_To_check_the_Country_Name.Country__c}</description>
        <name>AT_ActualCountryName</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(Text({!Loop_To_check_the_Country_Name.Country__c}),{!CONST_Iran}), {!CONST_Iran_IslamicRepublicof}, IF(CONTAINS(Text({!Loop_To_check_the_Country_Name.Country__c}),{!CONST_Russia}), {!CONST_Russian_Federation}, IF(CONTAINS(Text({!Loop_To_check_the_Country_Name.Country__c}),{!CONST_Palestinian_Territories}), {!CONST_Palestinian_Territory_Occupied}, IF(CONTAINS(Text({!Loop_To_check_the_Country_Name.Country__c}),{!CONST_Syria}), {!CONST_Syrian_Arab_Republic}, &apos;VALID&apos;))))</expression>
    </formulas>
    <formulas>
        <name>SR_ActualCountryName</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(Text({!$Record.Country__c}),{!CONST_Iran}), {!CONST_Iran_IslamicRepublicof}, IF(CONTAINS(Text({!$Record.Country__c}),{!CONST_Russia}), {!CONST_Russian_Federation}, IF(CONTAINS(Text({!$Record.Country__c}),{!CONST_Palestinian_Territories}), {!CONST_Palestinian_Territory_Occupied}, IF(CONTAINS(Text({!$Record.Country__c}),{!CONST_Syria}), {!CONST_Syrian_Arab_Republic}, &apos;VALID&apos;))))</expression>
    </formulas>
    <interviewLabel>Service Request Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Request Insert Update</label>
    <loops>
        <name>Loop_To_check_the_Country_Name</name>
        <label>Loop To check the Country Name</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <collectionReference>Get_Related_Childs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_AT_ActualCountryName_not_Empty</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Childs</name>
        <label>Get Related Childs</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_To_check_the_Country_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceRequest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AgencyTeam__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_record_on_the_collection</name>
        <label>Update the record on the collection</label>
        <locationX>270</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Loop_To_check_the_Country_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_To_check_the_Country_Name.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>AT_ActualCountryName</elementReference>
            </value>
        </inputAssignments>
        <object>AgencyTeam__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCountry</name>
        <label>UpdateCountry</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Related_Childs</targetReference>
        </connector>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>SR_ActualCountryName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_ActualCountryName_not_Empty</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HexaBPM__Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AgencyRegistration</stringValue>
            </value>
        </filters>
        <filters>
            <field>HexaBPM__External_Status_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>HexaBPM__Service_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
