force-app/main/default/flows/SubmitForApprovalFlow_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Approval_for_Property_Transfer</name>
        <label>Call Approval for Property Transfer</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Error_Screen_Approval</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approve_Charge_Waived_Off</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Call_Approval_for_Property_Transfer_NOC</name>
        <label>Call Approval for Property Transfer NOC</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen_Approval</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approve_Charge_Waived_Off</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Step_Record</name>
        <label>Check Step Record</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Step_Record</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Exemption_Reason</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Step_Record_NOC</name>
        <label>Check Step Record NOC</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_NOC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_NullNoc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Step_Record_Property_Noc</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Exemption_Reason_NOC</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Decision 2</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Property_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getChargeDiscountDoc.SRType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Property Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Step_Record</targetReference>
            </connector>
            <label>Property Transfer</label>
        </rules>
        <rules>
            <name>Property_Transfer_Noc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getChargeDiscountDoc.SRType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Property Transfer NOC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Step_Record_Property_Noc</targetReference>
            </connector>
            <label>Property Transfer Noc</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SubmitForApprovalFlow-1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubmitForApprovalFlow-1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Step_Record</name>
        <label>Get Step Record</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Step_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HexaBPM__Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signing of the Transfer Documents &amp; Collecting the Transfer Charges</stringValue>
            </value>
        </filters>
        <filters>
            <field>HexaBPM__SR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HexaBPM__Step_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HexaBPM__Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Step_Record_Property_Noc</name>
        <label>Get Step Record Property Noc</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Step_Record_NOC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HexaBPM__Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signing of the Transfer Documents &amp; Collecting the Transfer Charges</stringValue>
            </value>
        </filters>
        <filters>
            <field>HexaBPM__SR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HexaBPM__Step_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HexaBPM__Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getChargeDiscountDoc</name>
        <label>getChargeDiscountDoc</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HexaBPM__Service_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Exemption_Reason</name>
        <label>Update : Exemption Reason</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Call_Approval_for_Property_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getChargeDiscountDoc.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExemptionReason__c</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <object>HexaBPM__Service_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Exemption_Reason_NOC</name>
        <label>Update : Exemption Reason</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Call_Approval_for_Property_Transfer_NOC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getChargeDiscountDoc.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExemptionReason__c</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <object>HexaBPM__Service_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrroScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(234, 14, 14); background-color: rgb(255, 255, 255);&quot;&gt;Cannot submit record after &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(234, 14, 14); background-color: rgb(255, 255, 255);&quot;&gt;Signing of the Transfer Documents &amp;amp; Collecting the Transfer Charges&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(234, 14, 14); background-color: rgb(255, 255, 255);&quot;&gt;&quot; step Completed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Approval</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(199, 9, 9);&quot;&gt;May be you don&apos;t have permission to submit this record for approval or connect to system Admin and Share below error message.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_NOC</name>
        <label>Error Screen NOC</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ErrroScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 14, 14); font-size: 14px;&quot;&gt;Cannot submit record after &quot;&lt;/span&gt;&lt;strong style=&quot;color: rgb(234, 14, 14); font-size: 14px;&quot;&gt;Signing of the Transfer Documents &amp;amp; Collecting the Transfer Charges&lt;/strong&gt;&lt;span style=&quot;color: rgb(234, 14, 14); font-size: 14px;&quot;&gt;&quot; step Completed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_For_Approval_Flow</name>
        <label>Submit For Approval Flow</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Close</backButtonLabel>
        <connector>
            <targetReference>getChargeDiscountDoc</targetReference>
        </connector>
        <fields>
            <name>Comment</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Submit_For_Approval_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
