force-app/main/default/flows/Update_Referral_Details_on_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>ECSS_Record_Decision</name>
        <label>ECSS Record Decision</label>
        <locationX>659</locationX>
        <locationY>262</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_ECSS_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_ECSS_RecordType_Id.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Referral_Check_the_Referral_Sales_Manage</targetReference>
            </connector>
            <label>Not ECSS Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Check_the_Referral_Sales_Manage</name>
        <label>Referral Check the Referral Sales Manager</label>
        <locationX>665</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Update_Owner_ID_as_Agent_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReferralSalesManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner</targetReference>
            </connector>
            <label>Present?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Referral Details on Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Referral Details on Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ECSS_RecordType_Id</name>
        <label>Get ECSS RecordType Id</label>
        <locationX>672</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ECSS_Record_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ECSS_LeadRecordType_AlDarEstate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>533</locationX>
        <locationY>499</locationY>
        <inputAssignments>
            <field>ExemptFromAssignment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ReferralSalesManager__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_ID_as_Agent_Queue</name>
        <label>Update Owner ID as Agent Queue</label>
        <locationX>797</locationX>
        <locationY>499</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G8d000001sayLEAQ</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_ECSS_RecordType_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EnquiryCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owners Program</stringValue>
            </value>
        </filters>
        <filters>
            <field>ReferralCustomer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReferralSalesManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesManagerCustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
