force-app/main/default/flows/Update_Task_Target_Days_in_WFT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_and_task_target_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Task_Target_Days.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Target_Days_and_email</targetReference>
            </connector>
            <label>user and task target present</label>
        </rules>
        <rules>
            <name>Task_target_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task_Target_Days.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Target_Days</targetReference>
            </connector>
            <label>Task target Present</label>
        </rules>
        <rules>
            <name>user_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task_Target_Days.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_email</targetReference>
            </connector>
            <label>user Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AssignedDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(DATEVALUE({!$Record.AssginedDate__c})) &amp; &quot; 00:00:00&quot;)</expression>
    </formulas>
    <interviewLabel>Update Task Target Days in WFT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tasareeh Update Task Target Days in WFT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee_Name_Backend__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tasareeh_Employee_Email__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Task_Target_Days</name>
        <label>Task Target Days</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TaskName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task_Target_Days__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_email</name>
        <label>Update Task email</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Manager_Email__c</field>
            <value>
                <elementReference>Get_User.Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewer_Email__c</field>
            <value>
                <elementReference>Get_User.Employee_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Target_Days</name>
        <label>Update Task Target Days</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Task_Target_Days_Lookup__c</field>
            <value>
                <elementReference>Task_Target_Days.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Target_Days_and_email</name>
        <label>Update Task Target Days and email</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Manager_Email__c</field>
            <value>
                <elementReference>Get_User.Manager_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewer_Email__c</field>
            <value>
                <elementReference>Get_User.Employee_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Target_Days_Lookup__c</field>
            <value>
                <elementReference>Task_Target_Days.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Task_Target_Days</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Task_Target_Days_Lookup__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reviewer_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkflowTask__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
