force-app/main/default/flows/Validate_AMC_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Chk_SA_Recordtype</name>
        <label>Chk SA Recordtype</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>AMC_Validation_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>For Other Recordtypes</defaultConnectorLabel>
        <rules>
            <name>RT_AMC_Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServicceAppointmentRecord.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMC_Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMC_Validations</targetReference>
            </connector>
            <label>RT=AMC_Assessment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SystemDateandTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>AMC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validate AMC Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chk_SA_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>var_ServicceAppointmentRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Partner_Service_Appointments__c</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
        <queriedFields>FSSK__FSK_Assigned_Service_Resource__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>FSSK__FSK_Work_Order__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_WOLI_to_close</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServicceAppointmentRecord.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contractor_Attends_PPM_On_Time__c</field>
            <value>
                <elementReference>Contractor_Attends_PPM_On_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contractor_Carrying_Required_PPM_Tools__c</field>
            <value>
                <elementReference>Contractor_Carrying_Required_PPM_Tools_using_Standard_Protections</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contractor_Following_PPM_Checklist__c</field>
            <value>
                <elementReference>Contractor_Following_PPM_Checklist</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_to_Close</name>
        <label>Update SA to Close</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WOLI_to_close</name>
        <label>Update WOLI to close</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_SA_to_Close</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServicceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <screens>
        <name>AMC_Validation_Error_Screen</name>
        <label>AMC Validation Error Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ValdationErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This Action is applicable for AMC only.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AMC_Validations</name>
        <label>AMC Validations</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <name>Contractor_Attends_PPM_On_Time</name>
            <dataType>Boolean</dataType>
            <fieldText>Contractor Attends PPM On- Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contractor_Carrying_Required_PPM_Tools_using_Standard_Protections</name>
            <dataType>Boolean</dataType>
            <fieldText>Contractor Carrying Required PPM Tools &amp; using Standard Protections</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contractor_Following_PPM_Checklist</name>
            <dataType>Boolean</dataType>
            <fieldText>Contractor Following PPM Checklist</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SRRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>var_ServicceAppointmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
