force-app/main/default/flows/Veracode_SCA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LogRequest</name>
        <label>LogRequest</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_In_Progress_Job</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>{!sourceRecord}-{!resultId}-{!jobExecutionId}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowDebugLogger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>LogResult</name>
        <label>LogResult</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>{!isSuccess}-{!errorMessage}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowDebugLogger</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Execution_in_Progress</name>
        <label>Execution in Progress</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Job Execution is in Progress for this Record ({!jobExecutionRecord.Id} - {!jobExecutionRecord.copado__Status__c})</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Done_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Success</name>
        <label>Success</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Done_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_In_Progress</name>
        <label>Check In Progress</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Block_Execution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobExecutionRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Execution_in_Progress</targetReference>
            </connector>
            <label>Block Execution</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Veracode SCA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Veracode SCA - Prepare Result</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Done_Event</name>
        <label>Publish Done Event</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>LogResult</targetReference>
        </connector>
        <inputAssignments>
            <field>copado__Payload__c</field>
            <value>
                <stringValue>{ &quot;isSuccess&quot;: {!isSuccess}, &quot;errorMessage&quot;: &quot;{!errorMessage}&quot; }</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Topic_Uri__c</field>
            <value>
                <stringValue>/events/copado/v1/step-result/{!resultId}</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_In_Progress_Job</name>
        <label>Check In Progress Job</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_In_Progress</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>copado__ParentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sourceRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>jobExecutionId</elementReference>
            </value>
        </filters>
        <object>copado__JobExecution__c</object>
        <outputReference>jobExecutionRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Status__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LogRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>jobExecutionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobExecutionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__JobExecution__c</objectType>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sourceRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
