force-app/main/default/flows/Verify_Case_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_update_Case_Record</name>
        <label>Assign to update Case Record</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Update_Case_Rec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Rec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Rec.CaseCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Rec.SubCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sub_Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Rec.Skills_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skills_Required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Rec.ProblemCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Problem_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Rec.IncidentDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Incident_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Rec.IncidentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Incident_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Rec.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Rec.ResolutionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Rec.CaseComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DLP</name>
        <choiceText>DLP</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Case_check_condition</name>
        <label>Case check condition</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AMC_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMC_Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMC_Warning</targetReference>
            </connector>
            <label>AMC Appointment</label>
        </rules>
        <rules>
            <name>Case_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>Case Exist</label>
        </rules>
        <rules>
            <name>Status_as_Assigned_or_En_Route</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SA_record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Route</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_Display</targetReference>
            </connector>
            <label>Status as Assigned or En Route</label>
        </rules>
        <rules>
            <name>SA_status_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Display</targetReference>
            </connector>
            <label>SA status completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>DLP_Sub_Vertical_Decision</name>
        <label>DLP Sub Vertical Decision</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DLP_Sub_Vertical</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Vertical</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DLP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sub_Vertical</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_update_Case_Record</targetReference>
            </connector>
            <label>DLP Sub Vertical</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Verify Case Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Case Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_record.Case__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case_Rec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vertical__c</queriedFields>
        <queriedFields>SubVertical__c</queriedFields>
        <queriedFields>CaseCategory__c</queriedFields>
        <queriedFields>SubCategory__c</queriedFields>
        <queriedFields>Skills_Required__c</queriedFields>
        <queriedFields>ProblemCode__c</queriedFields>
        <queriedFields>ProblemCodeLocation__c</queriedFields>
        <queriedFields>IncidentDescription__c</queriedFields>
        <queriedFields>IncidentType__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>RecommendedSolution__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>ResolutionType__c</queriedFields>
        <queriedFields>CaseComments__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Record</name>
        <label>Get SA Record</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_check_condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA_record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>FSSK__FSK_Work_Order__c</queriedFields>
        <queriedFields>FSSK__FSK_Assigned_Service_Resource__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_WO_as_Assessment_Completed</targetReference>
        </connector>
        <inputReference>Update_Case_Rec</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_as_Assessment_Completed</name>
        <label>Update WO as Assessment Completed</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_record.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Assessment Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>AMC_Warning</name>
        <label>AMC Warning</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Info_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif;&quot;&gt;This Action is applicable for DLP &amp;amp; Emergency Process.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif;&quot;&gt;Please use &apos;6.Validate AMC Details&apos; button for AMC PPM visits.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assigned_Display</name>
        <label>Assigned Display</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Info_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please Check In before verify case details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Details</name>
        <label>Case Details</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DLP_Sub_Vertical_Decision</targetReference>
        </connector>
        <fields>
            <name>Case_Info</name>
            <fieldText>&lt;p&gt;Case Number : {!Case_Rec.CaseNumber}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Subject : {!Case_Rec.Subject}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Vertical : {!Case_Rec.Vertical__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sub Vertical: {!Case_Rec.SubVertical__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Skills_Required</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case_Rec.Skills_Required__c</elementReference>
            </defaultValue>
            <fieldText>Skills Required</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sub_Vertical</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case_Rec.SubVertical__c</elementReference>
            </defaultValue>
            <fieldText>Sub Vertical</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Category</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case_Rec.CaseCategory__c</elementReference>
            </defaultValue>
            <fieldText>Case Category</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sub_Category</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case_Rec.SubCategory__c</elementReference>
            </defaultValue>
            <fieldText>Sub Category</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Problem_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case_Rec.ProblemCode__c</elementReference>
            </defaultValue>
            <fieldText>Problem Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Incident_Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case_Rec.IncidentDescription__c</elementReference>
            </defaultValue>
            <fieldText>Incident Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Incident_Type</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case_Rec.IncidentType__c</elementReference>
            </defaultValue>
            <fieldText>Incident Type</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Location</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case_Rec.Location__c</elementReference>
            </defaultValue>
            <fieldText>Location</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Resolution_Type</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case_Rec.ResolutionType__c</elementReference>
            </defaultValue>
            <fieldText>Resolution Type</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Case_Comments</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case_Rec.CaseComments__c</elementReference>
            </defaultValue>
            <fieldText>Case Comments</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Complete_Display</name>
        <label>Complete Display</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Info_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Service Appointment is already completed. It is not possible to verify case details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info</name>
        <label>Info</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_Details</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please choose sub vertical as &apos;DLP&apos; only.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SA_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Update_Case_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
