force-app/main/default/flows/WC_KickStart_the_Screening_case_creation_Updation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Intiate_screening_Case</name>
        <label>Intiate screening Case</label>
        <locationX>402</locationX>
        <locationY>455</locationY>
        <actionName>tr_wc1__tr_automateScreening</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Uncheck_Triggering_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>enableMonitoring</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enableNameTransposition</name>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tr_wc1__tr_automateScreening</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_Existing_Screening_Case</name>
        <label>Check for Existing Screening Case</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Intiate_screening_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Screening_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_OGS_Enabled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_OGS_Enabled</name>
        <label>Is OGS Enabled</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_OGS_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Screening_Case__r.tr_wc1__Monitoring_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Triggering_Checkbox</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>WC : KickStart the Screening case creation/Updation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WC : KickStart the Screening case creation/Updation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Uncheck_Triggering_Checkbox</name>
        <label>Uncheck Triggering Checkbox</label>
        <locationX>226</locationX>
        <locationY>887</locationY>
        <inputAssignments>
            <field>Trigger_screening_Case__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OGS_to_True</name>
        <label>Update OGS to True</label>
        <locationX>138</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Uncheck_Triggering_Checkbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Screening_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tr_wc1__Monitoring_Enabled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>tr_wc1__KYC_Screening_Case__c</object>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Existing_Screening_Case</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.Trigger_screening_Case__c}) &amp;&amp; {!$Record.Trigger_screening_Case__c}</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
